---
import { Image } from "astro:assets";
import type { Event, PlaceholderEvent } from "@layouts/SchedulePage.astro";
import { ROOM } from "@layouts/SchedulePage.astro";
import Item from "@components/schedule/Item.astro";
import EmptyItem from "@components/schedule/EmptyItem.astro";

interface Props {
  index: string;
  roomname: string;
  roomsrc: ImageMetadata | string | null;
  events: (Event | PlaceholderEvent)[];
}

const { index = "Default", roomname = "", roomsrc = null, events = [], } = Astro.props;

import fridaySchedule from "@data/schedule/friday.json";

---

<tr>
  <th
    class={`agenda-room-cell border-2 border-black text-xs md:text-base text-center h-16 md:h-16 lg:h-16 room${index} z-50`}
  >
    <div class="uppercase flex items-center justify-center leading-4 md:leading-5">
      {roomname}
    </div>
  </th>
  {
    events.map((event) =>
      event.placeholder === true ? (
        <EmptyItem colspan={event.timeslots} />
      ) : (
        <Item
          colspan={event.timeslots}
          title={event.title}
          host={event.host}
          startDate={event.startDate}
          end={event.end}
          rating={event.rating}
          day={event.day}
          type={event.isConcert ? ROOM.Concert : event.room}
          description={event.description}
        />
      )
    )
  }
</tr>

<style>
  .room1, .room1 ~ :global(td:not([data-empty])) {
    @apply bg-pink-200 hover:bg-pink-300;
  }
  .room2, .room2 ~ :global(td:not([data-empty])) {
    @apply bg-orange-200 hover:bg-orange-300;
  }
  .room3, .room3 ~ :global(td:not([data-empty])) {
    @apply bg-blue-200 hover:bg-blue-300;
  }
  .room4, .room4 ~ :global(td:not([data-empty])) {
    @apply bg-green-200 hover:bg-green-300;
  }
  .room5, .room5 ~ :global(td:not([data-empty])) {
    @apply bg-red-200 hover:bg-red-300;
  }
  .room6, .room6 ~ :global(td:not([data-empty])) {
    @apply bg-purple-200 hover:bg-purple-300;
  }
  .room7, .room7 ~ :global(td:not([data-empty])) {
    @apply bg-neutral-300 hover:bg-neutral-400;
  }
  .room8, .room8 ~ :global(td:not([data-empty])) {
    @apply bg-cyan-200 hover:bg-cyan-300;
  }
  .room9, .room9 ~ :global(td:not([data-empty])) {
    @apply bg-cyan-200 hover:bg-cyan-300;
  }
  .room10, .room10 ~ :global(td:not([data-empty])) {
    @apply bg-indigo-200 hover:bg-indigo-300;
  }
  .room11, .room11 ~ :global(td:not([data-empty])) {
    @apply bg-indigo-200 hover:bg-indigo-300;
  }
  .roomDefault, .roomDefault ~ :global(td:not([data-empty])) {
    @apply bg-white hover:bg-neutral-400;
  }
</style>
