---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import clipboard from "../assets/2025/clipboardhoof.png";
import hoof from "../assets/2025/harmony_star_extended.png";
import staff from "../assets/2024/badge layout 2024 staff.png";
import panelist from "../assets/2024/badge layout 2024 panelist.png";
import cg from "../assets/2024/badge layout 2024 cg.png";
import vendor from "../assets/2024/badge2024_Vendor.png";
import Badge from "../components/Badge.astro";

import applyBackground from "../assets/2025/bg/stage2.png";
const optimizedApplyBackground = await getImage({
  src: applyBackground,
  format: "avif",
  width: 1920,
});
const optimizedClipboard = await getImage({
  src: clipboard,
  format: "avif",
  width: 1920,
});

import Footer from "../components/Footer.astro";
---

<Layout title="HarmonyCon 2025 | Apply">
  <div id="bg" class="overflow-x-hidden">
    <div
      id="clipboard"
      class="text-black font-serif text-center uppercase h-[95vh] w-auto flex flex-col gap-y-8 text-6xl items-center pt-24 bottom-[-1rem] fixed left-0 right-0 mx-auto"
    >
      <div>Apply</div>
      <div class="w-full items-center flex flex-col gap-y-6">
        <Badge
          src={staff}
          href="https://reg-2025.harmonycon.org/staff/application.php"
          active={true}
          title="Staff"
        />
        <Badge
          src={panelist}
          href="https://reg-2025.harmonycon.org/staff/application.php"
          active={false}
          title="Panelist"
        />
        <Badge
          src={vendor}
          href="https://reg-2025.harmonycon.org/staff/application.php"
          active={false}
          title="Vendor"
        />
      </div>
    </div>
    <!-- <Image
      src={hoof}
      class="z-10 w-104 h-auto fixed left-[21vw] bottom-[-22rem] rotate-[205deg]"
      alt="Hoof"
    /> -->
  </div>
  <Footer />
</Layout>
<style
  define:vars={{
    optimizedApplyBackground: `url(${optimizedApplyBackground.src})`,
    optimizedClipboard: `url(${optimizedClipboard.src})`,
  }}
>
  @media (max-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedApplyBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 25% 70px;
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedApplyBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
    }

    #clipboard {
      background-image: var(--optimizedClipboard);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
</style>
