---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import cocBackground from "../assets/2025/bg/wood-black.jpg";
const optimizedCocBackground = await getImage({
  src: cocBackground,
  format: "avif",
  width: 1000,
});

import paper from "../assets/2025/bg/paper.webp";
const optimizedPaper = await getImage({
  src: paper,
  format: "avif",
  width: 1000,
});

import tune from "../assets/2025/harmonic_tune_cm2.png";
import star from "../assets/2025/harmony_star_cm.png";
import Footer from "../components/Footer.astro";

import starsign from "../assets/2025/starsign.png";
import tunesign from "../assets/2025/tunesign.png";
---

<Layout
  title="HarmonyCon 2025 | Code of Conduct"
  desktopOverflow="true"
  mobileOverflow="true"
>
  <canvas
    id="map"
    class="hidden xl:block fixed bottom-[25px] left-[25px] w-[100px] h-full z-50 rounded-none"
  ></canvas>
  <div id="bg" class="overflow-x-hidden md:px-0 px-4 pt-8 md:pt-16">
    <div
      id="paper"
      style="filter: drop-shadow(0 2px 2px #fff);"
      class="mb-8 md:mb-12 text-black md:mx-auto mx-auto py-4 xl:py-8 sm:px-16 md:px-20 lg:px-32 xl:px-48 font-serif relative rounded w-full md:w-11/12 lg:w-11/12 xl:w-288 bg-white"
    >
      <h1>Rules</h1>
      <h2>Act 1: Code of Conduct</h2>
      <h3>Scene I: Introduction</h3>
      <div class="desc">
        <span class="text-base md:text-xl font-extrabold">
          These rules are subject to change at any time.
        </span>
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <h5>
          All attendees are assumed to have read and understand the rules and
          policies and agreed to them upon receiving a badge. Ignorance does not
          excuse breaking these rules. Anyone who accepts a membership badge
          agrees to indemnify and hold harmless HarmonyCon from any claim for
          personal injuries or other damages or equity arising out of any
          individual's activities at HarmonyCon or its events, even if such
          injury or damage is caused by negligence by or on the part of
          HarmonyCon.
        </h5>
        <h5 class="mb-8">
          HarmonyCon seeks to make its staff members available to all its
          attendees. Staff members will be wearing special badges to indicate
          their status. If you have a problem, please alert a staff member to
          the issue.
        </h5>
      </div>
      <h3>Scene II: General Rules</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <h5>The following behaviors are prohibited in any public area:</h5>
        <ul>
          <li>Public displays of affection that go beyond "family friendly"</li>
          <li>
            Disrespect of hotel staff or damage to hotel property including
            attaching or hanging things on hotel walls (stickers, posters, etc.)
          </li>
          <li>Excessively loud volumes</li>
          <li>
            Failure to wear appropriate attire up to and including shirts,
            pants/shorts, and footwear (HarmonyCon staff may require attendees
            to alter attire if it is determined to be inappropriate)
          </li>
          <li>Sleeping</li>
          <li>
            Consumption of alcoholic beverages anywhere other than the hotel bar
            and hotel restaurant.
          </li>
        </ul>
        <h5>
          All public areas of the hotel are non-smoking. This includes
          e-cigarettes and similar vapor-generating devices. The hotel has
          designated areas where smoking is permitted.
        </h5>
        <h5>
          Any usage, sale, or possession of illegal or non-prescribed controlled
          substances will constitute cause to revoke membership of those
          involved and will be reported to the local authorities.
        </h5>
        <h5>
          All parties at which alcohol is served or consumed must verify that
          every person attending the party is 21 years of age or older by
          checking government-issued photo IDs. Any party found serving alcohol
          to or allowing consumption of alcohol by anyone under the age of 21
          will be shut down immediately and will be remanded to the authorities.
        </h5>
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <h5>
          Any attendees engaging in behavior which endangers life or property
          (such as, but not limited to, pulling fire alarms or creating
          hazardous situations) will have their membership revoked immediately
          and may be asked not to return to future events. If warranted, law
          enforcement may be called.
        </h5>
        <h5>
          HarmonyCon accepts no liability for whatever may occur within the
          confines of private hotel rooms. Incidents that occur in these rooms
          are the sole responsibility of the individual(s) to whom the room is
          rented. This includes payment for any and all damage, responsibility
          for complaints levied against the room, and any other issues that may
          arise. Please note that if a situation should occur that may present a
          threat to the convention and/or its attendees, HarmonyCon has a
          responsibility to report it to the proper authorities.
        </h5>
        <h5>
          While HarmonyCon wholeheartedly endorses get-togethers, meet-ups, and
          other gatherings, it is imperative that any materials used to
          advertise these events be tasteful and posted in an acceptable area
          and in such a manner wherein no damage will be caused to the hotel.
          This includes limiting such posts to designated areas. HarmonyCon
          reserves the right to remove any posted notices deemed inappropriate.
          Minors will be in attendance therefore all attendees must help us
          maintain a safe, family-friendly environment and refrain from cursing,
          violence, and other inappropriate behavior.
        </h5>
        <h5>
          The following behaviors are also prohibited in any public area:
          display of adult-themed subject matter, running, and the selling of
          goods or services at the convention without prior approval from
          HarmonyCon staff. HarmonyCon is a family friendly convention, which is
          to be considered at all times and in all areas of the convention,
          unless expressly stated otherwise.
        </h5>
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <h5>
          HarmonyCon has a strict no harassment policy. Your safety is a top
          priority and we take pride in being a safe and welcoming environment
          for all of our attendees. As such, offensive or harassing behavior
          will not be tolerated. Harassment can include: physical or verbal
          threats, unwelcome attentions, stalking, annoying, pushing, shoving,
          use of physical force which in any way creates a disturbance that is
          disruptive or dangerous, any boisterous, lewd, or generally offensive
          behavior or language, using sexually explicit or offensive language or
          conduct, profanity or obscene gestures, or racial, religious, or
          ethnic slurs. If people tell you NO, your business with them is done.
          If you continue to attempt to have contact with such people, you may
          be removed from the premises and your membership revoked without a
          refund. Remember: "No" means <span
            class="font-bold underline underline-offset-2">NO</span
          >. "Stop" means <span class="font-bold underline underline-offset-2"
            >STOP</span
          >. "Go away" means <span
            class="font-bold underline underline-offset-2">GO AWAY</span
          >. Also remember: <span class="font-bold underline underline-offset-2"
            >cosplay is NOT CONSENT</span
          >. You must receive permission to take pictures of others, make
          physical contact with others, etc.
        </h5>
        <h5>
          It is very important that if you are being harassed or are in any way
          endangered, you should report it to staff immediately. We cannot
          address anything that we are not aware of, and we need whatever
          details can be provided, such as names, badge numbers, or other
          descriptive information. If a member of the safety team is not in your
          immediate vicinity any other staffer will be able to call one for you.
          If at any time you feel your personal safety or the safety of others
          is in jeopardy, please contact the police department via 911.
        </h5>
        <h5>
          If something you have done or said has inadvertently offended someone,
          the best practice is to genuinely apologize for the offense and then
          walk away from the situation. Prolonged explanations frequently lead
          to worsening conditions. “I'm sorry I offended you” sums it up nicely
          and gives you a graceful line to leave on. Best of all, everybody's
          dignity is left intact. Likewise, if somebody offers you a heartfelt
          apology and walks away, don't shout after or pursue them, or else you
          may inadvertently become the harasser after their indiscretion. Accept
          their apology and move on. Please note that apologizing does NOT
          excuse a person from the policy on harassment. It is just an important
          step to help prevent the need for convention/security intervention in
          cases of genuine accidental offenses.
        </h5>
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <h5>
          Photography is welcome at HarmonyCon. Journalists and press members
          must obtain and display an official HarmonyCon press badge. Commercial
          photography, video recordings, and interviews with staff, guests, or
          attendees are prohibited without a press badge. To obtain one, send a
          request to <a
            class="underline underline-offset-2 hover:text-blue-500 duration-200"
            href="mailto:info@harmonycon.org">info@harmonycon.org</a
          >. Please consider disabling your flash while projectors are in use,
          as it is distracting.
        </h5>
        <h5>
          Many people will be taking videos and photos during the convention, so
          you may find yourself in photos or video recordings. HarmonyCon may
          photograph or video record events for promotional purposes. By
          attending the convention, you consent to being recorded and
          photographed in convention spaces. If you would like to take a picture
          of someone or their art, ask permission first. If they say no and you
          disregard them, this is an act of harassment and could result in
          action being taken by our staff or safety team.
        </h5>
        <h5>
          Panelists and artists may ask that no photographs or video be taken of
          their panels and artwork. All attendees are expected to comply with
          these requests.
        </h5>
        <h5>
          Any notices, flyers, or other items attached to unapproved surfaces
          will be immediately removed upon discovery by a staff member.
        </h5>
        <h5>
          You may request a refund up to 30 days after purchase or until January
          9th, whichever comes <span class="underline underline-offset-2"
            >first</span
          >.
        </h5>
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <h5 class="mb-8">
          HarmonyCon staff members will make every attempt to be exercise
          fairness, leniency, and understanding in the case of infractions,
          though issues will be dealt with in accordance to their severity. If
          you feel that you have been treated unfairly by a member of our staff
          or security, you may take the matter up with the head of security or
          the convention chairmen.
        </h5>
      </div>
      <h3>Scene III: Attendee Badges</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <h5>
          Convention attendees must wear their official convention badge at all
          times while in public convention areas, and it must be shown on
          request to any member of convention staff, security, hotel staff, or
          law enforcement. Your badge will contain a badge name of your choosing
          (subject to staff approval). Altering convention badges in such a
          manner as to obscure any of these elements renders the badge unusable.
          If your badge becomes unusable or lost, it will be replaced at a rate
          of $10 US per badge. Any person found using a counterfeit badge, using
          a badge not belonging to them, or making copies of their badge for
          others will have their membership revoked and be barred from returning
          this year and subsequent years.
        </h5>
        <h5 class="mb-8">
          HarmonyCon reserves the right to deny or revoke membership at any time
          for any reason. In the event that HarmonyCon staff deem it necessary
          to revoke any attendee's membership, one of the safety department
          heads or a con chair will be contacted. Should the decision be made to
          revoke the attendee's badge, that attendee must surrender their
          convention badge to said safety department head or con chair and leave
          HarmonyCon convention spaces immediately. Said attendee will not be
          entitled to any manner of refund or compensation for the price of
          their membership. This includes all levels of membership.
        </h5>
      </div>
      <h3>Scene IV: Identification</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <h5 class="mb-8">
          All attendees of HarmonyCon (not including minors accompanied by a
          parent or guardian) must present a single, government-issued photo ID
          at registration which clearly states their full legal name and date of
          birth (military ID, driver's license, passport, etc). School or
          employee IDs are NOT acceptable forms of ID. Any person who does not
          present an acceptable form of ID will not be allowed to complete
          registration or be granted a convention badge of membership. Any
          person who provides a forged ID will be remanded to the custody of the
          local police.
        </h5>
      </div>
      <h3>Scene V: MINORS</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <h5>
          Minors who will be ages 16 or 17 at the time of registration check-in
          may attend HarmonyCon without a parent or guardian if they present a
          government-issued photo ID which clearly states their full name and
          date of birth. Minors who will be 16 or 17 who are unable to provide
          an acceptable government-issued photo ID must be accompanied by a
          parent or legal guardian at all times in any official convention
          spaces. Parents and guardians will be held responsible for damage or
          problems caused by their minors. Any minor who provides a forged photo
          ID will be remanded to the custody of the local police.
        </h5>
        <h5 class="mb-8">
          Children who will be age 15 or below at the time of registration
          check-in do not need to provide a government-issued photo ID, but must
          register with a parent or legal guardian. The children must be
          accompanied by their parent or guardian at all times in any official
          convention spaces. Parents or guardians will be held responsible for
          any damages or problems caused by their children.
        </h5>
      </div>
      <h3>Scene VI: RULES PERTAINING TO BANNING</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <h5>
          Don't publicly ask us to ban people. We do not make bans public
          because doing so can instigate the issue further and potentially
          increase risk for victims and attendees. We will not respond to
          questions about other people's convention statuses.
        </h5>
        <h5>
          Our role as volunteers does not include conflict resolution, nor are
          we professionally trained to do so. We ask that a reasonable attempt
          to resolve or prevent further escalation of personal conflict be made
          before involving volunteer staff. If the issue cannot be resolved or
          continues to escalate, tell a volunteer and we will make our best
          attempt to help resolve the issue or escalate it to authorities. If
          you are in danger, find safety, contact authorities, or find someone
          who can help you get to safety and contact authorities.
        </h5>
        <h5>
          If you are being harassed, tell the harasser clearly to stop and not
          to bother you anymore as long as doing so will not put you in
          immediate danger; if you are in immediate danger, contact the
          authorities. If they persist, then contact us at <a
            class="underline underline-offset-2 hover:text-blue-500 duration-200"
            href="mailto:conchair@harmonycon.org">conchair@harmonycon.org</a
          > with information on the situation, and we will assess how best to move
          forward so that you are safe within our convention spaces.
        </h5>
        <h5>
          If you believe someone attending HarmonyCon is a potential threat to
          other attendees, you can also contact us at <a
            class="underline underline-offset-2 hover:text-blue-500 duration-200"
            href="mailto:conchair@harmonycon.org">conchair@harmonycon.org</a
          > and we will look into the situation.
        </h5>
        <h5>
          HarmonyCon is committed to the safety of all attendees and will work
          to ensure the best possible solution for all involved.
        </h5>
        <h5 class="mb-8">
          HarmonyCon reserves the right to amend these rules without prior or
          posted notice.
        </h5>
      </div>

      <div class="mt-8 text-center text-3xl uppercase">
        Act 2: Health and Safety
      </div>
      <h3>Scene I: Health and Safety</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <h5>
          There are no strict mandates for health guidelines this year.
          HarmonyCon encourages everyone to stay up-to-date with flu and covid
          vaccines. Anyone who wishes to wear a mask is welcome and we will have
          plenty of masks onsite in case anyone needs one.
        </h5>
        <h5>
          The only case where we may require the use of a mask is if anyone is
          demonstrating contagious symptoms (excessive coughing, sneezing,
          etc.). If any HarmonyCon staff ask you to wear a mask, you will be
          required to in con spaces.
        </h5>
        <h5 class="mb-8">
          It is flu season and conventions run a risk of spreading viruses. If
          you are sick right before or during HarmonyCon – DO NOT COME. Email us
          at
          <a
            class="underline underline-offset-2 hover:text-blue-500 duration-200"
            href="mailto:info@harmonycon.org">info@harmonycon.org</a
          > and we will work something out! You are responsible for your own health,
          but please keep in mind that you affect everyone's health!
        </h5>
      </div>
      <div class="mt-8 text-center text-3xl uppercase">Act 3: Cosplay</div>
      <h3>Scene I: Cosplay Policy</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <h5>
          HarmonyCon welcomes all cosplayers! We want to provide a fun and safe
          environment for everyone, so there are a few requirements when it
          comes to dressing up:
        </h5>
        <ul class="mb-8">
          <li>
            Nothing that looks like a weapon! The Dallas Hyatt has police onsite
            and we do not want any issues or altercations with them!
          </li>
          <li>No sharp protrusions</li>
          <li>No projectiles</li>
          <li>No laser pointers or lights that can hurt or damage eyes</li>
          <li>
            Keep costumes family-friendly (swimsuit areas well-covered, no
            profanity or offensive symbols)
          </li>
          <li>
            Nothing representing hateful/discriminating organizations. If we see
            this happening, the cosplayer will have their badge revoked.
          </li>
          <li>No bare feet.</li>
          <li>
            Your costume should not obstruct views or bump into people due to
            size, visibility, or maneuverability during panels and events.
          </li>
          <li>All costumes must comply with local laws.</li>
        </ul>
      </div>
      <h3>Scene II: Cosplay Contest</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <h5 class="mb-8">
          The HarmonyCon Cosplay Contest will be held Saturday, February 3 at 3
          PM. There is mandatory pre-judging beginning at 1:00 PM in the
          Autograph Room. Contest registration forms will be available at the
          Registration Desk. The judges are Crackle's Cousin Cosplay,
          TerraKlysh, and Bunny Inkwell who are all excited to see you there!
          Bolt the Super Pony will be the contest DJ.
        </h5>
      </div>
      <h3>Scene III: Cosplay Contest Rules</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <ul class="mb-8">
          <li>
            In order to compete, all entrants must complete an entry form and
            appear at both prejudging and stage presentation to compete.
          </li>
          <li>
            All skill levels and cosplays are welcome from closet cosplay to
            fully crafted.
          </li>
          <li>
            All cosplays must remain G rated, all private parts are fully
            covered; no offensive cosplays.
          </li>
          <li>
            No stage effects such as smoke, flash bombs, glitter bombs, or
            anything noisy, messy, or seizure risk.
          </li>
          <li>
            Cosplayers are responsible for their own safety and the safety of
            those around them, handlers are permitted if needed.
          </li>
          <li>
            Cosplayers are to respect each other and the judges' decisions.
            Inappropriate behavior towards fellow contestants or judges may ban
            participants from future competition or further action taken as
            necessary.
          </li>
          <li>
            All ICG guidelines will be followed for fair and equitable
            competition, etiquette, and procedures.
          </li>
          <li>Closet Cosplays and cosplays from outside MLP are allowed.</li>
          <li>
            Purchased or commission cosplays or those made by another must be
            indicated as such, and the maker must be present to win.
          </li>
        </ul>
      </div>
      <h3>Scene IV: Cosplay Contest Categories</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE
        </h4>
        <ul class="mb-8">
          <li>Youth: 17 and under regardless of cosplay experience level</li>
          <li>
            Novice: new to cosplay or unawarded 1st in any previous competition
          </li>
          <li>
            Intermediate: experienced cosplayer or have won 1st in Novice
            previous but not in Intermediate, Advanced, or Masters, or best in
            show
          </li>
          <li>
            Masters: experienced cosplayer with previous 1st in Intermediate or
            Best in show or previous Master level competition entries
          </li>
        </ul>
      </div>

      <div class="mt-8 text-center text-3xl uppercase">Act 4: Epilogue</div>
      <h3>Scene I: Lorem Ipsum</h3>
      <div class="desc">
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmony Star cutie mark"
            src={star}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONY STAR
        </h4>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </h5>
        <h4 class="flex items-center justify-center">
          <Image
            format="avif"
            alt="Harmonic Tune cutie mark"
            src={tune}
            width={100}
            class="h-6 w-auto mr-2"
          /> HARMONIC TUNE (perplexed)
        </h4>
        <h5 class="mb-8">What?</h5>
      </div>

      <div class="flex mt-8 md:mt-24 mb-8">
        <div class="w-1/2 px-2 md:px-8">
          <div class="flex flex-row justify-between">
            <Image
              format="avif"
              alt="Harmonic Tune cutie mark"
              src={tune}
              width={400}
              class="h-10 sm:h-16 md:h-20 w-auto"
            />
            <Image
              format="avif"
              alt="Harmonic Tune signature"
              src={tunesign}
              width={400}
              class="h-10 sm:h-16 md:h-20 w-auto"
            />
          </div>
          <hr class="border-black border md:border-2" />
        </div>
        <div class="w-1/2 px-2 md:px-8">
          <div class="flex flex-row justify-between">
            <Image
              format="avif"
              alt="Harmony Star cutie mark"
              src={star}
              width={400}
              class="h-10 sm:h-16 md:h-20 w-auto"
            />
            <Image
              format="avif"
              alt="Harmony Star signature"
              src={starsign}
              width={400}
              class="h-10 sm:h-16 md:h-20 w-auto"
            />
          </div>
          <hr class="border-black border md:border-2" />
        </div>
      </div>
      <div
        class="text-sm md:text-3xl mx-auto w-64 md:w-80 mt-8 sm:mt-8 md:mt-16 lg:mt-16"
      >
        <div class="flex flex-col justify-end">
          <div class="w-full flex items-end justify-between">
            <span
              id="clearCanvas"
              class="cursor-pointer hover:bg-red-200 rounded hover:text-black"
              >✘</span
            >
            <canvas
              id="myCanvas"
              height="96"
              width="300"
              class="cursor-crosshair w-64 sm:w-auto h-16 md:h-24 bg-white border-black border"
            ></canvas>
          </div>
          <hr />
          <span class="text-right text-emerald-700">(YOU)</span>
        </div>
      </div>
    </div>

    <Footer />
  </div>
</Layout>

<style
  define:vars={{
    optimizedCocBackground: `url(${optimizedCocBackground.src})`,
    optimizedPaper: `url(${optimizedPaper.src})`,
  }}
>
  ul {
    list-style-position: inside;
    list-style-type: "— ";
    @apply text-base leading-tight md:text-lg md:leading-snug ml-4 md:ml-12;
  }

  ul ul {
    list-style-position: inside;
    list-style-type: "— ";
    @apply ml-12;
  }

  ul ul ul {
    list-style-position: inside;
    list-style-type: "— ";
    @apply ml-12;
  }
  .desc {
    @apply mt-2 md:mt-4 leading-tight text-xl font-mono;
  }

  h1 {
    @apply text-center text-6xl md:text-7xl uppercase;
  }

  h2 {
    @apply mt-4 md:mt-8 text-center text-2xl md:text-3xl uppercase;
  }

  h3 {
    @apply mt-2 md:mt-4 text-center text-xl md:text-2xl uppercase underline underline-offset-4;
  }

  h4 {
    @apply my-2 md:my-4 text-xl md:text-2xl text-center;
  }

  h5 {
    @apply leading-tight md:leading-normal text-base md:text-xl mt-2 px-4 md:px-8;
  }

  #bg {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;

    background-image: var(--optimizedCocBackground);
    background-repeat: repeat;
    background-size: 100%;
    background-position: center;
    opacity: 1;
  }

  #paper {
    background-image: var(--optimizedPaper);
    background-repeat: repeat;
    background-size: 60%;
    background-position: center;
    opacity: 1;
  }
</style>

<script>
  import pagemap from "pagemap";

  const initPageMap = () => {
    const pm = document.getElementById("map");
    if (pm) {
      pagemap(pm, {
        viewport: null,
        styles: {
          // "header,footer,section,article": "rgba(0,0,0,0.1)",
          footer: "rgba(0,0,0,0.5)",
          // "a,span": "rgba(0,0,0,0.35)",
          h2: "rgba(0, 0, 0, 0.8)",
          h3: "rgba(0, 0, 0, 0.8)",
          h4: "rgba(0, 0, 0, 0.6)",
          h5: "rgba(0, 0, 0, 0.2)",
          "h6,p,li,span": "rgba(0,0,0,0.15)",
        },
        back: "rgba(255, 255, 255,0.5)",
        view: "rgba(0,0,0,0.3)",
        drag: "rgba(0,0,0,0.5)",
        interval: null,
      });
    }

    let lastX = 0;
    let lastY = 0;

    const setLastCoords = (e) => {
      const { x, y } = c.getBoundingClientRect();
      lastX = e.clientX - x;
      lastY = e.clientY - y;
    };

    const freeForm = (e) => {
      if (e.buttons !== 1) return; // left button is not pushed yet
      penTool(e);
    };

    const c = document.getElementById("myCanvas");
    if (!(c instanceof HTMLCanvasElement)) {
      return;
    }

    // c.addEventListener("click", penTool); // fires after mouse left btn is released
    c.addEventListener("mousedown", setLastCoords); // fires before mouse left btn is released
    c.addEventListener("mousemove", freeForm);

    const ctx = c.getContext("2d");

    const clearCanvas = (e) => {
      ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    };

    document
      .getElementById("clearCanvas")
      .addEventListener("mousedown", clearCanvas);
    const penTool = (e) => {
      const { x, y } = c.getBoundingClientRect();
      const newX = e.clientX - x;
      const newY = e.clientY - y;

      ctx.beginPath();
      ctx.lineWidth = 3;
      ctx.moveTo(lastX, lastY);
      ctx.lineTo(newX, newY);
      ctx.strokeStyle = "black";
      ctx.stroke();
      ctx.closePath();

      lastX = newX;
      lastY = newY;

      // triggerAchievement("achievement-signer");
    };
  };

  initPageMap();

  document.addEventListener("swup:enable", () => {
    window.swup.hooks.on("content:replace", () => {
      initPageMap();
    });
  });
</script>
