---
import { Image, getImage } from "astro:assets";
import Star from "../components/Star.astro";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/15.png";
import img2 from "../assets/2025/brittney.png";
import img3 from "../assets/2025/saphy.png";
import img4 from "../assets/2025/Jr.png";
import img5 from "../assets/2025/kahas.png";

import phone from "../assets/2025/HC-LockedPhone2.png";

import creditsBackground from "../assets/2025/bg/terrazzo-transformed.jpg";
const optimizedCreditsBackground = await getImage({
  src: creditsBackground,
  format: "webp",
  width: 2000
});
---

<Layout title="HarmonyCon 2025 | Credits">
	<div id="bg">
	</div>
	<div class="flex flex-col h-screen mt-16 gap-y-44">
		<div class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-white z-10" style="text-shadow: 3px 3px 1px #D4AF37;" >
			Credits
		</div>
		<div class="flex justify-center items-end gap-x-56 mx-auto mt-8">
			<Star name="15" url="https://pony.best" pfp={img1} title="Tech lead, frontend development"/>
			<Star name="Brittney Ackerman" url="https://lbrcloud.carrd.co/" pfp={img2} title="Art lead, art assets"/>
			<Star name="JayArr" pfp={img4}  title="Art assets"/>
		</div>
		<div class="flex justify-center items-end gap-x-64 mx-auto">
			<Star name="SaphyArts" url="https://ko-fi.com/saphymoon/commissions" pfp={img3} title="Art assets"/>
			<Star name="Kahas" pfp={img5}  title="Con registration system"/>
		</div>
	</div>
	<Image
      alt="Harmony Star looking at phone"
      src={phone}
      width={400}
      class="hidden 2xl:block z-0 duration-500 rotate-[10deg] absolute md:right-[3%] md:bottom-[-5%] rounded-lg w-96 h-auto md:w-72"
    />
</Layout>

<style define:vars={{optimizedCreditsBackground: `url(${optimizedCreditsBackground.src})`}}>
#bg {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
		height: auto;
		min-height: 100%;
	/* height: auto; */

	background-image: var(--optimizedCreditsBackground);
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	opacity: 1;
}
</style>