---
import { Image, getImage } from "astro:assets";
import Star from "../components/Star.astro";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/15.png";
import img2 from "../assets/2025/brittney.png";
import img3 from "../assets/2025/saphy.png";
import img4 from "../assets/2025/Jr.png";
import img5 from "../assets/2025/kahas.png";
import img6 from "../assets/2025/confetticakez.jpg";
import img7 from "../assets/2025/windshear.png";
import img9 from "../assets/2025/lunarharmony.png";

import phone from "../assets/2025/HC-LockedPhone2.png";

import creditsBackground from "../assets/2025/bg/terrazzo-transformed.jpg";
const optimizedCreditsBackground = await getImage({
  src: creditsBackground,
  format: "avif",
  width: 1000,
});
import Footer from "../components/Footer.astro";
---

<Layout title="HarmonyCon 2025 | Credits">
  <div id="bg" class="overflow-hidden">
    <div
      class="h-full flex flex-col pt-8 md:pt-16 gap-y-40 md:gap-y-36 2xl:gap-y-40"
    >
      <div
        class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-white z-10"
        style="text-shadow: 3px 3px 1px #D4AF37;"
      >
        Credits
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-center items-end mx-auto max-w-full sm:max-w-full md:max-w-192 lg:max-w-256 xl:max-w-288 2xl:max-w-320 w-full gap-y-48 mt-8 mb-8 md:mb-24"
      >
        <Star
          name="15"
          url="https://pony.best"
          pfp={img1}
          title="Frontend development, web design"
        />
        <Star
          name="Brittney Ackerman"
          url="https://linktr.ee/lbrcloud"
          pfp={img2}
          title="Art assets"
        />
        <Star name="JayArr" pfp={img4} title="Art assets" />
        <Star
          name="SaphyArts"
          url="https://saphypone.carrd.co/"
          pfp={img3}
          title="Art assets"
        />
        <Star name="Kahas" pfp={img5} title="Con registration system" />
        <Star
          name="ConfettiCakez"
          url="https://linktr.ee/confetticakez"
          pfp={img6}
          title="Art assets"
        />
        <Star
          name="Windshear"
          url="https://windykirin.carrd.co/"
          pfp={img7}
          title="Art assets"
        />
        <!-- <Star name="WindyKirin" pfp={img7} title="Art assets" /> -->
        <Star
          name="Lunar Harmony"
          url="https://lunar.horse/"
          pfp={img9}
          title="Art assets"
        />
        <Image
          alt="Harmony Star looking at phone"
          src={phone}
          height={600}
          format="avif"
          class="hidden lg:block z-0 duration-500 rotate-0 md:rotate-[10deg] mx-auto max-w-64 md:max-w-48 lg:max-w-48 xl:max-w-64 2xl:max-w-72 h-auto md:w-48 lg:w-48 xl:w-48 2xl:w-56 md:-mt-96 lg:-mb-8 xl:-mb-8 2xl:-mb-12"
        />
      </div>
    </div>
    <Image
      alt="Harmony Star looking at phone"
      src={phone}
      height={600}
      format="avif"
      class="block lg:hidden z-0 duration-500 rotate-0 md:rotate-[10deg] mx-auto mt-8 mb-8 md:mt-0 md:mb-0 lg:absolute md:right-[0%] lg:right-[10%] 2xl:right-[1%] 2xl:bottom-[10%] md:bottom-[6%] rounded-lg w-2/3 max-w-64 md:max-w-48 lg:max-w-48 xl:max-w-64 2xl:max-w-72 h-auto md:w-48 lg:w-48 xl:w-64 2xl:w-72"
    />

    <Footer />
  </div>
</Layout>

<style
  define:vars={{
    optimizedCreditsBackground: `url(${optimizedCreditsBackground.src})`,
  }}
>
  #bg {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;

    background-image: var(--optimizedCreditsBackground);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
  }
</style>
