---
import { Image } from "astro:assets";
import Star from "../components/Star.astro";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/15.png";
import img2 from "../assets/2025/brittney.png";
import img3 from "../assets/2025/saphy.png";
import img4 from "../assets/2025/Jr.png";
import img5 from "../assets/2025/kahas.png";
---

<Layout title="HarmonyCon 2025 | Credits">
	<div id="bg">
	</div>
	<div class="flex flex-col h-screen items-center justify-center">
		<div class="flex justify-center items-end gap-x-64 mx-auto  h-1/3">
				<Star name="15" pfp={img1} title="Tech lead, frontend development"/>
				<Star name="Brittney Ackerman" pfp={img2} title="Art lead, art assets"/>
				<Star name="SaphyArts" pfp={img3} title="Art assets"/>
		</div>
		<div class="flex justify-center items-end gap-x-64 mx-auto h-1/3">
				<Star name="JayArr" pfp={img4}  title="Art assets"/>
				<Star name="Kahas" pfp={img5}  title="Con registration system"/>
		</div>
	</div>
</Layout>

<style>
#bg {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
		height: auto;
		min-height: 100%;
	/* height: auto; */

	background-image: url("../terrazzo-transformed.jpg");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	opacity: 1;
}
</style>