---
import { Image, getImage } from "astro:assets";
import Star from "../components/Star.astro";
import Layout from "../layouts/Layout.astro";

import galleryBackground from "../assets/2025/marble.webp";
const optimizedGalleryBackground = await getImage({
  src: galleryBackground,
  format: "webp",
  width: 2000
});


import img0 from "../assets/2025/flyer.png";
import img1 from "../assets/2025/bg/bar_temp1.png";
import img2 from "../assets/2025/bg/bar_temp2.png";
import img3 from "../assets/2025/HC-LockedPhone2.png";
import img4 from "../assets/2025/HarmonyCon 2025 Logo.png";
import img5 from "../assets/2025/HarmonyCon 2025 Logo HC.png";
import img6 from "../assets/2025/bg/stage3.png";
import img7 from "../assets/2025/isolated_star.png";
import img8 from "../assets/2025/isolated_tune.png";
import img9 from "../assets/2025/image3.png";
import img10 from "../assets/2025/image4.png";

const images = [
	{ img: img0, artist: "Brittney Ackerman", description: "" },
	{ img: img1, artist: "Brittney Ackerman", description: "" },
	{ img: img2, artist: "Brittney Ackerman", description: "" },
	{ img: img3, artist: "Brittney Ackerman", description: "" },
	{ img: img4, artist: "Brittney Ackerman", description: "" },
	{ img: img5, artist: "Brittney Ackerman", description: "" },
	{ img: img6, artist: "Brittney Ackerman", description: "" },
	{ img: img7, artist: "Brittney Ackerman", description: "" },
	{ img: img8, artist: "Brittney Ackerman", description: "" },
	{ img: img9, artist: "Brittney Ackerman", description: "" },
	{ img: img10, artist: "Brittney Ackerman", description: "" },
];

const getBorder = (idx) => [ 'wood', 'wood2', 'wood3', 'wood4', 'wood5' ][idx % 5];
---

<link
  type="text/css"
  rel="stylesheet"
  href="/css/lightgallery-bundle.min.css"
/>
<Layout title="HarmonyCon 2025 | Gallery"  desktopOverflow={true} mobileOverflow={false}>
	<div id="bg">
	</div>
	<div class="flex flex-col h-screen mt-16 gap-y-8">
		<div class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-black z-10" style="text-shadow: 3px 3px 1px #999;" >
			Gallery
		</div>
		<div
      id="lightgallery"
      class="text-center block gap-y-8 w-full px-4 sm:px-8 sm:mx-auto"
    >
		{
			images.map(({ img, artist, description }, idx) =>
			<a
				style="filter: drop-shadow(0 3px 3px #000);"
				class={`${getBorder(idx)} hover:scale-[1.1] bg-white p-3 rounded border-black border-[8px] inline-block m-2 sm:m-2 xl:m-4 duration-300 ${
					idx % 2
						? "hover:rotate-3"
						: "hover:-rotate-3"
				}`}
				data-src={img.src}
				data-sub-html={`<h4>Artist: ${artist}</h4>${description}`}
			>
				<Image
					alt={`Art asset #${idx + 1}`}
					src={img}
					height={300}
					style="filter: drop-shadow(0 2px 2px #000);"
					class="duration-300 h-24 sm:h-32 xl:h-48 w-auto md:w-auto cursor-pointer"
				/>
			</a>
			)
		}
		</div>
	</div>
</Layout>

<style define:vars={{optimizedGalleryBackground: `url(${optimizedGalleryBackground.src})`}}>
#bg {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	/* height: auto; */

	background-image: var(--optimizedGalleryBackground);
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	opacity: 1;
}
</style>