---
import { Image, getImage } from "astro:assets";
import Star from "../components/Star.astro";
import Layout from "../layouts/Layout.astro";

import galleryBackground from "../assets/2025/marble.webp";
const optimizedGalleryBackground = await getImage({
  src: galleryBackground,
  format: "avif",
  width: 2000,
});

import img0 from "../assets/2025/flyer.png";
import img1 from "../assets/2025/bg/bar_final_.png";
import img2 from "../assets/2025/bg/bar_final_2.png";
import img3 from "../assets/2025/HC-LockedPhone2.png";
import img4 from "../assets/2025/HarmonyCon 2025 Logo.png";
import img5 from "../assets/2025/HarmonyCon 2025 Logo HC.png";
import img6 from "../assets/2025/bg/stage3.png";
import img7 from "../assets/2025/isolated_star.png";
import img8 from "../assets/2025/isolated_tune.png";
import img9 from "../assets/2025/exit.png";
import img10 from "../assets/2025/playbill/Clawstin.png";
import img11 from "../assets/2025/playbill/HarmonyCon-CodeOfConduct2.png";
import img12 from "../assets/2025/playbill/HarmonyCon-CodeOfConducttext.png";
import img13 from "../assets/2025/playbill/producersnotext.png";
import img14 from "../assets/2025/playbill/the_Stallion_of_the_Opera.png";
import img15 from "../assets/2025/playbill/the_Stallion_of_the_Opera_Final_No_Text.png";
import img16 from "../assets/2025/playbill/winged.png";
import img17 from "../assets/2025/playbill/winged_text.png";
import img18 from "../assets/2025/harmonic_tune_cm2.png";
import img19 from "../assets/2025/harmony_star_cm.png";
import img20 from "../assets/2025/curtain_full.png";
import img21 from "../assets/2025/curtain_fall2.png";
import img22 from "../assets/2025/enter_ticket_v2.png";
import img23 from "../assets/2025/registration_ticket_v2.png";
import img24 from "../assets/2025/tunesign.png";
import img25 from "../assets/2025/starsign.png";
import img26 from "../assets/2025/logowithdates.png";
import img27 from "../assets/2025/bg/stage2.png";

import img0_2024 from "../assets/2024/badges/badge layout 2024 staff.png";
import img1_2024 from "../assets/2024/badges/badge2024_Vendor.png";
import img2_2024 from "../assets/2024/badges/badge layout 2024 panelist.png";
import img3_2024 from "../assets/2024/badges/badge layout 2024 cg.png";
import img4_2024 from "../assets/2024/badges/badge_HC_child.png";
import img5_2024 from "../assets/2024/badges/badge_HC_Teen.png";
import img6_2024 from "../assets/2024/badges/badge2024_3Day.png";
import img7_2024 from "../assets/2024/badges/lead singer.png";
import img8_2024 from "../assets/2024/badges/musician badge.png";
import img9_2024 from "../assets/2024/badges/friday.png";
import img10_2024 from "../assets/2024/badges/saturday.png";
import img11_2024 from "../assets/2024/badges/sunday.png";
import img12_2024 from "../assets/2024/badges/design no name.png";
import img13_2024 from "../assets/2024/badges/pepper badge.png";
import img14_2024 from "../assets/2024/badges/luck rock badge.png";
import img15_2024 from "../assets/2024/badges/benjaminpinkerton badge.png";
import img16_2024 from "../assets/2024/badges/boyer badge.png";
import img17_2024 from "../assets/2024/badges/jenna warren.png";
import img18_2024 from "../assets/2024/badges/tonyfleecs badge.png";
import img19_2024 from "../assets/2024/refs/ThemeConcept1.png";
import img20_2024 from "../assets/2024/refs/harmony star ref 2024.png";
import img21_2024 from "../assets/2024/refs/harmonic tune ref 2024.png";
import img22_2024 from "../assets/2024/refs/HarmonyCon 2024 Logo.png";
import img23_2024 from "../assets/2024/harmonycon 2024 flyer.png";
// import img24_2024 from "../assets/2024/av/HCTechnicalDifficulties-resize.gif";
import img25_2024 from "../assets/2024/av/ConcertLEDBGs.png";
import img26_2024 from "../assets/2024/av/HarmonyCon Daytime Screen Purple Background.png";
import img27_2024 from "../assets/2024/av/HarmonyCon Daytime Screen White Background.png";
import img28_2024 from "../assets/2024/av/starting soon.png";
import img29_2024 from "../assets/2024/av/general stream card.gif";
// import img30_2024 from "../assets/2024/banners/harmonycon buhbhuhbuh.png";
// import img31_2024 from "../assets/2024/banners/musician banner.png";
// import img32_2024 from "../assets/2024/banners/registration banner beeg with text.png";
// import img33_2024 from "../assets/2024/banners/vendorbanner.png";
import img34_2024 from "../assets/2024/promo/sunnyannouncement.png";
import img35_2024 from "../assets/2024/promo/harmonyantiprom.png";
import img36_2024 from "../assets/2024/promo/Harmonycon_Haloween_w_text2.png";
import img37_2024 from "../assets/2024/promo/Harmonycon_Haloween_wout_text.png";
import img38_2024 from "../assets/2024/promo/kickstarter promo.png";
import img39_2024 from "../assets/2024/merch/poster1.png";
import img40_2024 from "../assets/2024/merch/SLAP2.png";
import img41_2024 from "../assets/2024/merch/ToteBagHC24.png";
import img42_2024 from "../assets/2024/merch/ToteBagHC24-TRANS.png";
import img43_2024 from "../assets/2024/merch/ToteBagHC24-TEX.png";
import img44_2024 from "../assets/2024/merch/HC_lanyard_2024.png";
import img45_2024 from "../assets/2024/merch/HarmonyCon Star and Tune Confetti w Border.png";
import img46_2024 from "../assets/2024/merch/HarmonyCon Hug Chibi.png";
import img47_2024 from "../assets/2024/random/tunesticker.png";
import img48_2024 from "../assets/2024/random/starsticker.png";
import img49_2024 from "../assets/2024/random/harmonystar i can haz cookie.png";
import img50_2024 from "../assets/2024/random/come to harmonycon we have cookiez.png";

import img0_2023 from "../assets/2023/HarmonyCon 2023 Watermark.png";
import img1_2023 from "../assets/2023/harmonycon flyer v4.png";
import img2_2023 from "../assets/2023/banner true size.png";
import img3_2023 from "../assets/2024/av/HCTechnicalDifficulties-resize.gif";
import img4_2023 from "../assets/2023/Nightmare-night-saphypone.png";
import img5_2023 from "../assets/2023/staff.png";
import img6_2023 from "../assets/2023/Thanksgiving_saphypone.png";
import img7_2023 from "../assets/2023/harmony xmas.png";
import img8_2023 from "../assets/2023/Pony Swag Tune.png";
import img9_2023 from "../assets/2023/random/harm o n y s t a a a a a a a a a a a a a.png";
import img10_2023 from "../assets/2023/coltchella4-poster.png";
import img11_2023 from "../assets/2023/2.2.png";
import img12_2023 from "../assets/2023/HarmonyCon general con stream card.png";
import img13_2023 from "../assets/2023/random/hyperpopdemo.png";
import img14_2023 from "../assets/2023/random/hyperpoptune_demo.png";
import img15_2023 from "../assets/2023/random/rawr!.png";
import img16_2023 from "../assets/2023/random/robuxad.png";
import img17_2023 from "../assets/2023/random/star.png";
import img18_2023 from "../assets/2023/PP-Tickets-5.5x2-RightEdge-WithPerf2.png";
import img19_2023 from "../assets/2023/banners/mane events banner with schedule.png";
import img20_2023 from "../assets/2023/banners/vendor hall banner text.png";
import img21_2023 from "../assets/2023/badges/friday badge - lbrcloud.png";
import img22_2023 from "../assets/2023/badges/saturday badge - lbrcloud.png";
import img23_2023 from "../assets/2023/badges/sunday badge - lbrcloud.png";
import img24_2023 from "../assets/2023/badges/Staff Badge - Viw.png";
import img25_2023 from "../assets/2023/badges/panel badge Saphypone.png";
import img26_2023 from "../assets/2023/badges/musician badge.png";
import img27_2023 from "../assets/2023/badges/badge_layout_vendor w text.png";
import img28_2023 from "../assets/2023/badges/3 Day Badge - Beardie.png";
import img29_2023 from "../assets/2023/badges/cg_badge.png";
import img30_2023 from "../assets/2023/badges/child badge.png";
import img31_2023 from "../assets/2023/badges/HarmonyCon Show Pony Badge w Overlay.png";
import img32_2023 from "../assets/2023/badges/HarmonyCon Opener Badge w overlay.png";
import img33_2023 from "../assets/2023/badges/Producer Badge Base - Viw.png";
import img34_2023 from "../assets/2023/badges/Bill Newton Badge.png";
import img35_2023 from "../assets/2023/badges/thom zahler badge.png";
import img36_2023 from "../assets/2023/badges/nicole_badge.png";
import img37_2023 from "../assets/2023/badges/Tony Fleecs Badge.png";
import img38_2023 from "../assets/2023/badges/Plepper_Badge_2023.png";
import img39_2023 from "../assets/2023/badges/lead singer badge.png";
import img40_2023 from "../assets/2023/badges/HarmonyCon Show Pony Badge.png";
import img41_2023 from "../assets/2023/badges/hcglitchbadge.png";
import img42_2023 from "../assets/2023/badges/harmonycon badge_layout_2023 producer.png";
import img43_2023 from "../assets/2023/badges/badge_layout_vendor.png";
import img44_2023 from "../assets/2023/badges/harmonycon badge_layout_2023 staff.png";
import img45_2023 from "../assets/2023/badges/HarmonyCon Opener Badge.png";
import img46_2023 from "../assets/2023/merch/hcpin.png";
import img47_2023 from "../assets/2023/merch/hcstaff.png";
import img48_2023 from "../assets/2023/merch/bag design6.png";
import img49_2023 from "../assets/2023/merch/Tshirt File FInal Color Seperations Transparent.png";
import img50_2023 from "../assets/2023/merch/Tshirt Final Color Seperations.png";
import img51_2023 from "../assets/2023/av/harmony bg .png";
import img52_2023 from "../assets/2023/av/LEDscreen_Saphy_v2.png";
import img53_2023 from "../assets/2023/tune.png";
import img54_2023 from "../assets/2023/merch/Lanyard v2.png";

import img0_2022 from "../assets/2022/header_logo_main-2022.png";
import img1_2022 from "../assets/2022/Lanyard.png";
import img2_2022 from "../assets/2022/the flier1.png";
import img3_2022 from "../assets/2022/conbook backpage poster.png";
import img4_2022 from "../assets/2022/Hcon banner themed.png";
import img5_2022 from "../assets/2022/HarmCon2.png";
import img6_2022 from "../assets/2022/harmonycon shirt.png";
import img7_2022 from "../assets/2022/happy 4th from harmonycon.png";
import img8_2022 from "../assets/2022/hcon wants 7462.png";
import img9_2022 from "../assets/2022/Harmony vend.png";
import img10_2022 from "../assets/2022/Harmonycon_halloween.png";
import img11_2022 from "../assets/2022/Pin.png";
import img12_2022 from "../assets/2022/harmonycomic.png";
import img13_2022 from "../assets/2022/pineappleR.png";
import img14_2022 from "../assets/2022/Imalou announcement.png";
import img15_2022 from "../assets/2022/fleecs that looks good.png";
import img16_2022 from "../assets/2022/gabeannouncement.png";
import img17_2022 from "../assets/2022/Claire.png";
import img18_2022 from "../assets/2022/fleecs.png";
import img19_2022 from "../assets/2022/harmonyconresize.png";
import img20_2022 from "../assets/2022/Button.png";
import img21_2022 from "../assets/2022/av/harmonycon tech diff no grain.png";
import img22_2022 from "../assets/2022/av/harmonycon starting soon.gif";
import img23_2022 from "../assets/2022/av/harmonycon stay tuned.gif";
import img24_2022 from "../assets/2022/HarmonyCon_Ad.gif";
import img25_2022 from "../assets/2022/badges/1DFriday.png";
import img26_2022 from "../assets/2022/badges/1DSaturday.png";
import img27_2022 from "../assets/2022/badges/1DSunday.png";
import img28_2022 from "../assets/2022/badges/3DB.png";
import img29_2022 from "../assets/2022/badges/Staff.png";
import img30_2022 from "../assets/2022/badges/leadsingerbadge.png";
import img31_2022 from "../assets/2022/badges/community guest badge.png";
import img32_2022 from "../assets/2022/badges/showpony.png";
import img33_2022 from "../assets/2022/badges/Panelist.png";
import img34_2022 from "../assets/2022/badges/musician badge.png";
import img35_2022 from "../assets/2022/badges/VendorBadge.png";
import img36_2022 from "../assets/2022/badges/teenbadge.png";
import img37_2022 from "../assets/2022/badges/ImalouBadge.png";
import img38_2022 from "../assets/2022/badges/gabriel.png";
import img39_2022 from "../assets/2022/badges/ElleyBadge.png";
import img40_2022 from "../assets/2022/badges/fleecbadge.png";
import img41_2022 from "../assets/2022/badges/claire.png";
import img42_2022 from "../assets/2022/badges/William Anderson Badge.png";
import img43_2022 from "../assets/2022/badges/maud.png";
import img44_2022 from "../assets/2022/badges/cbadge.png";

import photo0 from "../assets/2025/photos/HPC-1.jpg";
import photo1 from "../assets/2025/photos/HPC-2.jpg";
import photo2 from "../assets/2025/photos/HPC-10.jpg";
import photo3 from "../assets/2025/photos/HPC-11.jpg";
import photo4 from "../assets/2025/photos/HPC-12.jpg";
import photo5 from "../assets/2025/photos/HPC-13.jpg";
import photo6 from "../assets/2025/photos/HPC-14.jpg";
import photo7 from "../assets/2025/photos/HPC-15.jpg";
import photo8 from "../assets/2025/photos/HPC-16.jpg";
import photo9 from "../assets/2025/photos/HPC-17.jpg";
import photo10 from "../assets/2025/photos/HPC-18.jpg";
import photo11 from "../assets/2025/photos/HPC-19.jpg";
import photo12 from "../assets/2025/photos/HPC-20.jpg";
import photo13 from "../assets/2025/photos/HPC-21.jpg";
import photo14 from "../assets/2025/photos/HPC-22.jpg";
import photo100 from "../assets/2025/photos/HPC-100.jpg";
import photo101 from "../assets/2025/photos/HPC-101.jpg";
import photo102 from "../assets/2025/photos/HPC-102.jpg";
import photo103 from "../assets/2025/photos/HPC-103.jpg";
import photo104 from "../assets/2025/photos/HPC-104.jpg";
import photo105 from "../assets/2025/photos/HPC-105.jpg";
import photo106 from "../assets/2025/photos/HPC-106.jpg";
import photo107 from "../assets/2025/photos/HPC-107.jpg";
import photo108 from "../assets/2025/photos/HPC-108.jpg";
import photo109 from "../assets/2025/photos/HPC-109.jpg";
import photo110 from "../assets/2025/photos/HPC-110.jpg";
import photo111 from "../assets/2025/photos/HPC-111.jpg";
import photo112 from "../assets/2025/photos/HPC-112.jpg";
import photo113 from "../assets/2025/photos/HPC-113.jpg";
import photo114 from "../assets/2025/photos/HPC-114.jpg";
import photo115 from "../assets/2025/photos/HPC-115.jpg";
import photo116 from "../assets/2025/photos/HPC-116.jpg";
import photo117 from "../assets/2025/photos/HPC-117.jpg";
import photo118 from "../assets/2025/photos/HPC-118.jpg";
import photo119 from "../assets/2025/photos/HPC-119.jpg";
import photo120 from "../assets/2025/photos/HPC-120.jpg";
import photo121 from "../assets/2025/photos/HPC-121.jpg";
import photo122 from "../assets/2025/photos/HPC-122.jpg";
import photo123 from "../assets/2025/photos/HPC-123.jpg";
import photo124 from "../assets/2025/photos/HPC-124.jpg";
import photo125 from "../assets/2025/photos/HPC-125.jpg";
import photo126 from "../assets/2025/photos/HPC-126.jpg";
import photo127 from "../assets/2025/photos/HPC-127.jpg";
import photo128 from "../assets/2025/photos/HPC-128.jpg";
import photo129 from "../assets/2025/photos/HPC-129.jpg";
import photo130 from "../assets/2025/photos/HPC-130.jpg";
import photo131 from "../assets/2025/photos/HPC-131.jpg";
import photo132 from "../assets/2025/photos/HPC-132.jpg";
import photo133 from "../assets/2025/photos/HPC-133.jpg";
import photo134 from "../assets/2025/photos/HPC-134.jpg";
import photo135 from "../assets/2025/photos/HPC-135.jpg";
import photo136 from "../assets/2025/photos/HPC-136.jpg";
import photo137 from "../assets/2025/photos/HPC-137.jpg";
import photo138 from "../assets/2025/photos/HPC-138.jpg";
import photo139 from "../assets/2025/photos/HPC-139.jpg";
import photo140 from "../assets/2025/photos/HPC-140.jpg";
import photo141 from "../assets/2025/photos/HPC-141.jpg";
import photo142 from "../assets/2025/photos/HPC-142.jpg";
import photo143 from "../assets/2025/photos/HPC-143.jpg";
import photo144 from "../assets/2025/photos/HPC-144.jpg";
import photo145 from "../assets/2025/photos/HPC-145.jpg";
import photo146 from "../assets/2025/photos/HPC-146.jpg";
import photo147 from "../assets/2025/photos/HPC-147.jpg";
import photo148 from "../assets/2025/photos/HPC-148.jpg";
import photo149 from "../assets/2025/photos/HPC-149.jpg";
import photo150 from "../assets/2025/photos/HPC-150.jpg";
import photo151 from "../assets/2025/photos/HPC-151.jpg";
import photo152 from "../assets/2025/photos/HPC-152.jpg";
import photo153 from "../assets/2025/photos/HPC-153.jpg";
import photo154 from "../assets/2025/photos/HPC-154.jpg";
import photo155 from "../assets/2025/photos/HPC-155.jpg";
import photo156 from "../assets/2025/photos/HPC-156.jpg";
import photo157 from "../assets/2025/photos/HPC-157.jpg";
import photo158 from "../assets/2025/photos/HPC-158.jpg";
import photo159 from "../assets/2025/photos/HPC-159.jpg";
import photo160 from "../assets/2025/photos/HPC-160.jpg";
import photo161 from "../assets/2025/photos/HPC-161.jpg";
import photo162 from "../assets/2025/photos/HPC-162.jpg";
import photo163 from "../assets/2025/photos/HPC-163.jpg";
import photo164 from "../assets/2025/photos/HPC-164.jpg";
import photo165 from "../assets/2025/photos/HPC-165.jpg";
import photo166 from "../assets/2025/photos/HPC-166.jpg";
import photo167 from "../assets/2025/photos/HPC-167.jpg";
import photo168 from "../assets/2025/photos/HPC-168.jpg";
import photo169 from "../assets/2025/photos/HPC-169.jpg";
import photo170 from "../assets/2025/photos/HPC-170.jpg";
import photo171 from "../assets/2025/photos/HPC-171.jpg";
import photo172 from "../assets/2025/photos/HPC-172.jpg";
import photo173 from "../assets/2025/photos/HPC-173.jpg";
import photo174 from "../assets/2025/photos/HPC-174.jpg";
import photo175 from "../assets/2025/photos/HPC-175.jpg";
import photo176 from "../assets/2025/photos/HPC-176.jpg";
import photo177 from "../assets/2025/photos/HPC-177.jpg";
import photo178 from "../assets/2025/photos/HPC-178.jpg";
import photo179 from "../assets/2025/photos/HPC-179.jpg";
import photo180 from "../assets/2025/photos/HPC-180.jpg";
import photo181 from "../assets/2025/photos/HPC-181.jpg";
import photo182 from "../assets/2025/photos/HPC-182.jpg";
import photo183 from "../assets/2025/photos/HPC-183.jpg";
import photo184 from "../assets/2025/photos/HPC-184.jpg";
import photo185 from "../assets/2025/photos/HPC-185.jpg";
import photo186 from "../assets/2025/photos/HPC-186.jpg";
import photo187 from "../assets/2025/photos/HPC-187.jpg";
import photo188 from "../assets/2025/photos/HPC-188.jpg";
import photo189 from "../assets/2025/photos/HPC-189.jpg";
import photo190 from "../assets/2025/photos/HPC-190.jpg";
import photo191 from "../assets/2025/photos/HPC-191.jpg";
import photo192 from "../assets/2025/photos/HPC-192.jpg";
import photo193 from "../assets/2025/photos/HPC-193.jpg";
import photo194 from "../assets/2025/photos/HPC-194.jpg";
import photo195 from "../assets/2025/photos/HPC-195.jpg";
import photo196 from "../assets/2025/photos/HPC-196.jpg";
import photo197 from "../assets/2025/photos/HPC-197.jpg";
import photo198 from "../assets/2025/photos/HPC-198.jpg";
import photo199 from "../assets/2025/photos/HPC-199.jpg";
import photo200 from "../assets/2025/photos/HPC-200.jpg";
import photo201 from "../assets/2025/photos/HPC-201.jpg";
import photo202 from "../assets/2025/photos/HPC-202.jpg";
import photo203 from "../assets/2025/photos/HPC-203.jpg";
import photo204 from "../assets/2025/photos/HPC-204.jpg";
import photo205 from "../assets/2025/photos/HPC-205.jpg";
import photo206 from "../assets/2025/photos/HPC-206.jpg";
import photo207 from "../assets/2025/photos/HPC-207.jpg";
import photo208 from "../assets/2025/photos/HPC-208.jpg";
import photo209 from "../assets/2025/photos/HPC-209.jpg";
import photo210 from "../assets/2025/photos/HPC-210.jpg";
import photo211 from "../assets/2025/photos/HPC-211.jpg";
import photo212 from "../assets/2025/photos/HPC-212.jpg";
import photo213 from "../assets/2025/photos/HPC-213.jpg";
import photo214 from "../assets/2025/photos/HPC-214.jpg";
import photo215 from "../assets/2025/photos/HPC-215.jpg";
import photo216 from "../assets/2025/photos/HPC-216.jpg";
import photo217 from "../assets/2025/photos/HPC-217.jpg";
import photo218 from "../assets/2025/photos/HPC-218.jpg";
import photo219 from "../assets/2025/photos/HPC-219.jpg";
import photo220 from "../assets/2025/photos/HPC-220.jpg";
import photo221 from "../assets/2025/photos/HPC-221.jpg";
import photo222 from "../assets/2025/photos/HPC-222.jpg";
import photo223 from "../assets/2025/photos/HPC-223.jpg";
import photo224 from "../assets/2025/photos/HPC-224.jpg";
import photo225 from "../assets/2025/photos/HPC-225.jpg";
import photo226 from "../assets/2025/photos/HPC-226.jpg";
import photo227 from "../assets/2025/photos/HPC-227.jpg";
import photo228 from "../assets/2025/photos/HPC-228.jpg";
import photo229 from "../assets/2025/photos/HPC-229.jpg";
import photo230 from "../assets/2025/photos/HPC-230.jpg";
import photo231 from "../assets/2025/photos/HPC-231.jpg";
import photo232 from "../assets/2025/photos/HPC-232.jpg";
import photo233 from "../assets/2025/photos/HPC-233.jpg";
import photo234 from "../assets/2025/photos/HPC-234.jpg";
import photo235 from "../assets/2025/photos/HPC-235.jpg";
import photo236 from "../assets/2025/photos/HPC-236.jpg";
import photo237 from "../assets/2025/photos/HPC-237.jpg";
import photo238 from "../assets/2025/photos/HPC-238.jpg";
import photo239 from "../assets/2025/photos/HPC-239.jpg";
import photo240 from "../assets/2025/photos/HPC-240.jpg";
import photo241 from "../assets/2025/photos/HPC-241.jpg";
import photo242 from "../assets/2025/photos/HPC-242.jpg";
import photo243 from "../assets/2025/photos/HPC-243.jpg";
import photo244 from "../assets/2025/photos/HPC-244.jpg";
import photo245 from "../assets/2025/photos/HPC-245.jpg";
import photo246 from "../assets/2025/photos/HPC-246.jpg";
import photo247 from "../assets/2025/photos/HPC-247.jpg";
import photo248 from "../assets/2025/photos/HPC-248.jpg";
import photo249 from "../assets/2025/photos/HPC-249.jpg";
import photo250 from "../assets/2025/photos/HPC-250.jpg";
import photo251 from "../assets/2025/photos/HPC-251.jpg";
import photo252 from "../assets/2025/photos/HPC-252.jpg";
import photo253 from "../assets/2025/photos/HPC-253.jpg";
import photo254 from "../assets/2025/photos/HPC-254.jpg";
import photo255 from "../assets/2025/photos/HPC-255.jpg";
import photo256 from "../assets/2025/photos/HPC-256.jpg";
import photo257 from "../assets/2025/photos/HPC-257.jpg";
import photo258 from "../assets/2025/photos/HPC-258.jpg";
import photo259 from "../assets/2025/photos/HPC-259.jpg";
import photo260 from "../assets/2025/photos/HPC-260.jpg";
import photo261 from "../assets/2025/photos/HPC-261.jpg";
import photo262 from "../assets/2025/photos/HPC-262.jpg";
import photo263 from "../assets/2025/photos/HPC-263.jpg";
import photo264 from "../assets/2025/photos/HPC-264.jpg";
import photo265 from "../assets/2025/photos/HPC-265.jpg";
import photo266 from "../assets/2025/photos/HPC-266.jpg";
import photo267 from "../assets/2025/photos/HPC-267.jpg";
import photo268 from "../assets/2025/photos/HPC-268.jpg";
import photo269 from "../assets/2025/photos/HPC-269.jpg";
import photo270 from "../assets/2025/photos/HPC-270.jpg";
import photo271 from "../assets/2025/photos/HPC-271.jpg";
import photo272 from "../assets/2025/photos/HPC-272.jpg";
import photo273 from "../assets/2025/photos/HPC-273.jpg";
import photo274 from "../assets/2025/photos/HPC-274.jpg";
import photo275 from "../assets/2025/photos/HPC-275.jpg";
import photo276 from "../assets/2025/photos/HPC-276.jpg";
import photo277 from "../assets/2025/photos/HPC-277.jpg";
import photo278 from "../assets/2025/photos/HPC-278.jpg";
import photo279 from "../assets/2025/photos/HPC-279.jpg";
import photo280 from "../assets/2025/photos/HPC-280.jpg";
import photo281 from "../assets/2025/photos/HPC-281.jpg";
import photo282 from "../assets/2025/photos/HPC-282.jpg";
import photo283 from "../assets/2025/photos/HPC-283.jpg";
import photo284 from "../assets/2025/photos/HPC-284.jpg";
import photo285 from "../assets/2025/photos/HPC-285.jpg";
import photo286 from "../assets/2025/photos/HPC-286.jpg";
import photo287 from "../assets/2025/photos/HPC-287.jpg";
import photo288 from "../assets/2025/photos/HPC-288.jpg";
import photo289 from "../assets/2025/photos/HPC-289.jpg";
import photo290 from "../assets/2025/photos/HPC-290.jpg";
import photo291 from "../assets/2025/photos/HPC-291.jpg";
import photo292 from "../assets/2025/photos/HPC-292.jpg";
import photo293 from "../assets/2025/photos/HPC-293.jpg";
import photo294 from "../assets/2025/photos/HPC-294.jpg";
import photo295 from "../assets/2025/photos/HPC-295.jpg";
import photo296 from "../assets/2025/photos/HPC-296.jpg";
import photo297 from "../assets/2025/photos/HPC-297.jpg";
import photo298 from "../assets/2025/photos/HPC-298.jpg";
import photo299 from "../assets/2025/photos/HPC-299.jpg";
import photo300 from "../assets/2025/photos/HPC-300.jpg";
import photo301 from "../assets/2025/photos/HPC-301.jpg";
import photo302 from "../assets/2025/photos/HPC-302.jpg";
import photo303 from "../assets/2025/photos/HPC-303.jpg";
import photo304 from "../assets/2025/photos/HPC-304.jpg";
import photo305 from "../assets/2025/photos/HPC-305.jpg";
import photo306 from "../assets/2025/photos/HPC-306.jpg";
import photo307 from "../assets/2025/photos/HPC-307.jpg";
import photo308 from "../assets/2025/photos/HPC-308.jpg";
import photo309 from "../assets/2025/photos/HPC-309.jpg";
import photo310 from "../assets/2025/photos/HPC-310.jpg";
import photo311 from "../assets/2025/photos/HPC-311.jpg";
import photo312 from "../assets/2025/photos/HPC-312.jpg";
import photo313 from "../assets/2025/photos/HPC-313.jpg";
import photo314 from "../assets/2025/photos/HPC-314.jpg";
import photo315 from "../assets/2025/photos/HPC-315.jpg";
import photo316 from "../assets/2025/photos/HPC-316.jpg";
import photo317 from "../assets/2025/photos/HPC-317.jpg";
import photo318 from "../assets/2025/photos/HPC-318.jpg";
import photo319 from "../assets/2025/photos/HPC-319.jpg";
import photo320 from "../assets/2025/photos/HPC-320.jpg";
import photo321 from "../assets/2025/photos/HPC-321.jpg";
import photo322 from "../assets/2025/photos/HPC-322.jpg";
import photo323 from "../assets/2025/photos/HPC-323.jpg";
import photo324 from "../assets/2025/photos/HPC-324.jpg";
import photo325 from "../assets/2025/photos/HPC-325.jpg";
import photo326 from "../assets/2025/photos/HPC-326.jpg";
import photo327 from "../assets/2025/photos/HPC-327.jpg";
import photo328 from "../assets/2025/photos/HPC-328.jpg";
import photo329 from "../assets/2025/photos/HPC-329.jpg";
import photo330 from "../assets/2025/photos/HPC-330.jpg";
import photo331 from "../assets/2025/photos/HPC-331.jpg";
import photo332 from "../assets/2025/photos/HPC-332.jpg";
import photo333 from "../assets/2025/photos/HPC-333.jpg";
import photo334 from "../assets/2025/photos/HPC-334.jpg";
import photo335 from "../assets/2025/photos/HPC-335.jpg";
import photo336 from "../assets/2025/photos/HPC-336.jpg";
import photo337 from "../assets/2025/photos/HPC-337.jpg";
import photo338 from "../assets/2025/photos/HPC-338.jpg";
import photo339 from "../assets/2025/photos/HPC-339.jpg";
import photo340 from "../assets/2025/photos/HPC-340.jpg";
import photo341 from "../assets/2025/photos/HPC-341.jpg";
import photo342 from "../assets/2025/photos/HPC-342.jpg";
import photo343 from "../assets/2025/photos/HPC-343.jpg";
import photo344 from "../assets/2025/photos/HPC-344.jpg";
import photo345 from "../assets/2025/photos/HPC-345.jpg";
import photo346 from "../assets/2025/photos/HPC-346.jpg";
import photo347 from "../assets/2025/photos/HPC-347.jpg";
import photo348 from "../assets/2025/photos/HPC-348.jpg";
import photo349 from "../assets/2025/photos/HPC-349.jpg";
import photo350 from "../assets/2025/photos/HPC-350.jpg";
import photo351 from "../assets/2025/photos/HPC-351.jpg";
import photo352 from "../assets/2025/photos/HPC-352.jpg";
import photo353 from "../assets/2025/photos/HPC-353.jpg";

const isLocal = ["localhost"].includes(Astro.url.hostname);
// const photos = isLocal
//   ? [
//       { img: photo0, photographer: "IvoryBrony" },
//       { img: photo1, photographer: "IvoryBrony" },
//       { img: photo2, photographer: "IvoryBrony" },
//       { img: photo3, photographer: "IvoryBrony" },
//       { img: photo4, photographer: "IvoryBrony" },
//       { img: photo5, photographer: "IvoryBrony" },
//       { img: photo6, photographer: "IvoryBrony" },
//       { img: photo7, photographer: "IvoryBrony" },
//       { img: photo8, photographer: "IvoryBrony" },
//       { img: photo9, photographer: "IvoryBrony" },
//       { img: photo10, photographer: "IvoryBrony" },
//       { img: photo11, photographer: "IvoryBrony" },
//       { img: photo12, photographer: "IvoryBrony" },
//       { img: photo13, photographer: "IvoryBrony" },
//       { img: photo14, photographer: "IvoryBrony" },
//       { img: photo100, photographer: "IvoryBrony" },
//       { img: photo101, photographer: "IvoryBrony" },
//       { img: photo102, photographer: "IvoryBrony" },
//       { img: photo103, photographer: "IvoryBrony" },
//       { img: photo104, photographer: "IvoryBrony" },
//       { img: photo105, photographer: "IvoryBrony" },
//       { img: photo106, photographer: "IvoryBrony" },
//       { img: photo107, photographer: "IvoryBrony" },
//       { img: photo108, photographer: "IvoryBrony" },
//       { img: photo109, photographer: "IvoryBrony" },
//       { img: photo110, photographer: "IvoryBrony" },
//       { img: photo111, photographer: "IvoryBrony" },
//       { img: photo112, photographer: "IvoryBrony" },
//       { img: photo113, photographer: "IvoryBrony" },
//       { img: photo114, photographer: "IvoryBrony" },
//       { img: photo115, photographer: "IvoryBrony" },
//       { img: photo116, photographer: "IvoryBrony" },
//       { img: photo117, photographer: "IvoryBrony" },
//       { img: photo118, photographer: "IvoryBrony" },
//       { img: photo119, photographer: "IvoryBrony" },
//       { img: photo120, photographer: "IvoryBrony" },
//       { img: photo121, photographer: "IvoryBrony" },
//       { img: photo122, photographer: "IvoryBrony" },
//       { img: photo123, photographer: "IvoryBrony" },
//       { img: photo124, photographer: "IvoryBrony" },
//       { img: photo125, photographer: "IvoryBrony" },
//       { img: photo126, photographer: "IvoryBrony" },
//       { img: photo127, photographer: "IvoryBrony" },
//       { img: photo128, photographer: "IvoryBrony" },
//       { img: photo129, photographer: "IvoryBrony" },
//       { img: photo130, photographer: "IvoryBrony" },
//       { img: photo131, photographer: "IvoryBrony" },
//       { img: photo132, photographer: "IvoryBrony" },
//       { img: photo133, photographer: "IvoryBrony" },
//       { img: photo134, photographer: "IvoryBrony" },
//       { img: photo135, photographer: "IvoryBrony" },
//       { img: photo136, photographer: "IvoryBrony" },
//       { img: photo137, photographer: "IvoryBrony" },
//       { img: photo138, photographer: "IvoryBrony" },
//       { img: photo139, photographer: "IvoryBrony" },
//       { img: photo140, photographer: "IvoryBrony" },
//       { img: photo141, photographer: "IvoryBrony" },
//       { img: photo142, photographer: "IvoryBrony" },
//       { img: photo143, photographer: "IvoryBrony" },
//       { img: photo144, photographer: "IvoryBrony" },
//       { img: photo145, photographer: "IvoryBrony" },
//       { img: photo146, photographer: "IvoryBrony" },
//       { img: photo147, photographer: "IvoryBrony" },
//       { img: photo148, photographer: "IvoryBrony" },
//       { img: photo149, photographer: "IvoryBrony" },
//       { img: photo150, photographer: "IvoryBrony" },
//       { img: photo151, photographer: "IvoryBrony" },
//       { img: photo152, photographer: "IvoryBrony" },
//       { img: photo153, photographer: "IvoryBrony" },
//       { img: photo154, photographer: "IvoryBrony" },
//       { img: photo155, photographer: "IvoryBrony" },
//       { img: photo156, photographer: "IvoryBrony" },
//       { img: photo157, photographer: "IvoryBrony" },
//       { img: photo158, photographer: "IvoryBrony" },
//       { img: photo159, photographer: "IvoryBrony" },
//       { img: photo160, photographer: "IvoryBrony" },
//       { img: photo161, photographer: "IvoryBrony" },
//       { img: photo162, photographer: "IvoryBrony" },
//       { img: photo163, photographer: "IvoryBrony" },
//       { img: photo164, photographer: "IvoryBrony" },
//       { img: photo165, photographer: "IvoryBrony" },
//       { img: photo166, photographer: "IvoryBrony" },
//       { img: photo167, photographer: "IvoryBrony" },
//       { img: photo168, photographer: "IvoryBrony" },
//       { img: photo169, photographer: "IvoryBrony" },
//       { img: photo170, photographer: "IvoryBrony" },
//       { img: photo171, photographer: "IvoryBrony" },
//       { img: photo172, photographer: "IvoryBrony" },
//       { img: photo173, photographer: "IvoryBrony" },
//       { img: photo174, photographer: "IvoryBrony" },
//       { img: photo175, photographer: "IvoryBrony" },
//       { img: photo176, photographer: "IvoryBrony" },
//       { img: photo177, photographer: "IvoryBrony" },
//       { img: photo178, photographer: "IvoryBrony" },
//       { img: photo179, photographer: "IvoryBrony" },
//       { img: photo180, photographer: "IvoryBrony" },
//       { img: photo181, photographer: "IvoryBrony" },
//       { img: photo182, photographer: "IvoryBrony" },
//       { img: photo183, photographer: "IvoryBrony" },
//       { img: photo184, photographer: "IvoryBrony" },
//       { img: photo185, photographer: "IvoryBrony" },
//       { img: photo186, photographer: "IvoryBrony" },
//       { img: photo187, photographer: "IvoryBrony" },
//       { img: photo188, photographer: "IvoryBrony" },
//       { img: photo189, photographer: "IvoryBrony" },
//       { img: photo190, photographer: "IvoryBrony" },
//       { img: photo191, photographer: "IvoryBrony" },
//       { img: photo192, photographer: "IvoryBrony" },
//       { img: photo193, photographer: "IvoryBrony" },
//       { img: photo194, photographer: "IvoryBrony" },
//       { img: photo195, photographer: "IvoryBrony" },
//       { img: photo196, photographer: "IvoryBrony" },
//       { img: photo197, photographer: "IvoryBrony" },
//       { img: photo198, photographer: "IvoryBrony" },
//       { img: photo199, photographer: "IvoryBrony" },
//       { img: photo200, photographer: "IvoryBrony" },
//       { img: photo201, photographer: "IvoryBrony" },
//       { img: photo202, photographer: "IvoryBrony" },
//       { img: photo203, photographer: "IvoryBrony" },
//       { img: photo204, photographer: "IvoryBrony" },
//       { img: photo205, photographer: "IvoryBrony" },
//       { img: photo206, photographer: "IvoryBrony" },
//       { img: photo207, photographer: "IvoryBrony" },
//       { img: photo208, photographer: "IvoryBrony" },
//       { img: photo209, photographer: "IvoryBrony" },
//       { img: photo210, photographer: "IvoryBrony" },
//       { img: photo211, photographer: "IvoryBrony" },
//       { img: photo212, photographer: "IvoryBrony" },
//       { img: photo213, photographer: "IvoryBrony" },
//       { img: photo214, photographer: "IvoryBrony" },
//       { img: photo215, photographer: "IvoryBrony" },
//       { img: photo216, photographer: "IvoryBrony" },
//       { img: photo217, photographer: "IvoryBrony" },
//       { img: photo218, photographer: "IvoryBrony" },
//       { img: photo219, photographer: "IvoryBrony" },
//       { img: photo220, photographer: "IvoryBrony" },
//       { img: photo221, photographer: "IvoryBrony" },
//       { img: photo222, photographer: "IvoryBrony" },
//       { img: photo223, photographer: "IvoryBrony" },
//       { img: photo224, photographer: "IvoryBrony" },
//       { img: photo225, photographer: "IvoryBrony" },
//       { img: photo226, photographer: "IvoryBrony" },
//       { img: photo227, photographer: "IvoryBrony" },
//       { img: photo228, photographer: "IvoryBrony" },
//       { img: photo229, photographer: "IvoryBrony" },
//       { img: photo230, photographer: "IvoryBrony" },
//       { img: photo231, photographer: "IvoryBrony" },
//       { img: photo232, photographer: "IvoryBrony" },
//       { img: photo233, photographer: "IvoryBrony" },
//       { img: photo234, photographer: "IvoryBrony" },
//       { img: photo235, photographer: "IvoryBrony" },
//       { img: photo236, photographer: "IvoryBrony" },
//       { img: photo237, photographer: "IvoryBrony" },
//       { img: photo238, photographer: "IvoryBrony" },
//       { img: photo239, photographer: "IvoryBrony" },
//       { img: photo240, photographer: "IvoryBrony" },
//       { img: photo241, photographer: "IvoryBrony" },
//       { img: photo242, photographer: "IvoryBrony" },
//       { img: photo243, photographer: "IvoryBrony" },
//       { img: photo244, photographer: "IvoryBrony" },
//       { img: photo245, photographer: "IvoryBrony" },
//       { img: photo246, photographer: "IvoryBrony" },
//       { img: photo247, photographer: "IvoryBrony" },
//       { img: photo248, photographer: "IvoryBrony" },
//       { img: photo249, photographer: "IvoryBrony" },
//       { img: photo250, photographer: "IvoryBrony" },
//       { img: photo251, photographer: "IvoryBrony" },
//       { img: photo252, photographer: "IvoryBrony" },
//       { img: photo253, photographer: "IvoryBrony" },
//       { img: photo254, photographer: "IvoryBrony" },
//       { img: photo255, photographer: "IvoryBrony" },
//       { img: photo256, photographer: "IvoryBrony" },
//       { img: photo257, photographer: "IvoryBrony" },
//       { img: photo258, photographer: "IvoryBrony" },
//       { img: photo259, photographer: "IvoryBrony" },
//       { img: photo260, photographer: "IvoryBrony" },
//       { img: photo261, photographer: "IvoryBrony" },
//       { img: photo262, photographer: "IvoryBrony" },
//       { img: photo263, photographer: "IvoryBrony" },
//       { img: photo264, photographer: "IvoryBrony" },
//       { img: photo265, photographer: "IvoryBrony" },
//       { img: photo266, photographer: "IvoryBrony" },
//       { img: photo267, photographer: "IvoryBrony" },
//       { img: photo268, photographer: "IvoryBrony" },
//       { img: photo269, photographer: "IvoryBrony" },
//       { img: photo270, photographer: "IvoryBrony" },
//       { img: photo271, photographer: "IvoryBrony" },
//       { img: photo272, photographer: "IvoryBrony" },
//       { img: photo273, photographer: "IvoryBrony" },
//       { img: photo274, photographer: "IvoryBrony" },
//       { img: photo275, photographer: "IvoryBrony" },
//       { img: photo276, photographer: "IvoryBrony" },
//       { img: photo277, photographer: "IvoryBrony" },
//       { img: photo278, photographer: "IvoryBrony" },
//       { img: photo279, photographer: "IvoryBrony" },
//       { img: photo280, photographer: "IvoryBrony" },
//       { img: photo281, photographer: "IvoryBrony" },
//       { img: photo282, photographer: "IvoryBrony" },
//       { img: photo283, photographer: "IvoryBrony" },
//       { img: photo284, photographer: "IvoryBrony" },
//       { img: photo285, photographer: "IvoryBrony" },
//       { img: photo286, photographer: "IvoryBrony" },
//       { img: photo287, photographer: "IvoryBrony" },
//       { img: photo288, photographer: "IvoryBrony" },
//       { img: photo289, photographer: "IvoryBrony" },
//       { img: photo290, photographer: "IvoryBrony" },
//       { img: photo291, photographer: "IvoryBrony" },
//       { img: photo292, photographer: "IvoryBrony" },
//       { img: photo293, photographer: "IvoryBrony" },
//       { img: photo294, photographer: "IvoryBrony" },
//       { img: photo295, photographer: "IvoryBrony" },
//       { img: photo296, photographer: "IvoryBrony" },
//       { img: photo297, photographer: "IvoryBrony" },
//       { img: photo298, photographer: "IvoryBrony" },
//       { img: photo299, photographer: "IvoryBrony" },
//       { img: photo300, photographer: "IvoryBrony" },
//       { img: photo301, photographer: "IvoryBrony" },
//       { img: photo302, photographer: "IvoryBrony" },
//       { img: photo303, photographer: "IvoryBrony" },
//       { img: photo304, photographer: "IvoryBrony" },
//       { img: photo305, photographer: "IvoryBrony" },
//       { img: photo306, photographer: "IvoryBrony" },
//       { img: photo307, photographer: "IvoryBrony" },
//       { img: photo308, photographer: "IvoryBrony" },
//       { img: photo309, photographer: "IvoryBrony" },
//       { img: photo310, photographer: "IvoryBrony" },
//       { img: photo311, photographer: "IvoryBrony" },
//       { img: photo312, photographer: "IvoryBrony" },
//       { img: photo313, photographer: "IvoryBrony" },
//       { img: photo314, photographer: "IvoryBrony" },
//       { img: photo315, photographer: "IvoryBrony" },
//       { img: photo316, photographer: "IvoryBrony" },
//       { img: photo317, photographer: "IvoryBrony" },
//       { img: photo318, photographer: "IvoryBrony" },
//       { img: photo319, photographer: "IvoryBrony" },
//       { img: photo320, photographer: "IvoryBrony" },
//       { img: photo321, photographer: "IvoryBrony" },
//       { img: photo322, photographer: "IvoryBrony" },
//       { img: photo323, photographer: "IvoryBrony" },
//       { img: photo324, photographer: "IvoryBrony" },
//       { img: photo325, photographer: "IvoryBrony" },
//       { img: photo326, photographer: "IvoryBrony" },
//       { img: photo327, photographer: "IvoryBrony" },
//       { img: photo328, photographer: "IvoryBrony" },
//       { img: photo329, photographer: "IvoryBrony" },
//       { img: photo330, photographer: "IvoryBrony" },
//       { img: photo331, photographer: "IvoryBrony" },
//       { img: photo332, photographer: "IvoryBrony" },
//       { img: photo333, photographer: "IvoryBrony" },
//       { img: photo334, photographer: "IvoryBrony" },
//       { img: photo335, photographer: "IvoryBrony" },
//       { img: photo336, photographer: "IvoryBrony" },
//       { img: photo337, photographer: "IvoryBrony" },
//       { img: photo338, photographer: "IvoryBrony" },
//       { img: photo339, photographer: "IvoryBrony" },
//       { img: photo340, photographer: "IvoryBrony" },
//       { img: photo341, photographer: "IvoryBrony" },
//       { img: photo342, photographer: "IvoryBrony" },
//       { img: photo343, photographer: "IvoryBrony" },
//       { img: photo344, photographer: "IvoryBrony" },
//       { img: photo345, photographer: "IvoryBrony" },
//       { img: photo346, photographer: "IvoryBrony" },
//       { img: photo347, photographer: "IvoryBrony" },
//       { img: photo348, photographer: "IvoryBrony" },
//       { img: photo349, photographer: "IvoryBrony" },
//       { img: photo350, photographer: "IvoryBrony" },
//       { img: photo351, photographer: "IvoryBrony" },
//       { img: photo352, photographer: "IvoryBrony" },
//       { img: photo353, photographer: "IvoryBrony" },
//     ]
//   : [];
const photos = [];

const images2025 = [
  {
    img: img0,
    artist: "Brittney Ackerman",
    description: "HarmonyCon 2025 flyer",
  },
  {
    img: img1,
    artist: "Brittney Ackerman",
    description: "Harmonic Tune at the bar",
  },
  {
    img: img2,
    artist: "Brittney Ackerman",
    description: "Harmonic Tune at the bar looking at you",
  },
  {
    img: img3,
    artist: "JayArr",
    description: "Harmony Star unlocking a phone",
  },
  // { img: img4, artist: "Brittney Ackerman", description: "" },
  { img: img5, artist: "Brittney Ackerman", description: "HarmonyCon logo" },
  // { img: img26, artist: "Brittney Ackerman", description: "" },
  {
    img: img6,
    artist: "Brittney Ackerman",
    description: "Splash page background",
  },
  { img: img27, artist: "WindShear", description: "Apply page background" },
  { img: img7, artist: "Brittney Ackerman", description: "" },
  { img: img8, artist: "Brittney Ackerman", description: "" },
  { img: img9, artist: "JayArr", description: "Exit sign" },
  {
    img: img10,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>Clawstin</span> Ponybill poster (parody of <span class='italic'>Hamilton</span>)",
  },
  {
    img: img11,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>Singin' in the Rein</span> Ponybill poster (parody of <span class='italic'>Singin' in the Rain</span>)",
  },
  {
    img: img12,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>Singin' in the Rein</span> Ponybill poster (parody of <span class='italic'>Singin' in the Rain</span>)",
  },
  {
    img: img13,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>The Prohoovers</span> Ponybill poster (parody of <span class='italic'>The Producers</span>)",
  },
  {
    img: img14,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>The Stallion of the Opera</span> Ponybill poster (parody of <span class='italic'>The Phantom of the Opera</span>)",
  },
  {
    img: img15,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>The Stallion of the Opera</span> Ponybill poster (parody of <span class='italic'>The Phantom of the Opera</span>)",
  },
  {
    img: img16,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>Winged</span> Ponybill poster (parody of <span class='italic'>Wicked</span>)",
  },
  {
    img: img17,
    artist: "Brittney Ackerman",
    description:
      "<span class='italic'>Winged</span> Ponybill poster (parody of <span class='italic'>Wicked</span>)",
  },
  {
    img: img18,
    artist: "Brittney Ackerman",
    description: "Harmonic Tune's cutie mark",
  },
  {
    img: img19,
    artist: "Brittney Ackerman",
    description: "Harmony Star's cutie mark",
  },
  {
    img: img20,
    artist: "Brittney Ackerman",
    description: "Splash page curtains",
  },
  {
    img: img21,
    artist: "Brittney Ackerman",
    description: "Page transition curtains",
  },
  {
    img: img22,
    artist: "Brittney Ackerman",
    description:
      '"Enter" ticket (from <span class="italic">The Ticket Master</span>)',
  },
  {
    img: img23,
    artist: "Brittney Ackerman",
    description:
      '"Register" ticket (from <span class="italic">The Ticket Master</span>)',
  },
  {
    img: img24,
    artist: "Lunar Harmony",
    description: "Harmonic Tune's signature",
  },
  {
    img: img25,
    artist: "Lunar Harmony",
    description: "Harmony Star's signature",
  },
];

const images2024 = [
  { img: img23_2024, artist: "Brittney Ackerman", description: "" },
  { img: img0_2024, artist: "Brittney Ackerman", description: "" },
  { img: img1_2024, artist: "Brittney Ackerman", description: "" },
  { img: img2_2024, artist: "Brittney Ackerman", description: "" },
  { img: img3_2024, artist: "Brittney Ackerman", description: "" },
  { img: img4_2024, artist: "Brittney Ackerman", description: "" },
  { img: img5_2024, artist: "Brittney Ackerman", description: "" },
  { img: img6_2024, artist: "Brittney Ackerman", description: "" },
  { img: img7_2024, artist: "Brittney Ackerman", description: "" },
  { img: img8_2024, artist: "Brittney Ackerman", description: "" },
  { img: img9_2024, artist: "Brittney Ackerman", description: "" },
  { img: img9_2024, artist: "Brittney Ackerman", description: "" },
  { img: img10_2024, artist: "Brittney Ackerman", description: "" },
  { img: img11_2024, artist: "Brittney Ackerman", description: "" },
  { img: img12_2024, artist: "Brittney Ackerman", description: "" },
  { img: img13_2024, artist: "Brittney Ackerman", description: "" },
  { img: img14_2024, artist: "Brittney Ackerman", description: "" },
  { img: img15_2024, artist: "Brittney Ackerman", description: "" },
  { img: img16_2024, artist: "Brittney Ackerman", description: "" },
  { img: img17_2024, artist: "Brittney Ackerman", description: "" },
  { img: img18_2024, artist: "Brittney Ackerman", description: "" },
  { img: img19_2024, artist: "Brittney Ackerman", description: "" },
  { img: img20_2024, artist: "Brittney Ackerman", description: "" },
  { img: img21_2024, artist: "Brittney Ackerman", description: "" },
  // { img: img22_2024, artist: "Brittney Ackerman", description: "" },
  // { img: img24_2024, artist: "Brittney Ackerman", description: "" },
  { img: img25_2024, artist: "Brittney Ackerman", description: "" },
  { img: img26_2024, artist: "Brittney Ackerman", description: "" },
  { img: img27_2024, artist: "Brittney Ackerman", description: "" },
  { img: img28_2024, artist: "Brittney Ackerman", description: "" },
  { img: img29_2024, artist: "Brittney Ackerman", description: "" },
  // { img: img30_2024, artist: "Brittney Ackerman", description: "" },
  // { img: img31_2024, artist: "Brittney Ackerman", description: "" },
  // { img: img32_2024, artist: "Brittney Ackerman", description: "" },
  // { img: img33_2024, artist: "Brittney Ackerman", description: "" },
  { img: img34_2024, artist: "Brittney Ackerman", description: "" },
  { img: img35_2024, artist: "Brittney Ackerman", description: "" },
  { img: img36_2024, artist: "Brittney Ackerman", description: "" },
  { img: img37_2024, artist: "Brittney Ackerman", description: "" },
  { img: img38_2024, artist: "Brittney Ackerman", description: "" },
  { img: img39_2024, artist: "Brittney Ackerman", description: "" },
  { img: img40_2024, artist: "Brittney Ackerman", description: "" },
  { img: img41_2024, artist: "Brittney Ackerman", description: "" },
  { img: img42_2024, artist: "Brittney Ackerman", description: "" },
  { img: img43_2024, artist: "Brittney Ackerman", description: "" },
  { img: img45_2024, artist: "Brittney Ackerman", description: "" },
  { img: img46_2024, artist: "Brittney Ackerman", description: "" },
  { img: img47_2024, artist: "Brittney Ackerman", description: "" },
  { img: img48_2024, artist: "Brittney Ackerman", description: "" },
  { img: img49_2024, artist: "Brittney Ackerman", description: "" },
  { img: img50_2024, artist: "Brittney Ackerman", description: "" },
];

const images2023 = [
  { img: img1_2023, artist: "Brittney Ackerman", description: "" },
  { img: img2_2023, artist: "Brittney Ackerman", description: "" },
  { img: img3_2023, artist: "Brittney Ackerman", description: "" },
  { img: img4_2023, artist: "Brittney Ackerman", description: "" },
  { img: img5_2023, artist: "Brittney Ackerman", description: "" },
  { img: img6_2023, artist: "Brittney Ackerman", description: "" },
  { img: img7_2023, artist: "Brittney Ackerman", description: "" },
  { img: img8_2023, artist: "Brittney Ackerman", description: "" },
  { img: img10_2023, artist: "Brittney Ackerman", description: "" },
  { img: img11_2023, artist: "Brittney Ackerman", description: "" },
  { img: img18_2023, artist: "Brittney Ackerman", description: "" },
  { img: img12_2023, artist: "Brittney Ackerman", description: "" },
  { img: img9_2023, artist: "Brittney Ackerman", description: "" },
  { img: img13_2023, artist: "Brittney Ackerman", description: "" },
  { img: img14_2023, artist: "Brittney Ackerman", description: "" },
  { img: img15_2023, artist: "Brittney Ackerman", description: "" },
  { img: img16_2023, artist: "Brittney Ackerman", description: "" },
  { img: img17_2023, artist: "Brittney Ackerman", description: "" },
  { img: img19_2023, artist: "Brittney Ackerman", description: "" },
  { img: img20_2023, artist: "Brittney Ackerman", description: "" },
  { img: img21_2023, artist: "Brittney Ackerman", description: "" },
  { img: img22_2023, artist: "Brittney Ackerman", description: "" },
  { img: img23_2023, artist: "Brittney Ackerman", description: "" },
  { img: img24_2023, artist: "Brittney Ackerman", description: "" },
  { img: img25_2023, artist: "Brittney Ackerman", description: "" },
  { img: img26_2023, artist: "Brittney Ackerman", description: "" },
  { img: img27_2023, artist: "Brittney Ackerman", description: "" },
  { img: img28_2023, artist: "Brittney Ackerman", description: "" },
  { img: img29_2023, artist: "Brittney Ackerman", description: "" },
  { img: img30_2023, artist: "Brittney Ackerman", description: "" },
  { img: img31_2023, artist: "Brittney Ackerman", description: "" },
  { img: img32_2023, artist: "Brittney Ackerman", description: "" },
  { img: img33_2023, artist: "Brittney Ackerman", description: "" },
  { img: img34_2023, artist: "Brittney Ackerman", description: "" },
  { img: img35_2023, artist: "Brittney Ackerman", description: "" },
  { img: img36_2023, artist: "Brittney Ackerman", description: "" },
  { img: img37_2023, artist: "Brittney Ackerman", description: "" },
  { img: img38_2023, artist: "Brittney Ackerman", description: "" },
  { img: img39_2023, artist: "Brittney Ackerman", description: "" },
  { img: img40_2023, artist: "Brittney Ackerman", description: "" },
  { img: img41_2023, artist: "Brittney Ackerman", description: "" },
  { img: img42_2023, artist: "Brittney Ackerman", description: "" },
  { img: img43_2023, artist: "Brittney Ackerman", description: "" },
  { img: img44_2023, artist: "Brittney Ackerman", description: "" },
  { img: img45_2023, artist: "Brittney Ackerman", description: "" },
  { img: img46_2023, artist: "Brittney Ackerman", description: "" },
  { img: img47_2023, artist: "Brittney Ackerman", description: "" },
  { img: img48_2023, artist: "Brittney Ackerman", description: "" },
  { img: img49_2023, artist: "Brittney Ackerman", description: "" },
  { img: img50_2023, artist: "Brittney Ackerman", description: "" },
  { img: img51_2023, artist: "Brittney Ackerman", description: "" },
  { img: img52_2023, artist: "Brittney Ackerman", description: "" },
  { img: img53_2023, artist: "Brittney Ackerman", description: "" },
];

const images2022 = [
  { img: img2_2022, artist: "Brittney Ackerman", description: "" },
  { img: img3_2022, artist: "Brittney Ackerman", description: "" },
  { img: img4_2022, artist: "Brittney Ackerman", description: "" },
  { img: img5_2022, artist: "Brittney Ackerman", description: "" },
  { img: img6_2022, artist: "Brittney Ackerman", description: "" },
  { img: img7_2022, artist: "Brittney Ackerman", description: "" },
  { img: img8_2022, artist: "Brittney Ackerman", description: "" },
  { img: img9_2022, artist: "Brittney Ackerman", description: "" },
  { img: img10_2022, artist: "Brittney Ackerman", description: "" },
  { img: img11_2022, artist: "Brittney Ackerman", description: "" },
  { img: img12_2022, artist: "Brittney Ackerman", description: "" },
  { img: img13_2022, artist: "Brittney Ackerman", description: "" },
  { img: img14_2022, artist: "Brittney Ackerman", description: "" },
  { img: img15_2022, artist: "Brittney Ackerman", description: "" },
  { img: img16_2022, artist: "Brittney Ackerman", description: "" },
  { img: img17_2022, artist: "Brittney Ackerman", description: "" },
  { img: img18_2022, artist: "Brittney Ackerman", description: "" },
  { img: img19_2022, artist: "Brittney Ackerman", description: "" },
  { img: img20_2022, artist: "Brittney Ackerman", description: "" },
  { img: img21_2022, artist: "Brittney Ackerman", description: "" },
  { img: img22_2022, artist: "Brittney Ackerman", description: "" },
  { img: img23_2022, artist: "Brittney Ackerman", description: "" },
  { img: img24_2022, artist: "Brittney Ackerman", description: "" },
  { img: img25_2022, artist: "Brittney Ackerman", description: "" },
  { img: img26_2022, artist: "Brittney Ackerman", description: "" },
  { img: img27_2022, artist: "Brittney Ackerman", description: "" },
  { img: img28_2022, artist: "Brittney Ackerman", description: "" },
  { img: img29_2022, artist: "Brittney Ackerman", description: "" },
  { img: img30_2022, artist: "Brittney Ackerman", description: "" },
  { img: img31_2022, artist: "Brittney Ackerman", description: "" },
  { img: img32_2022, artist: "Brittney Ackerman", description: "" },
  { img: img33_2022, artist: "Brittney Ackerman", description: "" },
  { img: img34_2022, artist: "Brittney Ackerman", description: "" },
  { img: img35_2022, artist: "Brittney Ackerman", description: "" },
  { img: img36_2022, artist: "Brittney Ackerman", description: "" },
  { img: img37_2022, artist: "Brittney Ackerman", description: "" },
  { img: img38_2022, artist: "Brittney Ackerman", description: "" },
  { img: img39_2022, artist: "Brittney Ackerman", description: "" },
  { img: img40_2022, artist: "Brittney Ackerman", description: "" },
  { img: img41_2022, artist: "Brittney Ackerman", description: "" },
  { img: img42_2022, artist: "Brittney Ackerman", description: "" },
  { img: img43_2022, artist: "Brittney Ackerman", description: "" },
  { img: img44_2022, artist: "Brittney Ackerman", description: "" },
];

const getBorder = (idx) =>
  ["wood", "wood2", "wood4", "wood5", "black"][idx % 5];

import Footer from "../components/Footer.astro";
---

<link
  type="text/css"
  rel="stylesheet"
  href="/css/lightgallery-bundle.min.css"
/>
<Layout
  title="HarmonyCon 2025 | Gallery"
  desktopOverflow={true}
  mobileOverflow={true}
>
  <div id="bg" class="relative flex flex-col h-screen pt-8 md:pt-16 gap-y-8">
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-black z-10"
      style="text-shadow: 3px 3px 1px #999;"
    >
      Gallery
    </div>
    <div
      id="lightgallery"
      class="text-center block gap-y-2 w-full px-0 md:px-4 pb-0 md:pb-8 mb-0 md:mb-8"
    >
      <div
        class=""
        style="filter: drop-shadow(0 3px 3px #000);"
        data-src={img4.src}
        data-sub-html={`<h4>Artist: Brittney Ackerman</h4><h6>HarmonyCon 2025 logo</h6>`}
      >
        <a class="shine cursor-pointer rounded inline-block m-1 sm:m-2 xl:m-2">
          <Image
            alt={`HarmonyCon 2025 logo`}
            src={img4}
            height={400}
            format="avif"
            class="stroke duration-300 p-1 h-48 sm:h-64 xl:h-64 w-auto md:w-auto cursor-pointer"
          />
        </a>
      </div>
      {
        images2025.map(({ img, artist, description }, idx) => (
          <div
            class="inline-block"
            style="filter: drop-shadow(0 3px 3px #000);"
            data-src={img.src}
            data-sub-html={`<h4>Artist: ${artist}</h4>${description}`}
          >
            <a class="shine cursor-pointer rounded  inline-block m-1 sm:m-2 xl:m-2">
              <Image
                alt={`Art asset #${idx + 1}`}
                src={img}
                height={300}
                format="avif"
                class="stroke duration-300 p-1 h-16 sm:h-24 xl:h-32 w-auto md:w-auto cursor-pointer"
              />
            </a>
          </div>
        ))
      }
      <div
        class="mt-6 md:mt-12 mx-4 sm:mx-8 md:mx-12 lg:mx-12 xl:mx-12"
        style="filter: drop-shadow(0 3px 3px #000);"
        data-src={img44_2024.src}
        data-sub-html={`<h4>Artist: Brittney Ackerman</h4><h6>HarmonyCon 2024 lanyard</h6>`}
      >
        <a class="shine cursor-pointer rounded inline-block">
          <Image
            alt={`HarmonyCon 2024 lanyard`}
            src={img44_2024}
            height={100}
            format="avif"
            class="stroke duration-300 p-0 w-full cursor-pointer"
          />
        </a>
      </div>
      <div
        class="mt-6"
        style="filter: drop-shadow(0 3px 3px #000);"
        data-src={img22_2024.src}
        data-sub-html={`<h4>Artist: Brittney Ackerman</h4><h6>HarmonyCon 2024 logo</h6>`}
      >
        <a class="shine cursor-pointer rounded inline-block m-1 sm:m-2 xl:m-2">
          <Image
            alt={`HarmonyCon 2024 logo`}
            src={img22_2024}
            height={400}
            format="avif"
            class="stroke duration-300 p-1 h-48 sm:h-64 xl:h-64 w-auto md:w-auto cursor-pointer"
          />
        </a>
      </div>
      {
        images2024.map(({ img, artist, description }, idx) => (
          <div
            class="inline-block"
            style="filter: drop-shadow(0 3px 3px #000);"
            data-src={img.src}
            data-sub-html={`<h4>Artist: ${artist}</h4>${description}`}
          >
            <a class="shine cursor-pointer rounded  inline-block m-1 sm:m-2 xl:m-2">
              <Image
                alt={`Art asset #${idx + 1}`}
                src={img}
                height={300}
                format={img.format === "gif" ? "gif" : "avif"}
                class="stroke duration-300 p-1 h-16 sm:h-24 xl:h-32 w-auto md:w-auto cursor-pointer"
              />
            </a>
          </div>
        ))
      }
      {
        photos.map(({ img, photographer }, jdx) => (
          <div
            class="inline-block"
            style="filter: drop-shadow(0 3px 3px #000);"
            data-src={img.src}
            data-sub-html={`<h4>Photographer: ${photographer}</h4>HarmonyCon 2024 photo #${
              jdx + 1
            }`}
          >
            <a class="shine cursor-pointer rounded  inline-block m-1 sm:m-2 xl:m-2">
              <Image
                alt={`Photo #${jdx}`}
                src={img}
                height={300}
                format="avif"
                class="stroke duration-300 p-1 h-16 sm:h-24 xl:h-32 w-auto md:w-auto cursor-pointer"
              />
            </a>
          </div>
        ))
      }
      <div
        class="mt-6 md:mt-12 mx-4 sm:mx-8 md:mx-12 lg:mx-12 xl:mx-12"
        style="filter: drop-shadow(0 3px 3px #000);"
        data-src={img54_2023.src}
        data-sub-html={`<h4>Artist: Brittney Ackerman</h4><h6>HarmonyCon 2023 lanyard</h6>`}
      >
        <a class="shine cursor-pointer rounded inline-block">
          <Image
            alt={`HarmonyCon 2023 lanyard`}
            src={img54_2023}
            height={100}
            format="avif"
            class="stroke duration-300 p-0 w-full cursor-pointer"
          />
        </a>
      </div>
      <div
        class="mt-6"
        style="filter: drop-shadow(0 3px 3px #000);"
        data-src={img0_2023.src}
        data-sub-html={`<h4>Artist: Brittney Ackerman</h4><h6>HarmonyCon 2023 logo</h6>`}
      >
        <a class="shine cursor-pointer rounded inline-block m-1 sm:m-2 xl:m-2">
          <Image
            alt={`HarmonyCon 2023 logo`}
            src={img0_2023}
            height={400}
            format="avif"
            class="duration-300 p-1 h-48 sm:h-64 xl:h-64 w-auto md:w-auto cursor-pointer"
          />
        </a>
      </div>
      {
        images2023.map(({ img, artist, description }, idx) => (
          <div
            class="inline-block"
            style="filter: drop-shadow(0 3px 3px #000);"
            data-src={img.src}
            data-sub-html={`<h4>Artist: ${artist}</h4>${description}`}
          >
            <a class="shine cursor-pointer rounded  inline-block m-1 sm:m-2 xl:m-2">
              <Image
                alt={`Art asset #${idx + 1}`}
                src={img}
                height={300}
                format={img.format === "gif" ? "gif" : "avif"}
                class="stroke duration-300 p-1 h-16 sm:h-24 xl:h-32 w-auto md:w-auto cursor-pointer"
              />
            </a>
          </div>
        ))
      }
      <div
        class="mt-6 md:mt-12 mx-4 sm:mx-8 md:mx-12 lg:mx-12 xl:mx-12"
        style="filter: drop-shadow(0 3px 3px #000);"
        data-src={img1_2022.src}
        data-sub-html={`<h4>Artist: Brittney Ackerman</h4><h6>HarmonyCon 2022 lanyard</h6>`}
      >
        <a class="shine cursor-pointer rounded inline-block">
          <Image
            alt={`HarmonyCon 2022 lanyard`}
            src={img1_2022}
            height={100}
            format="avif"
            class="stroke duration-300 p-0 w-full cursor-pointer"
          />
        </a>
      </div>
      <div
        class="mt-6"
        style="filter: drop-shadow(0 3px 3px #000);"
        data-src={img0_2022.src}
        data-sub-html={`<h4>Artist: Brittney Ackerman</h4><h6>HarmonyCon 2022 logo</h6>`}
      >
        <a class="shine cursor-pointer rounded inline-block m-1 sm:m-2 xl:m-2">
          <Image
            alt={`HarmonyCon 2022 logo`}
            src={img0_2022}
            height={400}
            format="avif"
            class="stroke bg-neutral-800 duration-300 p-1 h-48 sm:h-64 xl:h-64 w-auto md:w-auto cursor-pointer"
          />
        </a>
      </div>
      {
        images2022.map(({ img, artist, description }, idx) => (
          <div
            class="inline-block"
            style="filter: drop-shadow(0 3px 3px #000);"
            data-src={img.src}
            data-sub-html={`<h4>Artist: ${artist}</h4>${description}`}
          >
            <a class="shine cursor-pointer rounded  inline-block m-1 sm:m-2 xl:m-2">
              <Image
                alt={`Art asset #${idx + 1}`}
                src={img}
                height={300}
                format={img.format === "gif" ? "gif" : "avif"}
                class="stroke duration-300 p-1 h-16 sm:h-24 xl:h-32 w-auto md:w-auto cursor-pointer"
              />
            </a>
          </div>
        ))
      }
    </div>

    <Footer />
  </div>
</Layout>

<style
  define:vars={{
    optimizedGalleryBackground: `url(${optimizedGalleryBackground.src})`,
  }}
>
  .stroke {
    filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white)
      drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white);
  }

  .shine {
    --a: 0deg; /* control the angle of rotation (the smaller, the better) */
    transform: perspective(0px)
      rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
    -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250%
      250%;
    transition: 0.4s;
    animation:
      jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 2s forwards,
      rotating 4s var(--sine) 0s infinite forwards;

    z-index: 50;
  }

  .shine:hover {
    --i: -1;
    -webkit-mask-position: 0 0;
  }

  @media (min-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedGalleryBackground);
      background-repeat: repeat;
      background-size: 100%;
      background-position: center;
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedGalleryBackground);
      background-repeat: repeat;
      background-size: 400%;
      background-position: center;
      opacity: 1;
    }
  }
</style>
