---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import cocBackground from "../assets/2025/bg/stage3.png";
const optimizedCocBackground = await getImage({
  src: cocBackground,
  format: "avif",
  width: 2000,
});

import guest1 from "../assets/2025/guests/ChanKent1.jpeg";
import guest2 from "../assets/2025/guests/Jeremy_Whitley.jpg";
import guest3 from "../assets/2025/guests/Kazumi Evams 2024.jpeg";
import guest4 from "../assets/2025/guests/Rena Headshot.png";
import guest5 from "../assets/2025/guests/Tony Headshot.png";

import Footer from "../components/Footer.astro";
---

<Layout title="HarmonyCon 2025 | Venue">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
  
  {/* Dialogs */}
  <dialog class="p-0 cursor-default max-h-[90vh] max-w-[90vw]" id="dialog-shannon">
    <div
      class="block md:hidden absolute left-2 top-2 hover:bg-red-200 rounded-lg text-stone-600"
      id="close-shannon"
    >
      <svg
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div
      class="overflow-y-auto overflow-x-hidden p-4 md:p-8 bg-blue-50 flex flex-col items-center justify-start w-full h-auto sm:w-[640px] md:w-[768px] lg:w-[1024px] 2xl:w-[1280px] max-h-[90vh]"
    >
      <div class="w-full max-w-xl">
        <Image
          src={guest1}
          format="avif"
          height="800"
          alt="Shannon Chan-Kent"
          style="filter: drop-shadow(0 2px 2px #000);"
          class="w-full h-auto max-h-[40vh] object-contain"
        />
      </div>
      <div class="flex flex-col w-full items-center">
        <div class="whitespace-nowrap py-6 text-3xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl text-center tracking-wide font-semibold uppercase text-white">
          Shannon Chan-Kent
        </div>
        <div class="max-w-3xl text-sm sm:text-base md:text-lg 2xl:text-lg leading-snug sm:leading-normal text-white text-center">
          Shannon has been in the film/tv/voice over industry for nearly 20 years. She is a trained opera singer holding a BMUS and MMUS in Opera Performance from the University of British Columbia. A few of Shannon's VO credits include <i>My Little Pony: Friendship is Magic</i> (series and feature), <i>Gigantosaurus</i>, <i>Polly Pocket</i>, <i>Corner Gas: The Animated Series</i>, <i>Slugterra</i>, <i>DeathNote</i>, <i>16 Hudson</i>, <i>The Bravest Knight</i>, <i>Mega Man</i> and <i>Hello Ninja</i>. Film and tv credits include <i>Life Sentence</i> (CW), <i>Another Life</i> (Netflix), <i>Good Trouble</i> (Hulu/Freeform) and <i>You</i> (Netflix). Shannon is also no stranger to the live stage. She has been in productions such as <i>Beauty And The Beast</i> (Belle), <i>Avenue Q</i>, <i>Evita</i>, <i>The Magic Flute</i> and <i>The Flick</i>.
        </div>
      </div>
    </div>
  </dialog>

  <dialog class="p-0 cursor-default max-h-[90vh] max-w-[90vw]" id="dialog-jeremy">
    <div
      class="block md:hidden absolute left-2 top-2 hover:bg-red-200 rounded-lg text-stone-600"
      id="close-jeremy"
    >
      <svg
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div
      class="overflow-y-auto overflow-x-hidden p-4 md:p-8 bg-orange-50 flex flex-col items-center justify-start w-full h-auto sm:w-[640px] md:w-[768px] lg:w-[1024px] 2xl:w-[1280px] max-h-[90vh]"
    >
      <div class="w-full max-w-xl">
        <Image
          src={guest2}
          format="avif"
          height="800"
          alt="Jeremy Whitley"
          style="filter: drop-shadow(0 2px 2px #000);"
          class="w-full h-auto max-h-[40vh] object-contain"
        />
      </div>
      <div class="flex flex-col w-full items-center">
        <div class="whitespace-nowrap py-6 text-3xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl text-center tracking-wide font-semibold uppercase text-white">
          Jeremy Whitley
        </div>
        <div class="max-w-3xl text-sm sm:text-base md:text-lg 2xl:text-lg leading-snug sm:leading-normal text-white text-center">
          Jeremy Whitley is a writer from Durham, NC. He is the writer/creator of <i>The Dog Knight</i>, <i>Princeless</i>, <i>The School for Extraterrestrial Girls</i>, and <i>Navigating with You</i>. He is also the writer of over fifty issues of <i>My Little Pony</i> comics including <i>Nightmare Knights</i>, <i>Siege of the Crystal Empire</i>, and Season 10. He was once bitten by a radioactive pegasus.
        </div>
      </div>
    </div>
  </dialog>

  <dialog class="p-0 cursor-default max-h-[90vh] max-w-[90vw]" id="dialog-kazumi">
    <div
      class="block md:hidden absolute left-2 top-2 hover:bg-red-200 rounded-lg text-stone-600"
      id="close-kazumi"
    >
      <svg
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div
      class="overflow-y-auto overflow-x-hidden p-4 md:p-8 bg-amber-50 flex flex-col lg:flex-row items-center justify-center w-full h-auto sm:w-[640px] md:w-[768px] lg:w-[1024px] 2xl:w-[1280px] max-h-[90vh]"
    >
      <div class="flex items-start justify-center w-full lg:w-1/3 lg:sticky lg:top-0">
        <Image
          src={guest3}
          format="avif"
          height="800"
          alt="Kazumi Evans"
          style="filter: drop-shadow(0 2px 2px #000);"
          class="w-full h-auto max-w-sm object-contain"
        />
      </div>
      <div class="flex flex-col w-full lg:w-2/3 lg:pl-8 justify-center h-full">
        <div class="whitespace-nowrap pt-4 pb-2 md:py-4 text-3xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl text-center lg:text-left tracking-wide font-semibold uppercase text-white">
          Kazumi Evans
        </div>
        <div class="py-1 md:py-2 text-sm sm:text-base md:text-lg 2xl:text-lg leading-snug sm:leading-normal text-white">
          Kazumi Evans is a singer/actor born and raised in Vancouver BC, where she has performed professionally onstage with companies such as the Vancouver Opera, Vancouver Playhouse and The Arts Club.<br/><br/>
          As a voice actor, she has had roles on numerous animated TV series and movies such as Nisha in <i>The Hollow</i>, Queen Sarai in <i>The Dragon Prince</i>, Jewel Sparkles in <i>We're Lalaloopsy</i>, Iris in <i>Lolirock</i>, Skipper in the <i>Barbie and Her Sisters</i> series, Rouge in <i>Sonic Prime</i>, Wyldfyre in <i>Ninjago: Dragons Rising</i> and nine seasons as the singing voice of Rarity in <i>My Little Pony Friendship is Magic</i>.<br/><br/>
          On camera, she has appeared in productions such as <i>Mech X-4</i> (Disney XD) <i>The Bridge</i>, <i>With Love Christmas</i> & <i>The Mistletoe Secret</i> for the Hallmark Channel.<br/><br/>
          When not acting, she enjoys writing and photography. She lives in Vancouver with her husband, two sons, and their cat & dog.
        </div>
      </div>
    </div>
  </dialog>

  <dialog class="p-0 cursor-default max-h-[90vh] max-w-[90vw]" id="dialog-rena">
    <div
      class="block md:hidden absolute left-2 top-2 hover:bg-red-200 rounded-lg text-stone-600"
      id="close-rena"
    >
      <svg
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div
      class="overflow-y-auto overflow-x-hidden p-4 md:p-8 bg-rose-50 flex flex-col items-center justify-start w-full h-auto sm:w-[640px] md:w-[768px] lg:w-[1024px] 2xl:w-[1280px] max-h-[90vh]"
    >
      <div class="w-full max-w-xl">
        <Image
          src={guest4}
          format="avif"
          height="800"
          alt="Rena Anakwe"
          style="filter: drop-shadow(0 2px 2px #000);"
          class="w-full h-auto max-h-[40vh] object-contain"
        />
      </div>
      <div class="flex flex-col w-full items-center">
        <div class="whitespace-nowrap py-6 text-3xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl text-center tracking-wide font-semibold uppercase text-white">
          Rena Anakwe
        </div>
        <div class="max-w-3xl text-sm sm:text-base md:text-lg 2xl:text-lg leading-snug sm:leading-normal text-white text-center">
          Rena Anakwe is a Nigerian-Canadian-American voice actor, interdisciplinary artist and performer based in Brooklyn, New York. She is best known as the voice of Sapphire Shores on <i>My Little Pony: Friendship is Magic</i> and Janai on <i>The Dragon Prince</i>.
        </div>
      </div>
    </div>
  </dialog>

  <dialog class="p-0 cursor-default max-h-[90vh] max-w-[90vw]" id="dialog-tony">
    <div
      class="block md:hidden absolute left-2 top-2 hover:bg-red-200 rounded-lg text-stone-600"
      id="close-tony"
    >
      <svg
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div
      class="overflow-y-auto overflow-x-hidden p-4 md:p-8 bg-purple-50 flex flex-col items-center justify-start w-full h-auto sm:w-[640px] md:w-[768px] lg:w-[1024px] 2xl:w-[1280px] max-h-[90vh]"
    >
      <div class="w-full max-w-xl">
        <Image
          src={guest5}
          format="avif"
          height="800"
          alt="Tony Fleecs"
          style="filter: drop-shadow(0 2px 2px #000);"
          class="w-full h-auto max-h-[40vh] object-contain"
        />
      </div>
      <div class="flex flex-col w-full items-center">
        <div class="whitespace-nowrap py-6 text-3xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl text-center tracking-wide font-semibold uppercase text-white">
          Tony Fleecs
        </div>
        <div class="max-w-3xl text-sm sm:text-base md:text-lg 2xl:text-lg leading-snug sm:leading-normal text-white text-center">
          Tony Fleecs is a prolific and critically acclaimed comic book creator and TV writer. His comics have sold millions of copies in the United States and have been translated and reprinted all over the world. Tony's creator owned books include <i>STRAY DOGS</i> (2021,) <i>FERAL</i> (2024,) <i>UNCANNY VALLEY</i> (2024,) <i>LOCAL MAN</i> (2023) and <i>TIME SHOPPER</i> (2022.) His work has been nominated for multiple Eisner Awards and the Ringo Award. Tony has worked for every major U.S. comics publisher. You've seen his name on some of your favorite comic book titles like <i>Star Wars</i>, <i>Rick & Morty</i>, <i>Avengers</i>, <i>Spider-Man</i>, <i>Wolverine</i>, <i>Batman</i>, <i>TMNT</i>, <i>Transformers</i>, <i>Army of Darkness</i> and a literal TON of <i>My Little Pony</i>. He also wrote on the wildly popular Netflix show <i>My Little Pony: Make Your Mark</i>.
        </div>
      </div>
    </div>
  </dialog>

  <div id="bg" class="relative flex flex-col h-screen pt-8 md:pt-16 gap-y-8">
    <!-- <div
      class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-yellow-200 z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      OUR GUESTS
    </div> -->
    <div class="flex flex-col items-center justify-center my-auto gap-y-12 py-12 2xl:mt-48">
      {/* Cards Container */}
      <div class="flex flex-col md:flex-row gap-4 2xl:gap-8 justify-center">
        <div
          class="card1 p-1 bg-white border-4 border-black w-64 h-96 -rotate-3 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          id="shannon"
        >
          <div class="h-72 overflow-hidden">
          <Image
            src={guest1}
              alt="Shannon Chan-Kent"
              width={400}
            format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
          />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-3xl text-black select-none">Shannon Chan-Kent</p>
          </div>
        </div>
        <div
          class="card2 p-1 bg-white border-4 border-black w-64 h-96 rotate-2 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          id="jeremy"
        >
          <div class="h-72 overflow-hidden">
          <Image
              src={guest2}
              alt="Jeremy Whitley"
              width={400}
            format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
          />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-3xl text-black select-none">Jeremy Whitley</p>
          </div>
        </div>
        <div
          class="card3 p-1 bg-white border-4 border-black w-64 h-96 -rotate-2 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          id="kazumi"
        >
          <div class="h-72 overflow-hidden">
          <Image
            src={guest3}
              alt="Kazumi Evans"
              width={400}
              format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-3xl text-black select-none">Kazumi Evans</p>
          </div>
        </div>
        <div
          class="hidden 2xl:block card4 p-1 bg-white border-4 border-black w-64 h-96 rotate-3 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          id="rena"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest4}
              alt="Rena Anakwe"
              width={400}
            format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
          />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-3xl text-black select-none">Rena Anakwe</p>
          </div>
        </div>
        <div
          class="hidden 2xl:block card5 p-1 bg-white border-4 border-black w-64 h-96 -rotate-1 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          id="tony"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest5}
              alt="Tony Fleecs"
              width={400}
              format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-3xl text-black select-none">Tony Fleecs</p>
          </div>
        </div>
      </div>

      {/* Bottom Row for Medium Screens */}
      <div class="flex-col md:flex md:flex-row 2xl:hidden gap-4 md:gap-8 justify-center mt-4">
        <div
          class="card4 p-1 bg-white border-4 border-black w-64 h-96 rotate-3 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          id="rena-md"
        >
          <div class="h-72 overflow-hidden">
          <Image
            src={guest4}
              alt="Rena Anakwe"
              width={400}
            format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
          />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black select-none">Rena Anakwe</p>
          </div>
        </div>
        <div
          class="card5 p-1 bg-white border-4 border-black w-64 h-96 -rotate-1 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          id="tony-md"
        >
          <div class="h-72 overflow-hidden">
          <Image
            src={guest5}
              alt="Tony Fleecs"
              width={400}
            format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
          />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black select-none">Tony Fleecs</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>

  <style
    define:vars={{
      optimizedCocBackground: `url(${optimizedCocBackground.src})`,
    }}
  >
    #bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      background-image: var(--optimizedCocBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
    }

    .card1, .card2, .card3, .card4, .card5 {
      animation: float 4s ease-in-out infinite;
      animation-delay: var(--delay, 0s);
      transform: translateY(var(--start-y, 0px)) rotate(var(--rotate, 0deg));
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }

    .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover {
      transform: translateY(calc(var(--start-y) - 10px)) rotate(0deg) scale(1.1);
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2);
      z-index: 20;
    }

    .card1 { 
      --delay: 0s; 
      --rotate: -3deg;
      --start-y: 0px;
    }
    .card2 { 
      --delay: -1s; 
      --rotate: 2deg;
      --start-y: -10px;
    }
    .card3 {
      --delay: -2s; 
      --rotate: -2deg;
      --start-y: -5px;
    }
    .card4 { 
      --delay: -1.5s; 
      --rotate: 3deg;
      --start-y: -15px;
    }
    .card5 { 
      --delay: -0.5s; 
      --rotate: -1deg;
      --start-y: -8px;
    }

    @keyframes float {
      0% {
        transform: translateY(var(--start-y)) rotate(var(--rotate));
      }
      50% {
        transform: translateY(calc(var(--start-y) - 7px)) rotate(var(--rotate));
      }
      100% {
        transform: translateY(var(--start-y)) rotate(var(--rotate));
      }
    }

    /* Add Yesteryear font family */
    .font-yesteryear {
      font-family: 'Yesteryear', cursive;
    }

    dialog {
      font-family: Poppins, Arial, sans-serif;
      @apply rounded-xl;
      filter: drop-shadow(0 50px 50px #000);
      outline: none;
      background: rgba(0, 0, 0, 0.85);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      max-height: 90vh;
      max-width: 90vw;
    }

    dialog > div {
      max-height: calc(90vh - 2rem);
      overflow-y: auto;
      scrollbar-gutter: stable;
    }

    dialog img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    dialog[open] {
      animation: fade 0.3s ease-in-out normal;
    }

    dialog::backdrop {
      background-image: linear-gradient(45deg, #000, #000);
      opacity: 0.5;
      backdrop-filter: blur(5px);
    }

    dialog:focus {
      outline: none;
    }

    /* Update the background colors of each guest's modal content div */
    #dialog-shannon > div {
      background: rgba(0, 0, 0, 0.85) !important;
      backdrop-filter: blur(10px);
    }

    #dialog-jeremy > div {
      background: rgba(0, 0, 0, 0.85) !important;
      backdrop-filter: blur(10px);
    }

    #dialog-kazumi > div {
      background: rgba(0, 0, 0, 0.85) !important;
      backdrop-filter: blur(10px);
    }

    #dialog-rena > div {
      background: rgba(0, 0, 0, 0.85) !important;
      backdrop-filter: blur(10px);
    }

    #dialog-tony > div {
      background: rgba(0, 0, 0, 0.85) !important;
      backdrop-filter: blur(10px);
    }

    /* Update text colors to white */
    dialog .text-black {
      color: white;
    }

    /* Update close button color */
    dialog .text-stone-600 {
      color: white;
    }
    
    dialog .hover\:bg-red-200:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    @keyframes fade {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* Add specific styles for vertical format modals */
    #dialog-shannon img,
    #dialog-jeremy img,
    #dialog-rena img,
    #dialog-tony img {
      max-height: 40vh;
    }
  </style>

  <script>
    function setupDialogs() {
      // Shannon
      const shannonDialog = document.getElementById("dialog-shannon");
      const shannonImg = document.getElementById("shannon");
      if (shannonDialog instanceof HTMLDialogElement && shannonImg) {
        shannonImg.addEventListener("click", () => {
          shannonDialog.showModal();
        });
        shannonDialog.addEventListener("click", (e) => {
          if (e.target === shannonDialog) {
            shannonDialog.close();
          }
        });
      }
      const shannonClose = document.getElementById("close-shannon");
      if (shannonClose && shannonDialog instanceof HTMLDialogElement) {
        shannonClose.addEventListener("click", () => {
          shannonDialog.close();
        });
      }

      // Jeremy
      const jeremyDialog = document.getElementById("dialog-jeremy");
      const jeremyImg = document.getElementById("jeremy");
      if (jeremyDialog instanceof HTMLDialogElement && jeremyImg) {
        jeremyImg.addEventListener("click", () => {
          jeremyDialog.showModal();
        });
        jeremyDialog.addEventListener("click", (e) => {
          if (e.target === jeremyDialog) {
            jeremyDialog.close();
          }
        });
      }
      const jeremyClose = document.getElementById("close-jeremy");
      if (jeremyClose && jeremyDialog instanceof HTMLDialogElement) {
        jeremyClose.addEventListener("click", () => {
          jeremyDialog.close();
        });
      }

      // Kazumi
      const kazumiDialog = document.getElementById("dialog-kazumi");
      const kazumiImg = document.getElementById("kazumi");
      if (kazumiDialog instanceof HTMLDialogElement && kazumiImg) {
        kazumiImg.addEventListener("click", () => {
          kazumiDialog.showModal();
        });
        kazumiDialog.addEventListener("click", (e) => {
          if (e.target === kazumiDialog) {
            kazumiDialog.close();
          }
        });
      }
      const kazumiClose = document.getElementById("close-kazumi");
      if (kazumiClose && kazumiDialog instanceof HTMLDialogElement) {
        kazumiClose.addEventListener("click", () => {
          kazumiDialog.close();
        });
      }

      // Rena
      const renaDialog = document.getElementById("dialog-rena");
      const renaImg = document.getElementById("rena");
      const renaMdImg = document.getElementById("rena-md");
      if (renaDialog instanceof HTMLDialogElement) {
        if (renaImg) {
          renaImg.addEventListener("click", () => {
            renaDialog.showModal();
          });
        }
        if (renaMdImg) {
          renaMdImg.addEventListener("click", () => {
            renaDialog.showModal();
          });
        }
        renaDialog.addEventListener("click", (e) => {
          if (e.target === renaDialog) {
            renaDialog.close();
          }
        });
      }
      const renaClose = document.getElementById("close-rena");
      if (renaClose && renaDialog instanceof HTMLDialogElement) {
        renaClose.addEventListener("click", () => {
          renaDialog.close();
        });
      }

      // Tony
      const tonyDialog = document.getElementById("dialog-tony");
      const tonyImg = document.getElementById("tony");
      const tonyMdImg = document.getElementById("tony-md");
      if (tonyDialog instanceof HTMLDialogElement) {
        if (tonyImg) {
          tonyImg.addEventListener("click", () => {
            tonyDialog.showModal();
          });
        }
        if (tonyMdImg) {
          tonyMdImg.addEventListener("click", () => {
            tonyDialog.showModal();
          });
        }
        tonyDialog.addEventListener("click", (e) => {
          if (e.target === tonyDialog) {
            tonyDialog.close();
          }
        });
      }
      const tonyClose = document.getElementById("close-tony");
      if (tonyClose && tonyDialog instanceof HTMLDialogElement) {
        tonyClose.addEventListener("click", () => {
          tonyDialog.close();
        });
      }

      // Close all modals with Escape key
      document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          document.querySelectorAll("dialog[open]").forEach((dialog) => {
            if (dialog instanceof HTMLDialogElement) {
              dialog.close();
            }
          });
        }
      });
    }

    // Run setup on initial load
    setupDialogs();

    // Run setup again after Astro view transitions
    document.addEventListener("astro:page-load", setupDialogs);
    document.addEventListener("astro:after-swap", setupDialogs);
  </script>
</Layout>
