---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import cocBackground from "../assets/2025/schedule/HC25_Tile_Sepia.png";
const optimizedCocBackground = await getImage({
  src: cocBackground,
  format: "avif",
  width: 2000,
});

import guest1 from "../assets/2025/guests/headshots/lightning_bliss.png";
import guest2 from "../assets/2025/guests/headshots/taylor_bowe-mcardle.jpeg";
import guest3 from "../assets/2025/guests/headshots/bobby_seas.png";
import guest4 from "../assets/2025/guests/headshots/railershy.png";
import guest5 from "../assets/2025/guests/headshots/the_nameless_one.png";
import guest6 from "../assets/2025/guests/headshots/equestrian_wastelander.png";
import guest7 from "../assets/2025/guests/headshots/pearmare_animation.jpg";
import guest8 from "../assets/2025/guests/headshots/mad_munchkin.png";
import guest9 from "../assets/2025/guests/headshots/ezebird.png";
import guest10 from "../assets/2025/guests/headshots/riffponies.jpg";
import guest11 from "../assets/2025/guests/headshots/friendship_is_content.png";
import guest12 from "../assets/2025/guests/headshots/banquo0.png";
import guest13 from "../assets/2025/guests/headshots/gatorgoatjohnny.png";
import guest14 from "../assets/2025/guests/headshots/red_card.png";
import guest15 from "../assets/2025/guests/headshots/minty_root.png";
import guest16 from "../assets/2025/guests/headshots/fiaura_the_tank_girl.png";
import guest17 from "../assets/2025/guests/headshots/zizzy.jpg";
import guest18 from "../assets/2025/guests/headshots/fuzzy.png";
import guest19 from "../assets/2025/guests/headshots/crackles_cousin_cosplay.jpg";
import guest20 from "../assets/2025/guests/headshots/peruserofpieces.png";
import guest21 from "../assets/2025/guests/headshots/kariana_keyes.png";
import guest22 from "../assets/2025/guests/headshots/drwolf.png";
import guest23 from "../assets/2025/guests/headshots/silver_quill.jpg";
import guest24 from "../assets/2025/guests/headshots/step_2_harmony.png";
import guest25 from "../assets/2025/guests/headshots/captainhoers.jpg";
import guest26 from "../assets/2025/guests/headshots/cole_donnerstag.jpg";
import guest27 from "../assets/2025/guests/headshots/jack_scootertrix.jpeg";
import Footer from "../components/Footer.astro";
import Plaque from "../components/Plaque.astro";

const bios = [
  {
    name: "Lightning Bliss",
    img: guest1,
    twitter: "Lightning_Bliss",
    bio: "I represent Lightning Bliss, the spunky rainbow Alicorn in the Brony Analysis Community. When I'm not reviewing MLP or editing episodes for DRWolf's TF2 Analysis Anarchy show, I'm creating episodes for my Magic Lesson series or vending in the Vendor Hall! I also host in my series to a number of characters represened by my friends, such as the 'Rainbow Guards' Solar Flare and Chuggle, and the rainbow monster Twink. Whether at a con or through my content, I strive to remind others to look out for the rainbows, they will make you smile."
  },
  {
    name: "Taylor Bowe-McArdle",
    img: guest2,
    twitter: "TaylorBMcardle",
    bio: "Taylor has been a part of the brony fandom since 2016 after a close friend told him about the show when he needed it the most. He is seen by the community as a positive influencer, friend to all, and is well recognized for supporting community artists and vendors. He hosts a podcast on Twitch called 'The Taylor & Co Hangout Podcast' every other Tuesday night that centers around fun topics he and his fellow co-hosts discuss about the fandom. He also does a variety of panels at cons such as 'Pony Life is Magic', 'Glimmer Gang Unleashed' and 'My Little Match Game' to name a few. As you can tell from his outfit, he is a huge fan of a certain character that, well…shows off the 'Glimmer Gang' pride. He also provides sports commentary for Crackles Cousin's Buckball tournaments. Whenever he isn't fantasizing about Starlight Glimmer, he is also heavily invested in auto racing and is a camera operator for Low Budget TV."
  },
  {
    name: "Bobby Seas",
    img: guest3,
    twitter: "Bobby165324",
    bio: "A recognizable face in HarmonyCon, Bobby Seas has been the host of My Little Millionaire since 2013, making it the longest running brony game show in the fandom's history. A personality who loves to entertain his audience, Bobby can often be seen walking around in his signature suit and tie, or cosplaying as 'Stratus Skyline', a reporter for ZBS News. Bobby is a local Dallas resident, so he's contractually obligated to be here."
  },
  {
    name: "Railershy",
    img: guest4,
    bio: "Been attending pony cons mainly around the Chicago and Milwaukee area, recently starting bringing out generosity of money to charities in the past few years. Am also the one who was silly enough to bid $10,000 on a flag at another pony convention."
  },
  {
    name: "The Nameless One",
    img: guest5,
    bio: "The Nameless One is creating D&D Livestreams, writing fanfics, running community focused podcasts and bringing creators in the fandom together!"
  },
  {
    name: "Equestrian Wastelander",
    img: guest6,
    bio: "The Equestrian Wastelander is a voice actor, cosplayer, fanfic author, worldbuilder & Convention Veteran in the Brony/Furry/Gaming/Anime communities, having attended & staffed over 90+ cons! He knows ALL the Con Ins & Outs and is eager to help make your time at a convention one well spent!"
  },
  {
    name: "Pearmare Animation",
    img: guest7,
    bio: "Pearmare has been a fandom animator sense 2014! He started out as a Source Filmmaker animator who has more recently begun their journey into 2D animations. Some of their more popular works in recent times being Twilight's Betrayal, or Ante Up."
  },
  {
    name: "Mad Munchkin",
    img: guest8,
    bio: "Scottish Youtuber freelance Artist known as Mad Munchkin within the MLP Fandom. Part of the TFV2 Analysis Anarchy Crew."
  },
  {
    name: "EzeBird & Butter",
    img: guest9,
    bio: "EzeBird and Butter are taking the stage! This fluffy duo is here to shine and dazzle the audience. With over a decade attending pony cons and years of fluffy antics to come you will be on the edge if your seat. No Bye Bye Birdie, say hi hi EzeBird and Butter!"
  },
  {
    name: "RiffPonies!",
    img: guest10,
    bio: "The Riffers of Ponies, the Jackers of all Trades, the Creators of Convention Chaos - it's not your grandmother's ponies; it's RIFFPONIES! Straight from the armpit of the country known as 'New Jersey' comes the snarkiest pair of pony panelists in the fandom, led by Pony panelist extraordinaire Thoth Penswell & Pony fan-artist/animator Acesential! From making fun of bad pony cartoons, to alcoholic My Little Pony trivia games, to crowning the fandom's Next Top Artist & MUCH MUCH MORE, 11 out of 10 horse doctors STILL agree; RiffPonies are guaranteed to deliver you plenty of laughs and plenty of surprises all weekend long!"
  },
  {
    name: "Friendship is Content",
    img: guest11,
    bio: "Two gay gals - Emily (Oomles), a decade-old brony and Echo (RazzPony), a new addition to the fandom - take a deep and comedic dive into My Little Pony: Friendship is Magic to think way too profoundly about this show for children. In their quickly growing podcast, they horse around, review, and rate every single episode from the very beginning. Emily is a full time artist who has been drawing cartoon critters for well over a decade, and ponies have played no small part in that journey. Echo is her cohost who writes novels, fanfiction, and is the official workhorse (pun intended) behind managing the show."
  },
  {
    name: "Banquo0",
    img: guest12,
    bio: "Banquo0 is a MLP Youtuber, occasional artist, incoherent rambler, and, most predominantly, a dumb blue horse. He's been involved in many facets of content creation including voice acting, sketch comedy, and pseudo-analytical babbling. If you've ever heard of him, it's most likely for his 'What Is A' series on his Youtube channel, his amateur animated memes, or for his frequent collaborations within the community on all kinds of projects. If you haven't heard of him, it's probably for the better, he's kind of a doofus."
  },
  {
    name: "GatorGoatJohnny",
    img: guest13,
    bio: "GatorGoatJohnny is a video essayist, filmmaker, songwriter, and Gummy Superfan. Since joining the fandom in 2020, he's done videos on everything, including pony parents, fan theories, song covers, ranking videos, character deep dives, retrospectives, and a three-hour video ranking every episode. He will also talk your ear off about reality TV if you let him."
  },
  {
    name: "Red Card",
    img: guest14,
    bio: "Red Card is a sports brony and a certified soccer/football referee. He dresses up as a referee at conventions and knows pretty much everything there is to know about the rules of the most watched sports in the world. He also does convention vlogs on YouTube, and has been going to conventions since 2013. Red is also a huge cartoon enthusiast. He hosts a 'Cartoon Night' event in the BlepCon Discord server every Wednesday Night."
  },
  {
    name: "Minty Root",
    img: guest15,
    bio: "From the magical land of Canada comes Minty Root, fan animator turned animation industry professional behind projects such as Bright Eyes in the Thunderclouds, Missing Out, The Beginning of Harmony and many more. Come join him as he discusses animation and the craft of filmmaking."
  },
  // {
  //   name: "Fiaura The Tank Girl",
  //   img: guest16,
  //   bio: "Fiaura is the writer of Fallout: Equestria Dead Tree, the current final of the Big Side Stories and is working on something new, an original work. In addition to this, she works tireless in the realm of science and understanding to look at things from the perspective of: 'How does that work if I do the math?' Fiaura has analyzed My Little Pony, Dozens of Anime, Fandoms as a whole instead of just the work they are apart of, Fan Fiction, and Sci-Fi TV shows all in the name of working towards understand the Why we like something and How to make it work within the bounds of our reality."
  // },
  {
    name: "Princess Cadance",
    img: guest17,
    bio: "ZizzyDizzyMC (Princess Cadence) is a cybersecurity engineer known for starting The Pony Archive. She specializes in hard drives, but when the time for a convention comes she dons her suit and it's time to Ca-DANCE! It's about the smiles, the entertainment, the hype. Living in the moment and making the best of it!"
  },
  {
    name: "Fuzzy",
    img: guest18,
    bio: "Fuzzy is the author of one of Fallout Equestria's biggest and most successful stories: Murky Number Seven, now in print across the world. Even after 14 years in this community, he's still writing! Known for epic length tales, he now makes a second epic journey from Scotland back to the US for Harmonycon 2025!"
  },
  {
    name: "Crackle's Cousin Cosplay",
    img: guest19,
    bio: "Crackle's Cousin Cosplay Team is comprised of Master Level award winning cosplayers who truly uphold the elementsof harmony in all they do. A true family at its core, you have seen them as various con mascots, cosplaying your fav. ponies, the creators of the irl buckball tournaments, sisterhooves social, method mares theater, dance hosts of galas, cosplay competition hosts & judges, and other special events. They are ready to roll out the red carpet and pull out all the stops with Amazing New Cosplays and Themed Events just for you! It's showtime!"
  },
  {
    name: "Peruserofpieces",
    img: guest20,
    bio: "A self-taught plushie-maker and a brony since early 2011, I've been putting smiles on ponies' faces for over a decade now! A little bit of my heart and soul goes into every cuddly plushie I make. I suppose it's my way of spreading love through my art in the best way I know how. <3"
  },
  {
    name: "Kariana Keyes",
    img: guest21,
    bio: "Illustrator, Sewist, and most notably known as a cosplayer, Kariana Keyes is prepped to have creativity unleased and share how we together can tell and share stories of our favorite pony characters, and beyond! Still coming right off of the Halloween spirit, I'm sure there will be many costume creativity in mind that we can workshop! Constantly crafting new and inspired outfits for the colorful horse characters and the colorful NOT HORSES (Equestria Girls), thanks to the help of coffee consumption and Jo-Ann Fabrics coupons, she's PINKIE PIE PUMPED to share with others how she cleverly composed her own art of getting creative with cosplay from years of her art student and convention going experience!"
  },
  {
    name: "DRWolf",
    img: guest22,
    bio: "DRWolf is the Brony Therapist of the Brony Analysis Community and Owner/Director/Producer of the TF2 Analysis Anarchy Series"
  },
  {
    name: "Silver Quill",
    img: guest23,
    bio: "Starting off with fan comics in 2012 and eventually gaining a YouTube following, Silver Quill is a long-time member of the fandom and the convention scene. Combining slapstick humor with classical story themes, he offers a perspective on episodes few would consider. This might be because he's a few feathers short of a wing, but it's a fun ride either way. At any convention he's a common sight as a vendor, MC, improv comedian, and presenter. Come check out his panels as he celebrates the storytelling device that is... 'CONTINUITY!'"
  },
  {
    name: "Step 2 Harmony",
    img: guest24,
    bio: "Hey, Hey, Everbody! We're Step 2 Harmony! We're a DFW based cosplay and dance group, primarily focused in choreographing original choreography to MLP and Fandom music, but we also cover dances from various generes!"
  },
  {
    name: "CaptainHoers",
    img: guest25,
    bio: "artist and animator who's been around since the cretaceous period and probably made that thing you remember from 2015 as well as four other things you didn't know was the same guy."
  },
  {
    name: "Cole Donnerstag",
    img: guest26,
    bio: "Cole is a true friend of PMVs! He runs the YouTube channel Studio Cinemagic with the goal of creating high quality cinematic videos for all to enjoy. His work was awarded Best in Show at both the 2019 BronyCon and 2023 HarmonyCon PMV Contests. He is known for his PMV Series 'The Journey Once More,' and will soon debut a fanfic of the same name! Cole is also a part of Ponies the Anthology! He's usually up to some sort of shenanigans, so be on the lookout for him! And remember~ Believe in Memoria."
  },
  {
    name: "Jack (Scootertrix)",
    img: guest27,
    bio: "After I was born, I became a YouTuber and created Scootertrix the Abridged and the G1 Abridged series! I also tend to play ponified Everdell at these horse cons. ;)"
  }
];
---

<Layout title="HarmonyCon 2025 | Community Guests">
  <div id="bg" class="relative flex flex-col h-screen pt-8 md:pt-16 gap-y-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 my-auto gap-6 md:gap-12 w-full lg:w-[56rem] xl:w-[80rem] mx-auto lg:mb-24 mb-8">
      { bios.map((b, idx)=> <Plaque src={b.img} name={b.name} idx={idx} bio={b.bio}/>)}
    </div>
    <Footer />
  </div>

  <style
    define:vars={{
      optimizedCocBackground: `url(${optimizedCocBackground.src})`,
    }}
  >
  
    @media (min-width: 1024px) {
    #bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      background-image: var(--optimizedCocBackground);
      background-repeat: repeat;
      background-size: 20%;
      background-position: center;
      opacity: 1;
    }
  }

  @media (max-width: 1024px) {
    #bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      background-image: var(--optimizedCocBackground);
      background-repeat: repeat;
      background-size: 50%;
      background-position: center;
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    #bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      background-image: var(--optimizedCocBackground);
      background-repeat: repeat;
      background-size: 80%;
      background-position: center;
      opacity: 1;
    }
  }

    .card1, .card2, .card3, .card4, .card5 {
      animation: float 4s ease-in-out infinite;
      animation-delay: var(--delay, 0s);
      transform: translateY(var(--start-y, 0px)) rotate(var(--rotate, 0deg));
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }

    .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover {
      transform: translateY(calc(var(--start-y) - 10px)) rotate(0deg) scale(1.1);
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2);
      z-index: 20;
    }

    .card1 { 
      --delay: 0s; 
      --rotate: -0deg;
      --start-y: 0px;
    }
    .card2 { 
      --delay: -1s; 
      --rotate: 0deg;
      --start-y: -10px;
    }
    .card3 {
      --delay: -2s; 
      --rotate: -0deg;
      --start-y: -5px;
    }
    .card4 { 
      --delay: -1.5s; 
      --rotate: 0deg;
      --start-y: -15px;
    }
    .card5 { 
      --delay: -0.5s; 
      --rotate: -0deg;
      --start-y: -8px;
    }

    @keyframes float {
      0% {
        transform: translateY(var(--start-y)) rotate(var(--rotate));
      }
      50% {
        transform: translateY(calc(var(--start-y) - 7px)) rotate(var(--rotate));
      }
      100% {
        transform: translateY(var(--start-y)) rotate(var(--rotate));
      }
    }

    /* Add Yesteryear font family */
    .font-yesteryear {
      font-family: 'Yesteryear', cursive;
    }

    dialog {
      font-family: Poppins, Arial, sans-serif;
      @apply rounded-xl;
      filter: drop-shadow(0 50px 50px #000);
      outline: none;
      background: rgba(0, 0, 0, 0.85);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      max-height: 90vh;
      max-width: 90vw;
    }

    dialog > div {
      max-height: calc(90vh - 2rem);
      overflow-y: auto;
      scrollbar-gutter: stable;
    }

    dialog img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    dialog[open] {
      animation: fade 0.3s ease-in-out normal;
    }

    dialog::backdrop {
      background-image: linear-gradient(45deg, #000, #000);
      opacity: 0.5;
      backdrop-filter: blur(5px);
    }

    dialog:focus {
      outline: none;
    }

    /* Update text colors to white */
    dialog .text-black {
      color: white;
    }

    /* Update close button color */
    dialog .text-stone-600 {
      color: white;
    }
    
    dialog .hover\:bg-red-200:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    @keyframes fade {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>

  <script>
    function setupDialogs() {
      for (let i = 0; i < 27; i++) {
        const guestDialog = document.getElementById(`dialog-${i}`);
        const guestImg = document.getElementById(`guest-${i}`);
        if (guestDialog instanceof HTMLDialogElement && guestImg) {
          guestImg.addEventListener("click", () => {
            guestDialog.showModal();
          });
        }
        guestDialog.addEventListener("click", (e) => {
          if (e.target === guestDialog) {
            guestDialog.close();
          }
        });
      }
      document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          document.querySelectorAll("dialog[open]").forEach((dialog) => {
            if (dialog instanceof HTMLDialogElement) {
              dialog.close();
            }
          });
        }
      });
    }

    // Run setup on initial load
    setupDialogs();

    document.addEventListener("swup:enable", () => {
    window.swup.hooks.on("content:replace", () => {
      setupDialogs();
    });
  });
  </script>
</Layout>
