---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import GuestModal from "../components/GuestModal.astro";

import cocBackground from "../assets/2025/bg/stage3.png";
const optimizedCocBackground = await getImage({
  src: cocBackground,
  format: "avif",
  width: 2000,
});

import guest1 from "../assets/2025/guests/ChanKent1.jpeg";
import guest2 from "../assets/2025/guests/Jeremy_Whitley.jpg";
import guest3 from "../assets/2025/guests/Kazumi Evams 2024.jpeg";
import guest4 from "../assets/2025/guests/Rena Headshot.png";
import guest5 from "../assets/2025/guests/Tony Headshot.png";

import Footer from "../components/Footer.astro";
---

<Layout title="HarmonyCon 2025 | Venue">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
  
  <div id="bg" class="relative flex flex-col h-screen pt-8 md:pt-16 gap-y-8">
    <!-- <div
      class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-yellow-200 z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      OUR GUESTS
    </div> -->
    <div class="flex flex-col items-center justify-center my-auto gap-y-12 py-12 lg:mt-48">
      {/* Cards Container */}
      <div class="flex flex-col md:flex-row gap-4 lg:gap-8 justify-center">
        <div
          class="card1 p-1 bg-white border-4 border-black w-64 h-96 -rotate-3 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          onclick="showModal('modal-shannon')"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest1}
              alt="Shannon Chan-Kent"
              width={400}
              format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black select-none">Shannon Chan-Kent</p>
          </div>
        </div>
        <div
          class="card2 p-1 bg-white border-4 border-black w-64 h-96 rotate-2 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          onclick="showModal('modal-jeremy')"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest2}
              alt="Jeremy Whitley"
              width={400}
              format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black select-none">Jeremy Whitley</p>
          </div>
        </div>
        <div
          class="card3 p-1 bg-white border-4 border-black w-64 h-96 -rotate-2 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          onclick="showModal('modal-kazumi')"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest3}
              alt="Kazumi Evans"
              width={400}
              format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black select-none">Kazumi Evans</p>
          </div>
        </div>
        <div
          class="hidden lg:block card4 p-1 bg-white border-4 border-black w-64 h-96 rotate-3 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          onclick="showModal('modal-rena')"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest4}
              alt="Rena Anakwe"
              width={400}
              format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black select-none">Rena Anakwe</p>
          </div>
        </div>
        <div
          class="hidden lg:block card5 p-1 bg-white border-4 border-black w-64 h-96 -rotate-1 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          onclick="showModal('modal-tony')"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest5}
              alt="Tony Fleecs"
              width={400}
              format="avif"
              class="w-full h-full object-cover select-none"
              draggable="false"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black select-none">Tony Fleecs</p>
          </div>
        </div>
      </div>

      {/* Bottom Row for Medium Screens */}
      <div class="hidden md:flex lg:hidden flex-row gap-4 md:gap-8 justify-center mt-4">
        <div
          class="card4 p-1 bg-white border-4 border-black w-64 h-96 rotate-3 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          onclick="showModal('modal-rena')"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest4}
              alt="Rena Anakwe"
              width={400}
              format="avif"
              class="w-full h-full object-cover"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black">Rena Anakwe</p>
          </div>
        </div>
        <div
          class="card5 p-1 bg-white border-4 border-black w-64 h-96 -rotate-1 rounded-lg drop-shadow-xl hover:scale-110 hover:rotate-0 transition-all cursor-pointer"
          onclick="showModal('modal-tony')"
        >
          <div class="h-72 overflow-hidden">
            <Image
              src={guest5}
              alt="Tony Fleecs"
              width={400}
              format="avif"
              class="w-full h-full object-cover"
            />
          </div>
          <div class="flex items-center justify-center h-24">
            <p class="font-yesteryear text-2xl text-black">Tony Fleecs</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>

  {/* Modals */}
  <GuestModal name="Shannon Chan-Kent" image={guest1} modalId="modal-shannon" />
  <GuestModal name="Jeremy Whitley" image={guest2} modalId="modal-jeremy" />
  <GuestModal name="Kazumi Evans" image={guest3} modalId="modal-kazumi" />
  <GuestModal name="Rena Anakwe" image={guest4} modalId="modal-rena" />
  <GuestModal name="Tony Fleecs" image={guest5} modalId="modal-tony" />

  <script is:inline>
    function showModal(modalId) {
      const modal = document.getElementById(modalId);
      if (modal) {
        modal.classList.remove("hidden");
        document.body.style.overflow = "hidden";
      }
    }
  </script>

  <style
    define:vars={{
      optimizedCocBackground: `url(${optimizedCocBackground.src})`,
    }}
  >
    #bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      background-image: var(--optimizedCocBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
    }

    .card1, .card2, .card3, .card4, .card5 {
      animation: float 4s ease-in-out infinite;
      animation-delay: var(--delay, 0s);
      transform: translateY(var(--start-y, 0px)) rotate(var(--rotate, 0deg));
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }

    .card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover {
      transform: translateY(calc(var(--start-y) - 10px)) rotate(0deg) scale(1.1);
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2);
      z-index: 20;
    }

    .card1 { 
      --delay: 0s; 
      --rotate: -3deg;
      --start-y: 0px;
    }
    .card2 { 
      --delay: -1s; 
      --rotate: 2deg;
      --start-y: -10px;
    }
    .card3 { 
      --delay: -2s; 
      --rotate: -2deg;
      --start-y: -5px;
    }
    .card4 { 
      --delay: -1.5s; 
      --rotate: 3deg;
      --start-y: -15px;
    }
    .card5 { 
      --delay: -0.5s; 
      --rotate: -1deg;
      --start-y: -8px;
    }

    @keyframes float {
      0% {
        transform: translateY(var(--start-y)) rotate(var(--rotate));
      }
      50% {
        transform: translateY(calc(var(--start-y) - 7px)) rotate(var(--rotate));
      }
      100% {
        transform: translateY(var(--start-y)) rotate(var(--rotate));
      }
    }

    /* Add Yesteryear font family */
    .font-yesteryear {
      font-family: 'Yesteryear', cursive;
    }
  </style>
</Layout>
