---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/tune1.png";
import img2 from "../assets/2025/star1.png";
import img3 from "../assets/2025/logowithdates.png";
import Footer from "../components/Footer.astro";

import img4 from "../assets/2025/HarmonyCon 2025 Logo.png";


import paper from "../assets/2025/bg/ivory-off-white-paper-texture.jpg";
const optimizedPaper = await getImage({
  src: paper,
  format: "avif",
  width: 1000,
});

import starsign from "../assets/2025/starsign.png";
import tunesign from "../assets/2025/tunesign.png";
import tune from "../assets/2025/harmonic_tune_cm2.png";
import star from "../assets/2025/harmony_star_cm.png";

import curtains1 from "../assets/2025/curtain_full.png";
const optimizedCurtains1 = await getImage({
  src: curtains1,
  format: "avif",
  width: 400,
});

import indexBackground from "../assets/2025/bg/stage3.png";
const optimizedIndexBackground = await getImage({
  src: indexBackground,
  format: "avif",
  width: 800,
});
---

<Layout title="HarmonyCon 2025">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
  <div id="bg" class="overflow-x-hidden overflow-y-hidden">
    <div id="curtains">
      <div id="curtain-1" class="z-[9999]"></div>
      <div id="curtain-2" class="z-[9999]"></div>
      <!-- <a href="https://event.pony.town/" target="_blank" style="text-shadow: 3px 3px 1px #000; visibility: hidden;" class="uppercase z-[9999] hover:scale-105 duration-300 whitespace-nowrap text-center absolute top-12 md:top-16 left-1/2 transform -translate-x-1/2 h-auto z-[100] font-serif text-yellow-400 text-xl md:text-5xl xl:text-6xl px-8 py-4 rounded-xl">
        See you next year! 
      </a> -->
    </div>
    <div id="card" class="opacity-0 font-yesteryear rounded gap-y-12 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 bg-white w-[64rem] rotate-2 aspect-[1.608] z-[999999] flex flex-col items-center justify-center">
      <Image
        alt="HarmonyCon 2025 logo"
        format="avif"
        src={img4}
        width={800}
        class=" z-10 w-[24rem] pt-8"
      />
      <div class="text-black font-sans font-semibold text-7xl uppercase" style="text-shadow: 1px 1px 1px #000;">
        See you next year!
      </div>

      
      <div class="flex flex-col gap-y-6 my-8 text-yellow-500 text-5xl font-serif uppercase" 
      style="text-shadow: 1px 1px 1px #000;">
        <a target="_blank" href="https://2025.harmonycon.org/" class="hover:underline underline-offset-4 mr-24">
          ← Go to the 2025 website
        </a>
        <a target="_blank" href="https://forms.gle/T8dRG4BxT5DY5VCN8" class="hover:underline underline-offset-4 ml-72">
          Post-con survey →
        </a>
      </div>


      <hr class="w-4/5 mx-auto border-t-2 border-black my-1" />

      <div class="flex gap-x-12 pb-8">
        <div class="flex gap-x-2 items-center"> 
          <Image
            alt="HarmonyCon 2025 logo"
            format="avif"
            src={tune}
            height={100}
            class=" z-10 h-12 w-auto"
          />
          <Image
            alt="HarmonyCon 2025 logo"
            format="avif"
            src={tunesign}
            height={100}
            class="grayscale z-10 h-24 w-auto"
          />
        </div>
        <div class="flex gap-x-2 items-center"> 
          <Image
            alt="HarmonyCon 2025 logo"
            format="avif"
            src={star}
            height={100}
            class=" z-10 h-12 w-auto"
          />
          <Image
            alt="HarmonyCon 2025 logo"
            format="avif"
            src={starsign}
            height={100}
            class="grayscale z-10 h-24 w-auto"
          />
        </div>
      </div>
    </div>
    <div class="mascots">
      <Image
        id="tune"
        alt="Harmonic Tune"
        format="avif"
        src={img1}
        width={600}
        style="filter: drop-shadow(0 10px 10px #000);"
      />
      <Image
        id="star"
        alt="Harmony Star"
        format="avif"
        src={img2}
        width={600}
        style="filter: drop-shadow(0 10px 10px #000);"
      />
    </div>
    <Image
      id="logo"
      alt="HarmonyCon 2025 logo"
      format="avif"
      src={img3}
      width={1000}
      style="filter: drop-shadow(0 10px 10px #000);"
      class="z-10"
    />
    <!-- <div id="buttons">
      <a href="/register">
        <Image
          id="register"
          style="filter: drop-shadow(0 2px 2px #000);"
          alt="Register!"
          format="avif"
          src={img4}
          width={200}
        />
      </a>
      <a href="/main">
        <Image
          id="main"
          style="filter: drop-shadow(0 2px 2px #000);"
          alt="Enter!"
          format="avif"
          src={img5}
          width={200}
        />
      </a> -->
    </div>
  </div>

  <Footer />
</Layout>

<script>
  document.addEventListener("swup:enable", () => {
    window.swup.hooks.on("page:view", () => {
      const curtain1 = document.getElementById("curtain-1");
      const curtain2 = document.getElementById("curtain-2");
      if (curtain1) {
        curtain1.className = "skip";
      }
      if (curtain2) {
        curtain2.className = "skip";
      }
    });
  });
</script>

<style
  lang="scss"
  define:vars={{
    optimizedIndexBackground: `url(${optimizedIndexBackground.src})`,
    optimizedCurtains1: `url(${optimizedCurtains1.src})`,
    optimizedPaper: `url(${optimizedPaper.src})`
  }}
>
  #paper {
    background-image: var(--optimizedPaper);
    background-repeat: repeat;
    background-size: 60%;
    background-position: center;
    opacity: 1;
  }

  .font-yesteryear {
      font-family: 'Yesteryear', cursive;
    }

  :root {
    --elastic: linear(
      0,
      0.0009 8.51%,
      -0.0047 19.22%,
      0.0016 22.39%,
      0.023 27.81%,
      0.0237 30.08%,
      0.0144 31.81%,
      -0.0051 33.48%,
      -0.1116 39.25%,
      -0.1181 40.59%,
      -0.1058 41.79%,
      -0.0455,
      0.0701 45.34%,
      0.9702 55.19%,
      1.0696 56.97%,
      1.0987 57.88%,
      1.1146 58.82%,
      1.1181 59.83%,
      1.1092 60.95%,
      1.0057 66.48%,
      0.986 68.14%,
      0.9765 69.84%,
      0.9769 72.16%,
      0.9984 77.61%,
      1.0047 80.79%,
      0.9991 91.48%,
      1
    );
    --sine: linear(
      0,
      0.007 5.35%,
      0.0282 10.75%,
      0.0638 16.26%,
      0.1144 21.96%,
      0.1833 28.16%,
      0.2717 34.9%,
      0.6868 62.19%,
      0.775 68.54%,
      0.8457 74.3%,
      0.9141 81.07%,
      0.9621 87.52%,
      0.9905 93.8%,
      1
    );

    --mouse-x: 50%;
    --mouse-y: 50%;
  }

  @media (min-width: 768px) {
    #bg {
      /* position: relative; */
    }

    #mascots {
      position: relative;
      left: 0;
      right: 0;
    }

    #tune {
      position: absolute;
      height: 130vh;
      width: auto;
      top: -50vh;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      padding-right: 16rem;
      /* animation:
        drop 2s var(--elastic) 1s forwards,
        swing 6s ease-in-out 1s infinite forwards; */
      animation-name: drop, swing;
      animation-duration: 2s, 6s;
      animation-timing-function:  linear(
      0,
      0.0009 8.51%,
      -0.0047 19.22%,
      0.0016 22.39%,
      0.023 27.81%,
      0.0237 30.08%,
      0.0144 31.81%,
      -0.0051 33.48%,
      -0.1116 39.25%,
      -0.1181 40.59%,
      -0.1058 41.79%,
      -0.0455,
      0.0701 45.34%,
      0.9702 55.19%,
      1.0696 56.97%,
      1.0987 57.88%,
      1.1146 58.82%,
      1.1181 59.83%,
      1.1092 60.95%,
      1.0057 66.48%,
      0.986 68.14%,
      0.9765 69.84%,
      0.9769 72.16%,
      0.9984 77.61%,
      1.0047 80.79%,
      0.9991 91.48%,
      1
    ), ease-in-out;
      animation-delay: 1s, 1s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, reverse;
      animation-fill-mode: forwards, forwards;
    }

    #star {
      position: absolute;
      height: 135vh;
      width: auto;
      left: 0;
      right: 0;
      top: -50vh;
      margin-left: auto;
      margin-right: auto;
      padding-left: 16rem;
      /* animation:
        drop2 2s var(--elastic) 1.2s forwards,
        swing2 7s ease-in-out 1.2s infinite forwards; */
      animation-name: drop2, swing2;
      animation-duration: 2s, 7s;
      animation-timing-function:  linear(
      0,
      0.0009 8.51%,
      -0.0047 19.22%,
      0.0016 22.39%,
      0.023 27.81%,
      0.0237 30.08%,
      0.0144 31.81%,
      -0.0051 33.48%,
      -0.1116 39.25%,
      -0.1181 40.59%,
      -0.1058 41.79%,
      -0.0455,
      0.0701 45.34%,
      0.9702 55.19%,
      1.0696 56.97%,
      1.0987 57.88%,
      1.1146 58.82%,
      1.1181 59.83%,
      1.1092 60.95%,
      1.0057 66.48%,
      0.986 68.14%,
      0.9765 69.84%,
      0.9769 72.16%,
      0.9984 77.61%,
      1.0047 80.79%,
      0.9991 91.48%,
      1
    ), ease-in-out;
      animation-delay: 1.2s, 1.2s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, reverse;
      animation-fill-mode: forwards, forwards;
    }

    #logo {
      position: absolute;
      /* visibility: hidden; */
      left: 0;
      right: 0;
      height: 50vh;
      width: auto;
      bottom: 14vh;
      margin-left: auto;
      margin-right: auto;

      /* animation:
        popup 1s ease 2.7s forwards,
        tease 4s ease 4s infinite forwards; */
      animation-name: popup, tease;
      animation-duration: 0.2s, 4s;
      animation-timing-function: ease, ease;
      animation-delay: 2s, 4s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, normal;
      animation-fill-mode: forwards, forwards;
    }

    #dates {
      position: absolute;
      left: 0%;
      right: 20%;
      width: 25%;
      bottom: 0%;
      margin-left: auto;
      margin-right: auto;
    }

    #buttons {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 50;
    }

    #register {
      position: absolute;
      left: 0;
      rotate: -2deg;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      /* padding-right: 24vh; */
      right: 28vh;
      height: 11vh;
      bottom: 4vh;
      visibility: hidden;
      --a: 8deg; /* control the angle of rotation (the smaller, the better) */
      transform: perspective(400px)
        rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
      -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100%
        100%/250% 250%;
      transition: 0.4s;
      /* animation:
        jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 3s forwards,
        rotating 4s var(--sine) 1s infinite forwards; */

      animation-name: jump, rotating;
      animation-duration: 1.2s, 4s;
      animation-timing-function: cubic-bezier(0.77, 0.01, 0.25, 1), var(--sine);
      animation-delay: 3s, 1s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, normal;
      animation-fill-mode: forwards, forwards;

      z-index: 50;
    }

    #register:hover {
      --i: -1;
      -webkit-mask-position: 0 0;
    }

    #main {
      position: absolute;
      right: 0;
      rotate: 2deg;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      /* padding-left: 24vh; */
      left: 28vh;
      height: 11vh;
      bottom: 4vh;
      visibility: hidden;
      --a: 8deg; /* control the angle of rotation (the smaller, the better) */
      transform: perspective(400px)
        rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
      -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100%
        100%/250% 250%;
      transition: 0.4s;
      /* animation:
        jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 3s forwards,
        rotating 4.5s var(--sine) 3.1s infinite forwards; */
      animation-name: jump, rotating;
      animation-duration: 1.2s, 4.5s;
      animation-timing-function: cubic-bezier(0.77, 0.01, 0.25, 1), var(--sine);
      animation-delay: 3s, 3.1s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, normal;
      animation-fill-mode: forwards, forwards;

      z-index: 50;
    }

    #main:hover {
      --i: -1;
      -webkit-mask-position: 0 0;
    }
    @keyframes drop {
      from {
        top: -170vh;
        /* transform: translateY(-200vh); */
      }
      to {
        top: -50vh;
        /* transform: translateY(-75vh); */
      }
    }

    @keyframes drop2 {
      from {
        top: -170vh;
        /* transform: translateY(-200vh); */
      }
      to {
        top: -50vh;
        /* transform: translateY(-75vh); */
      }
    }
  }

  @media (max-width: 768px) {
    #tune {
      position: absolute;
      width: 90vw;
      top: -54%;
      left: -5%;
      /* animation:
        drop 2s var(--elastic) 1s forwards,
        swing 6s ease-in-out 1s infinite forwards; */
      animation-name: drop, swing;
      animation-duration: 2s, 6s;
      animation-timing-function: var(--elastic), ease-in-out;
      animation-delay: 1s, 1s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, reverse;
      animation-fill-mode: forwards, forwards;
    }

    #star {
      position: absolute;
      width: 80vw;
      right: -10%;
      top: -54%;
      /* animation:
        drop2 2s var(--elastic) 1.2s forwards,
        swing2 7s ease-in-out 1.2s infinite forwards; */
      animation-name: drop2, swing2;
      animation-duration: 2s, 7s;
      animation-timing-function: var(--elastic), ease-in-out;
      animation-delay: 1.2s, 1.2s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, reverse;
      animation-fill-mode: forwards, forwards;
    }

    #logo {
      position: absolute;
      /* visibility: hidden; */
      left: 0;
      right: 0;
      width: 100vw;
      bottom: 14vh;
      margin-left: auto;
      margin-right: auto;

      /* animation:
        popup 1s ease 2.7s forwards,
        tease 4s ease 4s infinite forwards; */
      animation-name: popup, tease;
      animation-duration: 1s, 4s;
      animation-timing-function: ease, ease;
      animation-delay: 2.7s, 4s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, normal;
      animation-fill-mode: forwards, forwards;
    }

    #register {
      position: absolute;
      left: 18vw;
      right: auto;
      rotate: -2deg;
      width: auto;
      bottom: 4vh;
      visibility: hidden;

      --a: 8deg; /* control the angle of rotation (the smaller, the better) */
      transform: perspective(400px)
        rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
      -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100%
        100%/250% 250%;
      transition: 0.4s;
      /* animation:
        jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 3s forwards,
        rotating 4s var(--sine) 1s infinite forwards; */
      animation-name: jump, rotating;
      animation-duration: 1.2s, 4s;
      animation-timing-function: cubic-bezier(0.77, 0.01, 0.25, 1), var(--sine);
      animation-delay: 3s, 1s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, normal;
      animation-fill-mode: forwards, forwards;

      z-index: 50;
    }

    #register:hover {
      --i: -1;
      -webkit-mask-position: 0 0;
    }

    #main {
      position: absolute;
      right: 18vw;
      left: auto;
      rotate: 2deg;
      width: auto;
      bottom: 4vh;
      visibility: hidden;
      --a: 8deg; /* control the angle of rotation (the smaller, the better) */
      transform: perspective(400px)
        rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
      -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100%
        100%/250% 250%;
      transition: 0.4s;
      /* animation:
        jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 3s forwards,
        rotating 4.5s var(--sine) 3.1s infinite forwards; */
      animation-name: jump, rotating;
      animation-duration: 1.2s, 4.5s;
      animation-timing-function: cubic-bezier(0.77, 0.01, 0.25, 1), var(--sine);
      animation-delay: 3s, 3.1s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, normal;
      animation-fill-mode: forwards, forwards;

      z-index: 50;
    }

    #main:hover {
      --i: -1;
      -webkit-mask-position: 0 0;
    }

    #buttons {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 50;
    }

    @keyframes drop {
      from {
        top: -150%;
      }
      to {
        top: -54%;
      }
    }

    @keyframes drop2 {
      from {
        top: -146%;
        /* transform: translateY(-200vh); */
      }
      to {
        top: -54%;
        /* transform: translateY(-75vh); */
      }
    }
  }

  @media (max-width: 640px) {
    #tune {
      position: absolute;
      width: 95%;
      top: -38%;
      left: -10%;
      /* animation:
        drop 2s var(--elastic) 1s forwards,
        swing 6s ease-in-out 1s infinite forwards; */
      animation-name: drop, swing;
      animation-duration: 2s, 6s;
      animation-timing-function: var(--elastic), ease-in-out;
      animation-delay: 1s, 1s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, reverse;
      animation-fill-mode: forwards, forwards;
    }

    #star {
      position: absolute;
      width: 90%;
      right: -15%;
      top: -44%;
      /* animation:
        drop2 2s var(--elastic) 1.2s forwards,
        swing2 7s ease-in-out 1.2s infinite forwards; */
      animation-name: drop2, swing2;
      animation-duration: 2s, 7s;
      animation-timing-function: var(--elastic), ease-in-out;
      animation-delay: 1.2s, 1.2s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, reverse;
      animation-fill-mode: forwards, forwards;
    }

    #logo {
      position: absolute;
      /* visibility: hidden; */
      left: 0;
      right: 0;
      width: 100vw;
      bottom: 31vh;
      margin-left: auto;
      margin-right: auto;

      /* animation:
        popup 1s ease 2.7s forwards,
        tease 4s ease 4s infinite forwards; */
      animation-name: popup, tease;
      animation-duration: 1s, 4s;
      animation-timing-function: ease, ease;
      animation-delay: 2.7s, 4s;
      animation-iteration-count: 1, infinite;
      animation-direction: reverse, normal;
      animation-fill-mode: forwards, forwards;
    }

    #register {
      position: absolute;
      left: 10%;
      width: 35%;
      bottom: 16%;
      visibility: hidden;

      --a: 8deg; /* control the angle of rotation (the smaller, the better) */
      transform: perspective(400px)
        rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
      -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100%
        100%/250% 250%;
      transition: 0.4s;
      /* animation:
        jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 3s forwards,
        rotating 4s var(--sine) 1s infinite forwards; */
      animation-name: jump, rotating;
      animation-duration: 1.2s, 4s;
      animation-timing-function: cubic-bezier(0.77, 0.01, 0.25, 1), var(--sine);
      animation-delay: 3s, 1s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, normal;
      animation-fill-mode: forwards, forwards;

      z-index: 50;
    }

    #register:hover {
      --i: -1;
      -webkit-mask-position: 0 0;
    }

    #main {
      position: absolute;
      right: 10%;
      width: 35%;
      bottom: 16%;
      visibility: hidden;
      --a: 8deg; /* control the angle of rotation (the smaller, the better) */
      transform: perspective(400px)
        rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
      -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100%
        100%/250% 250%;
      transition: 0.4s;
      /* animation:
        jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 3s forwards,
        rotating 4.5s var(--sine) 3.1s infinite forwards; */
      animation-name: jump, rotating;
      animation-duration: 1.2s, 4.5s;
      animation-timing-function: cubic-bezier(0.77, 0.01, 0.25, 1), var(--sine);
      animation-delay: 3s, 3.1s;
      animation-iteration-count: 1, infinite;
      animation-direction: normal, normal;
      animation-fill-mode: forwards, forwards;

      z-index: 50;
    }

    #main:hover {
      --i: -1;
      -webkit-mask-position: 0 0;
    }

    #buttons {
      z-index: 50;
    }

    @keyframes drop {
      from {
        top: -128%;
      }
      to {
        top: -38%;
      }
    }

    @keyframes drop2 {
      from {
        top: -124%;
        /* transform: translateY(-200vh); */
      }
      to {
        top: -44%;
        /* transform: translateY(-75vh); */
      }
    }
  }

  body {
    // cursor: none;
  }

  #mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 150px,
      white 200px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 100px,
      white 160px
    );
  }

  #curtains {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #curtain-1,
  #curtain-2 {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: #000;
  }

  #curtain-1 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    animation-name: slide-left;
    animation-duration: 1.2s;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    background-image: var(--optimizedCurtains1);
    background-size: cover;
  }

  #curtain-2 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    animation-name: slide-right;
    animation-duration: 1.2s;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    background-image: var(--optimizedCurtains1);
    background-size: cover;
  }
  /* 
  #buttons {
    visibility: hidden;
    animation: jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 2.3s forwards;
  } */

  @keyframes floating3 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 4px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes rotating {
    0% {
      rotate: -2deg;
      scale: 1;
    }
    50% {
      rotate: 2deg;
      scale: 1.03;
    }
    100% {
      rotate: -2deg;
      scale: 1;
    }
  }

  @keyframes jump {
    0% {
      opacity: 0;
    }
    50% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes tease {
    0%,
    70% {
      transform: translateY(0px);
    }
    85% {
      transform: rotate(2.5deg) scale(1);
    }
    90% {
      transform: rotate(-1.5deg) scale(1);
    }
    92.5% {
      transform: rotate(1deg) scale(1);
    }
    95% {
      transform: rotate(-1deg) scale(1);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes swing {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(0.7deg) scale(1);
    }
    50% {
      transform: rotate(-0.7deg) scale(1);
    }
    75% {
      transform: rotate(0.7deg) scale(1);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes swing2 {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-1deg) scale(1);
    }
    50% {
      transform: rotate(1deg) scale(1);
    }
    75% {
      transform: rotate(-1deg) scale(1);
    }
    100% {
      transform: rotate(0);
    }
  }

  .skip {
    animation-duration: 0s !important;
    animation-delay: 0s !important;
  }

  @keyframes slide-left {
    0%,
    40% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-right {
    0%,
    40% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  #bg {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: var(--optimizedIndexBackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }

  .ponytown {
    animation: jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 1s forwards;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  #card {
    animation: fadeIn 1s ease-in forwards, popup2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-delay: 4.5s, 4.5s;

    background-image: var(--optimizedPaper);
    background-repeat: repeat;
    background-size: 1000%;
    background-position: center;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes popup {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes popup2 {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, calc(-50% + 50px)) rotate(2deg);
    }
    60% {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, calc(-50% - 20px)) rotate(2deg);
    }
    80% {
      transform: translate(-50%, calc(-50% + 10px)) rotate(2deg);
    }
    90% {
      transform: translate(-50%, calc(-50% - 5px)) rotate(2deg);
    }
    100% {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%) rotate(2deg);
    }
  }

  @keyframes moveUp {
    0% {
      transform: translate(-50%, -30%) rotate(2deg);
      opacity: 0;
    }
    80% {
      transform: translate(-50%, -55%) rotate(2deg);
      opacity: 1;
    }
    95% {
      transform: translate(-50%, -45%) rotate(2deg);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) rotate(2deg);
      opacity: 1;
    }
  }
</style>
