---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img2 from "../assets/2025/playbill/temp.png";
import img3 from "../assets/2025/playbill/producersnotext.png";
import img4 from "../assets/2025/playbill/the_Stallion_of_the_Opera_Final_No_Text.png";
import img5 from "../assets/2025/playbill/HarmonyCon-CodeOfConduct2.png";
import img7 from "../assets/2025/playbill/winged.png";
import img8 from "../assets/2025/playbill/Clawstin.png";
import img9 from "../assets/2025/playbill/coming_soon_poster.png";
import Playbill from "../components/Playbill.astro";
import Footer from "../components/Footer.astro";

import sign from "../assets/2025/scroll_sign2.png";

import mainBackground from "../assets/2025/bg/bricks.jpg";
const optimizedMainBackground = await getImage({
  src: mainBackground,
  format: "avif",
  width: 2000,
});
---

<Layout title="HarmonyCon 2025 | Main">
  <div id="bg" class="md:px-0 px-4 flex flex-col cursor-grab">
    <ul class="playbills text-black cursor-grab">
      <li class="xl:mb-8" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img2}
          href="/register"
          idx={2}
          active={true}
          title="Register"
        />
      </li>
      <li class="xl:mt-40" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img3}
          href="/venue"
          idx={3}
          active={true}
          title="Venue"
        />
      </li>
      <li class="xl:mb-8" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img4}
          href="/apply"
          idx={4}
          active={true}
          title="Apply"
        />
      </li>
      <li class="xl:mt-40" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill src={img5} href="/coc" idx={5} active={true} title="Rules" />
      </li>
      <li class="xl:mb-8" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img7}
          href="/gallery"
          idx={7}
          active={true}
          title="Gallery"
        />
      </li>
      <li class="xl:mt-40" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img8}
          href="/credits"
          idx={8}
          active={true}
          title="Credits"
        />
      </li>
      <li class="xl:mb-8" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img9}
          href="/"
          idx={8}
          active={false}
          title="Musicians"
        />
      </li>
      <li class="xl:mt-40" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill src={img9} href="/" idx={9} active={false} title="Vendors" />
      </li>
      <li class="xl:mb-8" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill src={img9} href="/" idx={8} active={false} title="Schedule" />
      </li>
      <!-- <li class="xl:mt-40" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill src={img9} href="/" idx={9} active={false} title="Mascots" />
      </li>
      <li class="xl:mb-8" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill src={img9} href="/" idx={8} active={false} title="About us" />
      </li> -->
      <li class="xl:mt-40" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img9}
          href="/"
          idx={9}
          active={false}
          title="Guests"
          small={true}
        />
      </li>
    </ul>
    <div
      class="hidden md:block absolute bottom-0 right-4 md:w-[25%] lg:w-[20%] xl:w-[15%]"
      id="scroll"
    >
      <Image
        draggable={false}
        src={sign}
        format="avif"
        alt="Scroll here sign"
        width={300}
      />
    </div>
    <Footer />
  </div>
</Layout>

<style
  define:vars={{
    optimizedMainBackground: `url(${optimizedMainBackground.src})`,
  }}
>
  @media (min-width: 768px) {
    .playbills {
      @apply flex flex-nowrap flex-row items-center h-[calc(100vh-6rem)];
    }

    .playbills li {
      list-style: none;
      /* padding: 0; */
      @apply px-8;
      text-align: center;
      line-height: 18rem;
      font-size: 2rem;
      font-family: sans-serif;
      background-color: transparent;
      border-radius: 0.8rem;
    }

    #bg {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedMainBackground);
      background-repeat: repeat;
      background-size: 40%;
      background-position: 0px 0px;
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    #bg {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedMainBackground);
      background-repeat: repeat;
      background-size: 150%;
      background-position: 0px 0px;
      opacity: 1;
    }
    .playbills {
      @apply grid grid-cols-2 gap-8 mb-8 mt-12 h-auto;
    }

    .playbills li {
      /* @apply max-w-72; */
    }
  }

  @media (max-width: 640px) {
    #bg {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedMainBackground);
      background-repeat: repeat;
      background-size: 150%;
      background-position: 0px 0px;
      opacity: 1;
    }
    .playbills {
      @apply grid grid-cols-1 gap-y-8 px-8 mb-12 h-auto;
    }

    .playbills li {
    }
  }

  ul,
  li {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
  }
</style>
