---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
import img2 from "../assets/2025/playbill/temp.png";
import img3 from "../assets/2025/playbill/producersnotext.png";
import img4 from "../assets/2025/playbill/the_Stallion_of_the_Opera_Final_No_Text.png";
import img5 from "../assets/2025/playbill/HarmonyCon-CodeOfConduct2.png";
import img6 from "../assets/MF/cards/mascots.png";
import img7 from "../assets/2025/playbill/winged.png";
import img8 from "../assets/2025/playbill/Clawstin.png";
import img9 from "../assets/2025/flyer.png";
import Playbill from "../components/Playbill.astro";
import Footer from "../components/Footer.astro";

import mainBackground from "../assets/2025/marble.webp";
const optimizedMainBackground = await getImage({
  src: mainBackground,
  format: "webp",
  width: 2000,
});
---

<Layout
  title="HarmonyCon 2025 | Main"
  desktopOverflow="true"
  mobileOverflow="true"
>
  <!-- <div
    id="bg"
    class="overflow-x-hidden md:px-0 px-8 md:absolute flex flex-col gap-y-8 pt-8 pb-4 md:pb-8"
  >
    <div class="sm:absolute sm:left-[7%] sm:top-[1%]">
      <Playbill src={img1} href="/" idx={1} active={true} />
    </div>

    <div class="sm:absolute sm:left-[30%] sm:top-[1%]">
      <Playbill
        src={img2}
        href="/register"
        idx={2}
        active={true}
        title="Register"
      />
    </div>

    <div class="sm:absolute sm:left-[53%] sm:top-[1%]">
      <Playbill src={img3} href="/venue" idx={3} active={true} title="Venue" />
    </div>

    <div class="sm:absolute sm:left-[76%] sm:top-[1%]">
      <Playbill src={img4} href="/apply" idx={4} active={true} title="Apply" />
    </div>

    <div class="sm:absolute sm:left-[3%] sm:top-[49%]">
      <Playbill src={img5} href="/coc" idx={5} active={true} title="Rules" />
    </div>

    <div class="sm:absolute sm:left-[26%] sm:top-[49%] grayscale">
      <Playbill
        src={img6}
        href="/mascots"
        idx={6}
        active={false}
        title="Mascots"
      />
    </div>

    <div class="sm:absolute sm:left-[49%] sm:top-[49%]">
      <Playbill
        src={img7}
        href="/gallery"
        idx={7}
        active={true}
        title="Gallery"
      />
    </div>

    <div class="sm:absolute sm:left-[72%] sm:top-[49%]">
      <Playbill
        src={img8}
        href="/credits"
        idx={8}
        active={true}
        title="Credits"
      />
    </div>
    <Footer />
  </div> -->
  <div
    id="bg"
    class="overflow-x-hidden md:px-0 px-4 md:absolute flex flex-col pt-4 pb-4 md:pb-8"
  >
    <div
      class="flex sm:block flex-col gap-y-8 mx-auto my-0 max-w-full sm:max-w-full md:max-w-176 lg:max-w-288 xl:max-w-288 2xl:max-w-352 relative w-full h-full sm:h-224 md:h-224 lg:h-224 xl:h-224 2xl:h-224"
    >
      <!-- <div>
      <Playbill src={img1} href="/" idx={1} active={true} />
    </div> -->

      <div class="px-0 sm:px-0 sm:absolute sm:left-[25.7%] sm:top-[0%]">
        <a
          style="filter: drop-shadow(0 3px 3px #000);"
          class={`wood bg-white p-2 md:p-3 2xl:p-4 rounded border-[8px] md:border-[10px] w-full items-center flex flex-col gap-y-1 lg:gap-y-2 duration-300 hover:scale-[1.1] hover:z-10 relative`}
          href="/"
        >
          <Image
            style="filter: drop-shadow(0 1px 1px #000);"
            src={img9}
            alt="Main"
            width={1200}
            class="w-144 aspect-[3/2]"
          />
        </a>
      </div>
      <div
        class="px-8 sm:px-0 sm:absolute
            sm:left-[0%]
            sm:top-[0%]"
      >
        <Playbill
          src={img2}
          href="/register"
          idx={2}
          active={true}
          title="Register"
        />
      </div>

      <div class="px-8 sm:px-0 sm:absolute sm:left-[75%] sm:top-[0%]">
        <Playbill
          src={img3}
          href="/venue"
          idx={3}
          active={true}
          title="Venue"
        />
      </div>

      <div class="px-8 sm:px-0 sm:absolute sm:left-[0%] sm:top-[51%]">
        <Playbill
          src={img4}
          href="/apply"
          idx={4}
          active={true}
          title="Apply"
        />
      </div>

      <div class="px-8 sm:px-0 sm:absolute sm:left-[25%] sm:top-[51%]">
        <Playbill src={img5} href="/coc" idx={5} active={true} title="Rules" />
      </div>

      <!-- <div>
      <Playbill
        src={img6}
        href="/mascots"
        idx={6}
        active={false}
        title="Mascots"
      />
    </div> -->

      <div class="px-8 sm:px-0 sm:absolute sm:left-[50%] sm:top-[51%]">
        <Playbill
          src={img7}
          href="/gallery"
          idx={7}
          active={true}
          title="Gallery"
        />
      </div>

      <div class="px-8 sm:px-0 sm:absolute sm:left-[75%] sm:top-[51%]">
        <Playbill
          src={img8}
          href="/credits"
          idx={8}
          active={true}
          title="Credits"
        />
      </div>
    </div>
    <Footer />
  </div>
</Layout>

<style
  define:vars={{
    optimizedMainBackground: `url(${optimizedMainBackground.src})`,
  }}
>
  #bg {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    /* height: auto; */

    background-image: var(--optimizedMainBackground);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
</style>

<script></script>
