---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
import img2 from "../assets/2025/playbill/temp.png";
import img3 from "../assets/2025/playbill/producersnotext.png";
import img4 from "../assets/2025/playbill/the_Stallion_of_the_Opera_Final_No_Text.png";
import img5 from "../assets/2025/playbill/HarmonyCon-CodeOfConduct2.png";
import img6 from "../assets/MF/cards/mascots.png";
import img7 from "../assets/2025/playbill/winged.png";
import img8 from "../assets/2025/playbill/Clawstin.png";
import img9 from "../assets/2025/flyer.png";
import Playbill from "../components/Playbill.astro";
import Footer from "../components/Footer.astro";

import mainBackground from "../assets/2025/marble.webp";
const optimizedMainBackground = await getImage({
  src: mainBackground,
  format: "avif",
  width: 2000,
});
---

<Layout
  title="HarmonyCon 2025 | Main"
  desktopOverflow="true"
  mobileOverflow="true"
>
  <div id="bg" class="md:px-0 px-4 flex flex-col pt-4 pb-4 md:pb-8 gap-y-8">
    <div
      id="horizontal"
      class="px-8 flex flex-row items-center gap-8 mx-auto my-0 relative h-[calc(100vh-3rem)]"
    >
      <div class="mb-24" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img2}
          href="/register"
          idx={2}
          active={true}
          title="Register"
        />
      </div>

      <div class="mt-24" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img3}
          href="/venue"
          idx={3}
          active={true}
          title="Venue"
        />
      </div>

      <div class="mb-24" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img4}
          href="/apply"
          idx={4}
          active={true}
          title="Apply"
        />
      </div>

      <div class="mt-24" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill src={img5} href="/coc" idx={5} active={true} title="Rules" />
      </div>

      <!-- <div>
      <Playbill
        src={img6}
        href="/mascots"
        idx={6}
        active={false}
        title="Mascots"
      />
    </div> -->

      <div class="mb-24" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img7}
          href="/gallery"
          idx={7}
          active={true}
          title="Gallery"
        />
      </div>

      <div class="mt-24" style="filter: drop-shadow(0 5px 5px #000);">
        <Playbill
          src={img8}
          href="/credits"
          idx={8}
          active={true}
          title="Credits"
        />
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<script>
  const scrollContainer = document.getElementById("bg");

  let isScrolling;
  let start;
  let startScrollLeft;
  let distance;

  const easeOutQuad = (t) => 2.0 * (t === 1 ? 1 : 1 - Math.pow(2, -10 * t));

  const smoothScroll = (timestamp) => {
    if (!start) start = timestamp;
    const progress = timestamp - start;
    const duration = 1000; // Duration of animation in milliseconds

    if (progress < duration) {
      const easedProgress = easeOutQuad(progress / duration);
      scrollContainer.scrollLeft = startScrollLeft + distance * easedProgress;
      requestAnimationFrame(smoothScroll);
    } else {
      scrollContainer.scrollLeft = startScrollLeft + distance; // Ensure we end at the exact position
    }
  };

  scrollContainer.addEventListener("wheel", (event) => {
    event.preventDefault(); // Prevent default vertical scroll behavior

    if (isScrolling) {
      // Prevent new scroll animation if one is already running
      return;
    }

    isScrolling = true;
    start = null;
    startScrollLeft = scrollContainer.scrollLeft;
    distance = event.deltaY;

    requestAnimationFrame((timestamp) => {
      smoothScroll(timestamp);
      isScrolling = false; // Reset scrolling state after animation
    });
  });
</script>

<style
  define:vars={{
    optimizedMainBackground: `url(${optimizedMainBackground.src})`,
  }}
>
  .horizontal {
    overflow-x: hidden;
  }
  #bg {
    position: absolute;

    direction: ltr;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    /* height: auto; */

    background-image: var(--optimizedMainBackground);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
</style>
