---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import registerBackground from "../assets/2025/bg/bar_final_2.png";
const optimizedRegisterBackground = await getImage({
  src: registerBackground,
  format: "avif",
  width: 1920,
});

import Footer from "../components/Footer.astro";
import hclogo from "../assets/2025/HarmonyCon 2025 Logo.png";
import tiers from "../data/tiers.js";
---

<Layout title="HarmonyCon 2025 | Register">
  <div id="bg" class="overflow-x-hidden overflow-y-hidden w-screen h-screen">
    <div
      id="dialogue"
      class="z-[60] text-black absolute bottom-24 sm:bottom-24 md:bottom-12 md:w-176 lg:w-240 bg-neutral-300 opacity-80 left-0 right-0 md:mx-auto mx-2 rounded px-4 py-4 sm:px-6 sm:py-6 md:px-8 md:py-8"
    >
      <div class="font-semibold text-2xl md:text-3xl">Harmonic Tune</div>
      <div
        class="text-sm sm:text-base md:text-xl italic leading-tight"
        id="text"
      >
        Hey there! What'll it be? Scroll down on the menu to see all the sponsor
        badge options!
      </div>
    </div>
    <div
      id="menu"
      class="uppercase overflow-y-scroll flex flex-col gap-y-1 md:gap-y-8 text-[#fde300] font-serif md:absolute md:top-[5%] md:right-[5%] md:mt-0 mt-4 mx-2 md:mx-auto md:w-3/4 lg:w-2/3 xl:w-1/2 h-[calc(100vh-16rem)] sm:h-[calc(100vh-22rem)] md:h-2/3 bg-black border-yellow-200 border-4 opacity-80 md:opacity-90 rounded-lg p-2 xl:p-4"
    >
      <div
        class="text-center flex flex-col items-center justify-center uppercase text-3xl md:text-5xl"
      >
        <Image
          src={hclogo}
          format="avif"
          alt="HarmonyCon 2025 logo"
          width={600}
          class="w-3/4 md:w-1/2 lg:w-1/2 xl:w-1/2"
        />
        <div
          class="text-lg sm:text-xl md:text-2xl font-sans uppercase"
          style="text-shadow: 2px 2px 1px black;"
        >
          Registration opens at 8pm EST on <span class="font-bold"
            >August 12, 2024!</span
          >
        </div>
      </div>
      <div class="flex flex-col gap-y-2">
        {
          tiers.map(({ name, perks, price, style = null, limit }, idx) => (
            <div class="hover:bg-neutral-800 duration-300 rounded">
              <a
                id={`${idx}`}
                target="_blank"
                class="cursor-not-allowed flex flex-col hover:bg-neutral-800 rounded px-1 py-2 sm:px-4 sm:py-2 lg:px-6 lg:py-3 2xl:px-8 2xl:py-4 duration-300"
              >
                <div class="flex justify-between">
                  <div class="flex flex-col gap-y-1 xl:gap-y-2" style={style}>
                    <div set:html={name} />

                    <ul
                      class={`hidden sm:block list-disc pl-4 md:pl-6 xl:pl-8 ${idx >= 100 ? "blurred" : null}`}
                    >
                      {perks.map((perk) => (
                        <li set:html={perk} class="text-sm sm:text-base" />
                      ))}
                    </ul>
                  </div>
                  <div class="flex flex-col items-end gap-y-1">
                    <div set:html={price} />
                    <div
                      id={`register-${idx}`}
                      class={`hidden sm:block active bg-yellow-200 hover:bg-yellow-300 duration-300 py-1 px-2 rounded text-black w-auto text-sm xl:text-base uppercase font-serif`}
                    >
                      Register
                    </div>
                    {limit ? (
                      <div class="hidden sm:block  text-red-400 text-xs xl:text-sm whitespace-nowrap">
                        Only {limit} left!
                      </div>
                    ) : null}
                  </div>
                </div>
                <ul
                  class={`my-2 block sm:hidden list-disc pl-4 md:pl-6 xl:pl-8 ${idx >= 100 ? "blurred" : null}`}
                >
                  {perks.map((perk) => (
                    <li set:html={perk} class="text-sm sm:text-base" />
                  ))}
                </ul>
                <div class="sm:hidden flex mt-2 sm:mt-0 flex-col items-center gap-y-1">
                  <div
                    id={`register-${idx}`}
                    class={` active bg-yellow-200 hover:bg-yellow-300 duration-300 pt-1 pb-0.5 px-2 rounded text-black w-auto text-base xl:text-base uppercase font-serif`}
                  >
                    Register
                  </div>
                  {limit ? (
                    <div class="text-red-400 text-xs xl:text-sm whitespace-nowrap">
                      Only {limit} left!
                    </div>
                  ) : null}
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <div
    id="snoot"
    class="z-50 block absolute w-24 h-24 md:w-40 md:h-40 left-[60%] bottom-[47%] sm:left-[45%] md:left-[13%] lg:left-[20%] xl:left-[24%] 2xl:left-[30%] md:bottom-[45%]"
  >
  </div>
  <Footer />
</Layout>

<style
  define:vars={{
    optimizedRegisterBackground: `url(${optimizedRegisterBackground.src})`,
  }}
>
  .active {
    --a: 0deg; /* control the angle of rotation (the smaller, the better) */
    transform: perspective(100px)
      rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
    -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250%
      250%;
    transition: 0.4s;
    /* animation:
      jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 2s forwards,
      rotating 4s var(--sine) 0s infinite forwards; */

    z-index: 50;
  }

  .active:hover {
    --i: -1;
    -webkit-mask-position: 0 0;
  }
  @media (max-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedRegisterBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 25% 70px;
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedRegisterBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
    }
  }

  .blurred {
    filter: blur(3px);
  }
</style>

<script>
  import tippy from "tippy.js";
  import "tippy.js/dist/tippy.css";
  import "tippy.js/animations/shift-away-extreme.css";

  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].forEach((i) => {
    const r = document.getElementById(`register-${i}`);
    const instance = tippy(r, {
      content: `Registration opens on <span class='font-semibold'>August 12, 2024</span>!</span>`,
      placement: "left",
      animation: "shift-away-extreme",
      allowHTML: true,
      triggerTarget: document.getElementById(`${i}`),
    });

    document.getElementById("menu").addEventListener("scroll", () => {
      instance.hide(0);
    });
  });

  import { Howl } from "howler";
  const snoot = document.getElementById("snoot");

  if (snoot) {
    const boop = new Howl({
      src: ["/audio/boop.wav"],
      volume: 0.15,
    });

    snoot.addEventListener("click", () => {
      boop.play();
    });
  }
</script>
