---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import registerBackground from "../assets/2025/bg/bar_final_2.png";
const optimizedRegisterBackground = await getImage({
  src: registerBackground,
  format: "avif",
  width: 1920,
});
import Footer from "../components/Footer.astro";

import hclogo from "../assets/2025/HarmonyCon 2025 Logo.png";

import tiers from "../data/tiers.js";
---

<Layout
  title="HarmonyCon 2025 | Register"
  desktopOverflow="false"
  mobileOverflow="true"
>
  <div id="bg" class="overflow-x-hidden">
    <div
      class="text-black absolute bottom-28 md:bottom-8 md:w-240 bg-neutral-300 opacity-90 left-0 right-0 md:mx-auto mx-4 rounded p-6 md:px-8 py-4"
    >
      <div class="font-semibold text-3xl md:text-3xl">Harmonic Tune</div>
      <div class="text-xl md:text-xl italic">Hey there! What'll it be?</div>
    </div>
    <div
      style="filter: drop-shadow(0 15px 15px #000); scrollbar-width: thin;"
      class="uppercase overflow-y-scroll flex flex-col gap-y-1 md:gap-y-1 text-[#fde300] font-serif md:absolute md:top-[5%] md:right-[5%] mx-4 md:mt-0 mt-12 md:mx-auto md:w-1/2 h-[calc(100vh-20rem)] md:h-2/3 bg-black border-yellow-200 border-4 opacity-70 md:opacity-90 rounded-lg p-4"
    >
      <div
        class="text-center flex flex-col items-center justify-center uppercase text-3xl md:text-5xl"
      >
        <Image
          src={hclogo}
          format="avif"
          alt="HarmonyCon 2025 logo"
          width={600}
          class="w-1/2"
        />
        <!-- <div class="text-6xl">Register</div> -->
      </div>
      <div class="flex flex-col gap-y-4">
        {
          tiers.map(({ name, perks, price, style = null, limit }) => (
            <div class="hover:bg-neutral-800 duration-300 rounded">
              <a
                target="_blank"
                class="flex flex-col hover:bg-neutral-800 rounded px-8 py-4 duration-300"
                href="/"
              >
                <div class="flex justify-between">
                  <div class="flex flex-col gap-y-2" style={style}>
                    <div set:html={name} />

                    <ul class="list-disc pl-8">
                      {perks.map((perk) => (
                        <li set:html={perk} />
                      ))}
                    </ul>
                  </div>
                  <div class="flex flex-col items-end gap-y-1">
                    <div set:html={price} />
                    <div class="active bg-yellow-200 hover:bg-yellow-300 duration-300 py-1 px-2 rounded text-black w-auto text-base uppercase font-serif">
                      Register
                    </div>
                    {limit ? (
                      <div class="text-red-400 text-sm">Only {limit} left!</div>
                    ) : null}
                  </div>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style
  define:vars={{
    optimizedRegisterBackground: `url(${optimizedRegisterBackground.src})`,
  }}
>
  .active {
    --a: 0deg; /* control the angle of rotation (the smaller, the better) */
    transform: perspective(100px)
      rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
    -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250%
      250%;
    transition: 0.4s;
    /* animation:
      jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 2s forwards,
      rotating 4s var(--sine) 0s infinite forwards; */

    z-index: 50;
  }

  .active:hover {
    --i: -1;
    -webkit-mask-position: 0 0;
  }
  @media (max-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedRegisterBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 25% 70px;
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedRegisterBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
    }
  }
</style>
