---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import cocBackground from "../assets/2025/bg/1.png";
const optimizedCocBackground = await getImage({
  src: cocBackground,
  format: "avif",
  width: 2000,
});

import pepper from "../assets/2025/staff/pepper.png";
import luckrock from "../assets/2025/staff/luckrock.png";
import tenfive from "../assets/2025/staff/15.png";
import kahas from "../assets/2025/staff/kahas.png";
import simply_kneedy from "../assets/2025/staff/simply_kneedy.jpeg";
import compound from "../assets/2025/staff/compound.png";
import zemming from "../assets/2025/staff/zemming.png";
import floof_hoof from "../assets/2025/staff/floof_hoof.png";
import koa from "../assets/2025/staff/koa.png";
import thoth_penswell from "../assets/2025/staff/thoth_penswell.png";
import bernd from "../assets/2025/staff/bernd.png";
import thom_revor from "../assets/2025/staff/thom_revor.png";
import quilldawn from "../assets/2025/staff/quilldawn.png";
import oceanbreeze from "../assets/2025/staff/oceanbreeze.png";
import brittney_ackerman from "../assets/2025/staff/brittney_ackerman.png";
import loopy_logic from "../assets/2025/staff/loopy_logic.jpeg";
import desert from "../assets/2025/staff/desert.png";
import cricket from "../assets/2025/staff/cricket.png";
import sgt_ardent from "../assets/2025/staff/sgt_ardent.png";
import grissess from "../assets/2025/staff/grissess.png";
import midnight_lightning from "../assets/2025/staff/midnight_lightning.png";
import blazingcurent from "../assets/2025/staff/blazingcurent.jpeg";
import electronicsfreak from "../assets/2025/staff/electronicsfreak.png";
import crazymattcaptain from "../assets/2025/staff/crazymattcaptain.jpeg";
import winchester572 from "../assets/2025/staff/winchester572.png";
import broken_skies from "../assets/2025/staff/broken_skies.png";
import Footer from "../components/Footer.astro";
import Staff from "../components/Staff.astro";
---

<Layout title="HarmonyCon 2025 | Venue">
  <div id="bg" class="relative flex flex-col h-screen pt-8 md:pt-16 gap-y-8 px-4 md:px-0">
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Staff
    </div>
    <div class="flex justify-center items-center gap-x-16">
      <Staff src={pepper} name="Pepper" title="Convention Chair" tier={1}/>
      <Staff src={luckrock} name="Luck Rock" title="Vice Chair" tier={1} />
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Audio / Visual
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 mx-auto gap-4">
      <Staff src={midnight_lightning} name="Midnight Lightning" title="A/V Head" tier={2}/>
      <Staff src={blazingcurent} name="Blazingcurent" title="A/V Second" tier={2}/>
      <Staff src={electronicsfreak} name="electronicsfreak" title="A/V Lead" tier={2}/>
      <Staff src={broken_skies} name="Broken Skies" title="A/V Lead" tier={2}/>
      <Staff src={crazymattcaptain} name="CrazymattCaptain" title="A/V Lead" tier={2}/>
      <Staff src={winchester572} name="Winchester572" title="A/V Lead" tier={2}/>
    </div>
    <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 gap-4 mx-auto">
      <Staff src={pepper} name="Benny" title="A/V" tier={3}/>
      <Staff src={pepper} name="Lightning Sky" title="A/V" tier={3}/>
      <Staff src={pepper} name="ShockwaveV88" title="A/V" tier={3}/>
      <Staff src={pepper} name="Bassblitzed" title="A/V" tier={3}/>
      <Staff src={pepper} name="Dashford" title="A/V" tier={3}/>
      <Staff src={pepper} name="haloflooder" title="A/V" tier={3}/>
      <Staff src={pepper} name="Greasy" title="A/V" tier={3}/>
      <Staff src={pepper} name="Cute-Izzy" title="A/V" tier={3}/>
      <Staff src={pepper} name="hipu" title="A/V" tier={3}/>
      <Staff src={pepper} name="Faulty" title="A/V" tier={3}/>
      <Staff src={pepper} name="ocRainStorm" title="A/V" tier={3}/>
      <Staff src={pepper} name="Mindy" title="A/V" tier={3}/>
      <Staff src={pepper} name="DayBat" title="A/V" tier={3}/>
      <Staff src={pepper} name="Raven Horn" title="A/V" tier={3}/>
      <Staff src={pepper} name="rainbowderpy" title="A/V" tier={3}/>
      <Staff src={pepper} name="Adorkablue" title="A/V" tier={3}/>
      <Staff src={pepper} name="Jorge" title="A/V" tier={3}/>
      <Staff src={pepper} name="BrambleShadow" title="A/V" tier={3}/>
      <Staff src={pepper} name="Toa Coy" title="A/V" tier={3}/>
      <Staff src={pepper} name="Jesse" title="A/V" tier={3}/>
      <Staff src={pepper} name="Kayla" title="A/V" tier={3}/>
      <Staff src={pepper} name="Gingerfrizz" title="A/V" tier={3}/>
      <Staff src={pepper} name="ThunderBat" title="A/V" tier={3}/>
      <Staff src={pepper} name="Artix" title="A/V" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Technology
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={tenfive} name="15" title="IT Head" tier={2}/>
      <Staff src={kahas} name="Kahas" title="IT Lead" tier={2}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Safety
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={compound} name="Compound" title="Safety Head" tier={2}/>
      <Staff src={zemming} name="zemming" title="Safety Deputy" tier={2}/>
    </div>
    <div class="grid grid-cols-3 md:grid-cols-5 gap-4 mx-auto">
      <Staff src={pepper} name="Dylan" title="Safety" tier={3}/>
      <Staff src={pepper} name="Ian" title="Safety" tier={3}/>
      <Staff src={pepper} name="LineMonkey" title="Safety" tier={3}/>
      <Staff src={pepper} name="Darthshadow25" title="Safety" tier={3}/>
      <Staff src={pepper} name="Sunup Howdy" title="Safety" tier={3}/>
      <Staff src={pepper} name="Home Slice" title="Safety" tier={3}/>
      <Staff src={pepper} name="Blue Skies" title="Safety" tier={3}/>
      <Staff src={pepper} name="Jesusfeathers" title="Safety" tier={3}/>
      <Staff src={pepper} name="Reggiekrueger" title="Safety" tier={3}/>
      <Staff src={pepper} name="Crisom Chin" title="Safety" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Registration
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={floof_hoof} name="Floof Hoof" title="Registration Head" tier={2}/>
      <Staff src={pepper} name="Vincent" title="Registration Lead" tier={2}/>
    </div>
    <div class="grid grid-cols-3 md:grid-cols-5 gap-4 mx-auto">
      <Staff src={pepper} name="Casper" title="Registration" tier={3}/>
      <Staff src={pepper} name="Cora" title="Registration" tier={3}/>
      <Staff src={pepper} name="Pepper" title="Registration" tier={3}/>
      <Staff src={pepper} name="Mousesocks" title="Registration" tier={3}/>
      <Staff src={pepper} name="Penguineye2" title="Registration" tier={3}/>
      <Staff src={pepper} name="Mignon" title="Registration" tier={3}/>
      <Staff src={pepper} name="King" title="Registration" tier={3}/>
      <Staff src={pepper} name="Note Worthy" title="Registration" tier={3}/>
      <Staff src={pepper} name="Fluffyghost" title="Registration" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Con Store
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={simply_kneedy} name="Simply_Kneedy" title="Con Store Lead" tier={2}/>
    </div>
    <div class="grid grid-cols-4 gap-4 mx-auto">
      <Staff src={pepper} name="Lahtdah" title="Con Store" tier={3}/>
      <Staff src={pepper} name="Helicity" title="Con Store" tier={3}/>
      <Staff src={pepper} name="Lemon the Dutchie" title="Con Store" tier={3}/>
      <Staff src={pepper} name="Agent Bright" title="Con Store" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Concert
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={koa} name="Koa" title="Concert Lead" tier={2}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Public Relations
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={thoth_penswell} name="Thoth Penswell" title="Public Relations Head" tier={2}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Vendor Hall
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={bernd} name="Bernd" title="Vendor Relations Head" tier={2}/>
    </div><div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Consultant
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={thom_revor} name="Thomas Revor" title="Consultant" tier={2}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Events
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={quilldawn} name="QuillDawn" title="Events Lead" tier={2}/>
      <Staff src={oceanbreeze} name="OceanBreeze" title="Events Lead" tier={2}/>
    </div>
    <div class="grid grid-cols-4 gap-4 mx-auto">
      <Staff src={pepper} name="Kissy" title="Events" tier={3}/>
      <Staff src={pepper} name="Coastal" title="Events" tier={3}/>
      <Staff src={pepper} name="Decora" title="Events" tier={3}/>
      <Staff src={pepper} name="Ka3" title="Events" tier={3}/>
      <Staff src={pepper} name="BuckyND" title="Events" tier={3}/>
      <Staff src={pepper} name="41 Cynis in a Trenchcoat" title="Events" tier={3}/>
      <Staff src={pepper} name="Nevaylin" title="Events" tier={3}/>
      <Staff src={pepper} name="Dr. Romulus" title="Events" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Tabletop
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={pepper} name="Eliwood Sain" title="Tabletop Head" tier={2}/>
      <Staff src={pepper} name="undead_rattler" title="Tabletop Lead" tier={2}/>
    </div>
    <div class="grid grid-cols-4 gap-4 mx-auto">
      <Staff src={pepper} name="NightLight" title="Tabletop" tier={3}/>
      <Staff src={pepper} name="Swiftbow Deadeye" title="Tabletop" tier={3}/>
      <Staff src={pepper} name="Palattetip" title="Tabletop" tier={3}/>
      <Staff src={pepper} name="Llisander" title="Tabletop" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Video Games
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={pepper} name="Winds Requiem" title="Video Games Lead" tier={2}/>
      <Staff src={pepper} name="Jasper Smith" title="Video Games Lead" tier={2}/>
    </div>
    <div class="grid grid-cols-3 gap-4 mx-auto">
      <Staff src={pepper} name="wowyfandoms" title="Video Games" tier={3}/>
      <Staff src={pepper} name="Sonic the Headgehog" title="Video Games" tier={3}/>
      <Staff src={pepper} name="ItsJustDashu" title="Video Games" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      VIP Relations
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={cricket} name="Cricket" title="VIP Relations Head" tier={2}/>
    </div>
    <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-6  gap-4 mx-auto">
      <Staff src={pepper} name="Jeff" title="VIPR" tier={3}/>
      <Staff src={pepper} name="Krillik" title="VIPR" tier={3}/>
      <Staff src={pepper} name="Applegeek" title="VIPR" tier={3}/>
      <Staff src={pepper} name="BraveryTheBrony" title="VIPR" tier={3}/>
      <Staff src={pepper} name="Shadow Streak" title="VIPR" tier={3}/>
      <Staff src={pepper} name="Coach" title="VIPR" tier={3}/>
      <Staff src={pepper} name="SacredNight" title="VIPR" tier={3}/>
      <Staff src={pepper} name="Drea" title="VIPR" tier={3}/>
      <Staff src={pepper} name="Sparrow" title="VIPR" tier={3}/>
      <Staff src={pepper} name="code807" title="VIPR" tier={3}/>
      <Staff src={pepper} name="B. B. Wolf" title="VIPR" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Operations
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={sgt_ardent} name="SGT Ardent" title="Operations Director" tier={2}/>
      <Staff src={grissess} name="Grissess" title="Operations Deputy" tier={2}/>
    </div>
    <div class="grid grid-cols-3 md:grid-cols-5 gap-4 mx-auto">
      <Staff src={pepper} name="Spec" title="Operations" tier={3}/>
      <Staff src={pepper} name="LastWolfie" title="Operations" tier={3}/>
      <Staff src={pepper} name="Freelancer" title="Operations" tier={3}/>
      <Staff src={pepper} name="Llisander" title="Operations" tier={3}/>
      <Staff src={pepper} name="Princess Cadance" title="Operations" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Venue Liaison
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={pepper} name="Woog" title="Venue Liaison Lead" tier={2}/>
      <Staff src={pepper} name="Flightwatch" title="Venue Liaison Lead" tier={2}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Design
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={brittney_ackerman} name="Brittney Ackerman (LBRCloud)" title="Design Lead" tier={2}/>
    </div>
    <div class="grid grid-cols-3 md:grid-cols-5 gap-4 mx-auto">
      <Staff src={pepper} name="SaphyMoon" title="Design" tier={3}/>
      <Staff src={pepper} name="WindyKirin" title="Design" tier={3}/>
      <Staff src={pepper} name="CrimmHarmony" title="Design" tier={3}/>
      <Staff src={pepper} name="NekoSnicker" title="Design" tier={3}/>
      <Staff src={pepper} name="Gobiraptor" title="Design" tier={3}/>
      <Staff src={pepper} name="BlueFeatherCat" title="Design" tier={3}/>
      <Staff src={pepper} name="Oomles" title="Design" tier={3}/>
      <Staff src={pepper} name="Beardie" title="Design" tier={3}/>
      <Staff src={pepper} name="Bobby Seas" title="Design" tier={3}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Charity
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={loopy_logic} name="Loopy Logic" title="Charity Auction Head" tier={2}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Logistics
    </div>
    <div class="flex justify-center items-center gap-12">
      <Staff src={desert} name="Desert" title="Logistics Lead" tier={2}/>
    </div>
    <div class="w-3/4 xl:w-[60rem] mx-auto border-t border-[3px] border-white/70"></div>
    <div
      class="cursor-default font-serif uppercase text-center font-semibold text-4xl text-white z-10"
      style="text-shadow: 3px 3px 1px #000;"
    >
      Conbook
    </div>
    <div class="flex justify-center items-center gap-12 mb-24">
      <Staff src={brittney_ackerman} name="Brittney Ackerman (LBRCloud)" title="Conbook Head" tier={2}/>
    </div>
    <Footer />
  </div>

  <style
    define:vars={{
      optimizedCocBackground: `url(${optimizedCocBackground.src})`,
    }}
  >
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      background-image: var(--optimizedCocBackground);
      background-repeat: repeat;
      background-size: 100%;
      background-position: center;
      opacity: 1;
    }

    .card1 {
      animation:
      /* reveal 0.7s cubic-bezier(0.5, 0.1, 0.1, 1) 0.6s forwards,
      zoom 0.75s ease-out 0.6s forwards, */ floating1
        4s var(--sine) 0s infinite forwards;
    }

    .card2 {
      animation:
      /* reveal 0.7s cubic-bezier(0.5, 0.1, 0.1, 1) 0.8s forwards,
      zoom 0.75s ease-out 0.9s forwards, */ floating2
        5s var(--sine) 0.4s infinite forwards;
    }

    .card3 {
      animation:
      /* reveal 0.7s cubic-bezier(0.5, 0.1, 0.1, 1) 1s forwards,
      zoom 0.75s ease-out 1.2s forwards, */ floating3
        4.5s var(--sine) 0.8s infinite forwards;
    }

    @keyframes reveal {
      from {
        /* bottom: -150vh; */
        opacity: 1;
        transform: translateY(-300%);
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    @keyframes zoom {
      from {
        rotate: 10deg;
        scale: 1;
      }
      to {
        rotate: -0.3deg;
        scale: 1;
      }
    }

    @keyframes floating1 {
      0% {
        translate: 0px 0px;
      }
      50% {
        translate: 0px 6px;
      }
      100% {
        translate: 0px 0px;
      }
    }

    @keyframes floating2 {
      0% {
        translate: 0px 0px;
      }
      50% {
        translate: 0px -6px;
      }
      100% {
        translate: 0px 0px;
      }
    }

    @keyframes floating3 {
      0% {
        translate: 0px 0px;
      }
      50% {
        translate: 0px 5px;
      }
      100% {
        translate: 0px 0px;
      }
    }
  </style>
</Layout>
