---
const { name, pfp, title, url = null } = Astro.props;
import { Image, getImage } from "astro:assets";

import paper from "../assets/2025/textured-paper.png";
const optimizedPaper = await getImage({
  src: paper,
  format: "avif",
  width: 300,
});
---

<a
  href={url}
  target="_blank"
  class="hover:scale-[1.05] duration-300 cursor-pointer mx-auto flex flex-col w-72 gap-y-32 md:gap-y-32 2xl:gap-y-40 justify-center items-center"
>
  <div class="drop-shadow-2xl flex items-center justify-center">
    <div class="absolute starburst-5 inside z-50">
      <div
        style="text-shadow: 1px 2px 2px black;"
        class="z-[100] text-[#D4AF37] flex flex-col items-center justify-center w-full h-full text-center font-semibold"
      >
        <div
          class="uppercase text-xl md:text-xl 2xl:text-2xl leading-tight tracking-tight"
        >
          {name}
        </div>
        <div class="drop-shadow-2xl">
          <Image
            src={pfp}
            alt="Profile picture"
            width={64}
            format="avif"
            class="bg-transparent w-16 rounded-full border-[#D4AF37] border-[3px]"
          />
        </div>
      </div>
    </div>
    <div class="absolute starburst-5 outside z-40"></div>
  </div>
  <div
    style="text-shadow: 2px 2px 1px #D4AF37;"
    class="cursor-default whitespace-nowrap text-white text-center text-xl text-xl 2xl:text-2xl font-semibold z-50"
  >
    {title}
  </div>
</a>

<style
  define:vars={{
    optimizedPaper: `url(${optimizedPaper.src})`,
  }}
>
  .inside {
    background: radial-gradient(circle at center, #a46f71, #880808);
    @apply w-72 md:w-72 2xl:w-80;
  }

  .inside:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.4;
    background-image: var(--optimizedPaper);
    background-repeat: repeat;
    background-size: 48rem;
    background-position: center;
  }

  .outside {
    background-color: #d4af37;
    @apply w-80 md:w-80 2xl:w-88;
    opacity: 1;
    background-image: var(--optimizedPaper);
  }

  .starburst-5 {
    text-align: center;
    aspect-ratio: 1;
    clip-path: polygon(
      79.9% 90.08%,
      49.37% 0%,
      21.12% 90.82%,
      97.35% 33.95%,
      2.26% 35.15%,
      79.9% 90.08%,
      49.37% 0%,
      21.12% 90.82%,
      97.35% 33.95%,
      2.26% 35.15%
    );
  }
</style>
