---
const { title, desktopOverflow = false, mobileOverflow = true } = Astro.props;
// import { ViewTransitions } from "astro:transitions";
import { getImage } from "astro:assets";
import Exit from "../components/Exit.astro";
import Footer from "../components/Footer.astro";

import curtains1 from "../assets/2025/curtain_full.png";
const optimizedCurtains1 = await getImage({
  src: curtains1,
  format: "avif",
  width: 2000,
});

import curtains2 from "../assets/2025/curtain_fall2.png";
const optimizedCurtains2 = await getImage({
  src: curtains2,
  format: "avif",
  width: 200,
});

import indexBackground from "../assets/2025/bg/stage3.png";
const optimizedIndexBackground = await getImage({
  src: indexBackground,
  format: "avif",
  width: 2000,
});

import creditsBackground from "../assets/2025/bg/terrazzo-transformed.jpg";
const optimizedCreditsBackground = await getImage({
  src: creditsBackground,
  format: "avif",
  width: 2000,
});

import wood1 from "../assets/2025/borders/wood.jpg";
const optimizedWood1 = await getImage({
  src: wood1,
  format: "avif",
  width: 500,
});

import wood2 from "../assets/2025/borders/dark_wood.jpg";
const optimizedWood2 = await getImage({
  src: wood2,
  format: "avif",
  width: 500,
});

import wood3 from "../assets/2025/borders/light_wood.jpg";
const optimizedWood3 = await getImage({
  src: wood3,
  format: "avif",
  width: 500,
});

import wood4 from "../assets/2025/borders/lighter_wood.jpg";
const optimizedWood4 = await getImage({
  src: wood4,
  format: "avif",
  width: 500,
});

import wood5 from "../assets/2025/borders/lightest_wood.jpg";
const optimizedWood5 = await getImage({
  src: wood5,
  format: "avif",
  width: 500,
});

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GHFYSZQDXC"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GHFYSZQDXC");
    </script>
    <meta charset="UTF-8" />
    <meta property="og:title" content="HarmonyCon 2025" />
    <meta
      property="og:description"
      content="Get ready for an unforgettable experience at HarmonyCon 2024, happening from February 2nd to 4th at our brand-new venue, the Hyatt Regency in Downtown Dallas! This year's convention promises to be a spectacular showcase featuring special guests, a plethora of community personalities, our Scene-themed Anti-Prom event, and two nights of concerts boasting a lineup so impressive that any aficionado of horse music will undoubtedly regret missing out!"
    />
    <meta property="og:image" content="/flyer.png" />
    <meta property="og:image:width" content="4500" />
    <meta property="og:image:height" content="3000" />
    <meta property="og:url" content="https://harmonycon.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="HarmonyCon 2025" />
    <meta property="og:image:alt" content="HarmonyCon flyer" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="HarmonyCon 2025" />
    <meta
      name="twitter:description"
      content="Get ready for an unforgettable experience at HarmonyCon 2024, happening from February 2nd to 4th at our brand-new venue, the Hyatt Regency in Downtown Dallas! This year's convention promises to be a spectacular showcase featuring special guests, a plethora of community personalities, our Scene-themed Anti-Prom event, and two nights of concerts boasting a lineup so impressive that any aficionado of horse music will undoubtedly regret missing out!"
    />
    <meta name="twitter:image" content="/flyer.png" />
    <meta
      name="description"
      content="Get ready for an unforgettable experience at HarmonyCon 2024, happening from February 2nd to 4th at our brand-new venue, the Hyatt Regency in Downtown Dallas! This year's convention promises to be a spectacular showcase featuring special guests, a plethora of community personalities, our Scene-themed Anti-Prom event, and two nights of concerts boasting a lineup so impressive that any aficionado of horse music will undoubtedly regret missing out!"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/logo/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preload"
      href={optimizedCurtains1.src}
      as="image"
      fetchpriority="high"
    />
    <link
      rel="preload"
      href={optimizedIndexBackground.src}
      as="image"
      fetchpriority="low"
    />
    <link
      rel="preload"
      href={optimizedCurtains2.src}
      as="image"
      fetchpriority="high"
    />
    <link
      rel="preload"
      href={optimizedCreditsBackground.src}
      as="image"
      fetchpriority="low"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700"
      rel="stylesheet"
    />

    <link
      rel="preload"
      href="/fonts/Latin CG Bold Regular.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
  </head>
  <body
    class={`m-0 p-0 min-h-svh h-auto overflow-x-hidden ${mobileOverflow ? "overflow-y-auto" : "overflow-y-hidden"} ${desktopOverflow ? "md:overflow-y-auto" : "md:overflow-y-hidden"}`}
  >
    <main id="swup">
      {!["/", "/main", "/main/"].includes(pathname) ? <Exit /> : null}
      <slot />
    </main>
  </body>
</html>

<style
  is:global
  define:vars={{
    optimizedCurtains1: `url(${optimizedCurtains1.src})`,
    optimizedCurtains2: `url(${optimizedCurtains2.src})`,
    optimizedWood1: `url(${optimizedWood1.src})`,
    optimizedWood2: `url(${optimizedWood2.src})`,
    optimizedWood3: `url(${optimizedWood3.src})`,
    optimizedWood4: `url(${optimizedWood4.src})`,
    optimizedWood5: `url(${optimizedWood5.src})`,
  }}
>
  :root {
    color-scheme: dark;
  }

  @font-face {
    font-family: "Latin CG Bold";
    src: local("/fonts/Latin CG Bold Regular.otf"),
      url("/fonts/Latin CG Bold Regular.otf");
    font-weight: normal;
    font-style: normal;
  }

  html {
    @apply m-0 p-0;
    --swup-overlay-theme-color: #771c2a;
    --swup-overlay-theme-duration: 0.6s;
    --swup-overlay-theme-delay: 0.2s;
    --swup-overlay-theme-scale: 1;
    --swup-overlay-theme-skew: 0deg;

    scrollbar-width: thin;
    scrollbar-color: #771c2a #eaeaea;
    /* scrollbar-gutter: stable; */
    /* scrollbar-color: #eaeaea #771c2a; */
  }

  body {
    @apply m-0 p-0;
  }

  html.is-changing .swup-transition-overlay {
    opacity: 1;
    transition: transform var(--swup-overlay-theme-duration)
      var(--swup-overlay-theme-delay);
  }

  @media (max-width: 768px) {
    .swup-transition-overlay {
      background: linear-gradient(
        45deg,
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(0, 0, 0)
      );
      background-image: var(--optimizedCurtains2);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 768px) {
    .swup-transition-overlay {
      background: linear-gradient(
        45deg,
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgb(0, 0, 0)
      );
      background-image: var(--optimizedCurtains2);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .swup-transition-overlay[data-direction="to-top"],
  .swup-transition-overlay[data-direction="to-bottom"] {
    --swup-overlay-x-scale: 1;
    --swup-overlay-y-scale: 1.2;
  }

  .swup-transition-overlay[data-direction="to-bottom"] {
    transform: translate3d(
        0,
        calc(-1 * var(--swup-overlay-transform-y-value)),
        0
      )
      skewY(var(--swup-overlay-skew-value));
  }

  html.is-animating .swup-transition-overlay[data-direction="to-bottom"] {
    transform: translate3d(0, 0, 0) skewY(var(--swup-overlay-skew-value));
  }

  html.is-rendering .swup-transition-overlay[data-direction="to-bottom"] {
    transform: translate3d(
        0,
        calc(-1 * var(--swup-overlay-transform-y-value)),
        0
      )
      skewY(var(--swup-overlay-skew-value));
  }

  .wood {
    border-image: url("/wood.jpg") 30 30 stretch;
    border: 16px solid url("/wood.jpg") 30 30 stretch;
  }

  .wood2 {
    border-image: url("/dark_wood.jpg") 30 30 stretch;
    border: 16px solid url("/dark_wood.jpg") 30 30 stretch;
  }

  .wood3 {
    border-image: url("/light_wood.jpg") 30 30 stretch;
    border: 16px solid url("/light_wood.jpg") 30 30 stretch;
  }

  .wood4 {
    border-image: url("/lighter_wood.jpg") 30 30 stretch;
    border: 16px solid url("/lighter_wood.jpg") 30 30 stretch;
  }

  .wood5 {
    border-image: url("/lightest_wood.jpg") 30 30 stretch;
    border: 16px solid url("/lightest_wood.jpg") 30 30 stretch;
  }
</style>

<script>
  // import lightGallery from "lightgallery";
  // import lgThumbnail from "lightgallery/plugins/thumbnail";
  // import lgZoom from "lightgallery/plugins/zoom";
  // let gallery;

  // if (!window.location.pathname.includes("/main")) {
  //   window.scrollTo(0, 0);
  // }

  // document.addEventListener("swup:enable", () => {
  //   if (document.getElementById("lightgallery") && !gallery) {
  //     gallery = lightGallery(document.getElementById("lightgallery"), {
  //       plugins: [lgZoom, lgThumbnail],
  //       speed: 500,
  //       licenseKey: import.meta.env.PUBLIC_KEY,
  //       mobileSettings: {
  //         controls: false,
  //         showCloseIcon: true,
  //         download: true,
  //       },
  //     });
  //   }

  //   window.swup.hooks.on("content:replace", () => {
  //     if (window.location.pathname.includes("gallery")) {
  //       gallery = lightGallery(document.getElementById("lightgallery"), {
  //         plugins: [lgZoom, lgThumbnail],
  //         speed: 500,
  //         licenseKey: import.meta.env.PUBLIC_KEY,
  //         mobileSettings: {
  //           controls: false,
  //           showCloseIcon: true,
  //           download: true,
  //         },
  //       });
  //     }

  //     if (window.location.pathname.includes("main")) {
  //       if (gallery) {
  //         gallery.destroy();
  //       }
  //     }
  //   });
  // });
</script>
